//Bootstrap
//-------------------------
$brand-success                      : #82a8e5;
//$font-family-base                   : "Raleway", sans-serif;
$btn-success-bg                     : $brand-success;
$btn-success-border                 : $brand-success;
$label-success-bg                   : $brand-success;
$progress-bar-success-bg            : $brand-success;
$link-hover-color                   : $brand-success;
//Themes 
//--------------------------
$theme-color                        : #82a8e5;
$image-theme-path                   : '../../../images/';
$image-theme-skin                   : '../../../images/skins/red/';
$woo-font-path                      : '../../../fonts/woocommerce/';
$theme-font-path                 	: '../../../fonts/';

//Font
//--------------------------
$font-family-sans-serif				: 'Ubuntu', sans-serif;
$headings-font-family				: 'Ubuntu', sans-serif;
//$font-family-second                 : "Raleway";  
// $font-slide-primary                 : "Raleway";
// $font-family-third                  : 'Raleway';
   
// SideBar
$block-sidebar-heading-color			: #82a8e5;

//Footer
$footer-link-hover-color				: #82a8e5;
// $footer-heading-transform           : none;
// $footer-heading-font-size           : 18px;
// $footer-heading-color               : #fff;   
// $footer-bg                          : #1D1D29;
// $copyright-bg                       : #161620;
// $footer-color                       : #777777;