/*--------------------------------------------------------------
Hello, this is the BuddyPress Legacy stylesheet.

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1. bbPress Style
2. Topic and reply content
3. bbPress Components
  3.1. Reply to
  3.2. Breadcrumb and Tags
  3.3. Search
  3.4. Admin Links
  3.5. Toggles
  3.6. Pagination
  3.7. Forms
4. Fix for too-long forum names, usually from conversion
  4.1. TinyMCE in themes
  4.2. Edit User
  4.3. Notices
  4.4. Stickies
  4.5. Revisions
  4.6. Widgets
  4.7. Avatars
  4.8. BuddyPress Activity Streams
  4.9. User Pages
  4.10. User Capabilities
  4.11. BuddyPress Group Forums
5. Media Queries
  5.1. Standard Mobile Landscape
  5.2. Standard Mobile Portrait
  5.3. Extra Small Mobile



--------------------------------------------------------------*/
/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
* Web Application Prefix Apply For Making Owner Styles
*/
/**
 *   Blocks Layout Selectors
 */
/********* LAYOUT **************/
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons for light style */
/* Variables icons outline */
/* Variables icons inverse */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* --- SCSS For Typography --- */
/* 1. Utilities */
/****/
/** elements mixins **/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/*inline-block
============================================*/
/****/
/****/
/**
 * bbPress specific CSS
 *
 * @package bbPress
 * @subpackage Theme
 */
/* 1. bbPress Style
-------------------------------------------------------------- */
/* line 60, ../sass/bbpress.scss */
#bbpress-forums hr {
  margin: 0 0 24px 0;
}

/* line 64, ../sass/bbpress.scss */
#bbpress-forums {
  background: transparent;
  clear: both;
  margin-bottom: 20px;
  overflow: hidden;
}

/* line 72, ../sass/bbpress.scss */
#bbpress-forums div.even,
#bbpress-forums ul.even {
  background-color: #fff;
}

/* line 77, ../sass/bbpress.scss */
#bbpress-forums div.odd,
#bbpress-forums ul.odd {
  background-color: #fbfbfb;
}

/* line 82, ../sass/bbpress.scss */
body.reply-edit .reply {
  float: none;
}

/* line 86, ../sass/bbpress.scss */
#bbpress-forums div.reply {
  height: auto;
  width: 100%;
}

/* line 91, ../sass/bbpress.scss */
#bbpress-forums div.bbp-forum-header,
#bbpress-forums div.bbp-topic-header,
#bbpress-forums div.bbp-reply-header {
  background-color: #f4f4f4;
}

/* line 97, ../sass/bbpress.scss */
#bbpress-forums .status-trash.even,
#bbpress-forums .status-spam.even {
  background-color: #fee;
}

/* line 101, ../sass/bbpress.scss */
#bbpress-forums .status-trash.odd,
#bbpress-forums .status-spam.odd {
  background-color: #fdd;
}

/* line 106, ../sass/bbpress.scss */
#bbpress-forums .status-closed,
#bbpress-forums .status-closed a {
  color: #ccc;
}

/* line 111, ../sass/bbpress.scss */
#bbpress-forums ul {
  background: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* line 118, ../sass/bbpress.scss */
#bbpress-forums ul.bbp-threaded-replies {
  margin-left: 50px;
}

/* line 122, ../sass/bbpress.scss */
#bbpress-forums li {
  background: none;
  margin: 0;
  list-style: none;
}

/* line 128, ../sass/bbpress.scss */
#bbpress-forums ul.bbp-lead-topic,
#bbpress-forums ul.bbp-topics,
#bbpress-forums ul.bbp-forums,
#bbpress-forums ul.bbp-replies,
#bbpress-forums ul.bbp-search-results {
  overflow: hidden;
  border: 1px solid #eee;
  margin-bottom: 20px;
  clear: both;
}

/* line 140, ../sass/bbpress.scss */
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-body,
#bbpress-forums li.bbp-footer {
  clear: both;
}

/* line 146, ../sass/bbpress.scss */
#bbpress-forums li.bbp-header,
#bbpress-forums li.bbp-footer {
  background: #f3f3f3;
  border-top: 1px solid #eee;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

/* line 155, ../sass/bbpress.scss */
#bbpress-forums li.bbp-header {
  background: #eaeaea;
}

/* line 159, ../sass/bbpress.scss */
#bbpress-forums li.bbp-header ul {
  overflow: hidden;
}

/* line 163, ../sass/bbpress.scss */
#bbpress-forums .bbp-forums-list {
  margin: 0 0 0 5px;
  padding-left: 15px;
  border-left: 1px solid #ddd;
}

/* line 169, ../sass/bbpress.scss */
#bbpress-forums .bbp-forums-list li {
  display: inline;
  font-size: 11px;
}

/* line 174, ../sass/bbpress.scss */
#bbpress-forums li.bbp-footer p {
  margin: 0;
  line-height: 1em;
}

/* line 179, ../sass/bbpress.scss */
li.bbp-forum-info,
li.bbp-topic-title {
  float: left;
  text-align: left;
  width: 55%;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl li.bbp-forum-info, .rtl
li.bbp-topic-title {
  float: right;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl li.bbp-forum-info, .rtl
li.bbp-topic-title {
  text-align: right;
}

/* line 185, ../sass/bbpress.scss */
li.bbp-forum-topic-count,
li.bbp-topic-voice-count,
li.bbp-forum-reply-count,
li.bbp-topic-reply-count {
  float: left;
  text-align: center;
  width: 10%;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl li.bbp-forum-topic-count, .rtl
li.bbp-topic-voice-count, .rtl
li.bbp-forum-reply-count, .rtl
li.bbp-topic-reply-count {
  float: right;
}

/* line 194, ../sass/bbpress.scss */
li.bbp-forum-freshness,
li.bbp-topic-freshness {
  text-align: center;
  float: left;
  width: 22%;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl li.bbp-forum-freshness, .rtl
li.bbp-topic-freshness {
  float: right;
}

/* line 201, ../sass/bbpress.scss */
#bbpress-forums li.bbp-body ul.forum,
#bbpress-forums li.bbp-body ul.topic {
  border-top: 1px solid #eee;
  overflow: hidden;
  padding: 8px;
}

/* line 208, ../sass/bbpress.scss */
li.bbp-header div.bbp-topic-content span#subscription-toggle,
li.bbp-header div.bbp-topic-content span#favorite-toggle,
li.bbp-header div.bbp-reply-content span#subscription-toggle,
li.bbp-header div.bbp-reply-content span#favorite-toggle {
  float: right;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl li.bbp-header div.bbp-topic-content span#subscription-toggle, .rtl
li.bbp-header div.bbp-topic-content span#favorite-toggle, .rtl
li.bbp-header div.bbp-reply-content span#subscription-toggle, .rtl
li.bbp-header div.bbp-reply-content span#favorite-toggle {
  float: left;
}

/* line 215, ../sass/bbpress.scss */
#bbpress-forums div.bbp-forum-title h3,
#bbpress-forums div.bbp-topic-title h3,
#bbpress-forums div.bbp-reply-title h3 {
  background: none;
  border: none;
  font-size: 16px;
  line-height: 1em;
  margin: 8px 0;
  padding: 0;
  text-transform: none;
}

/* line 227, ../sass/bbpress.scss */
#bbpress-forums div.bbp-forum-author,
#bbpress-forums div.bbp-topic-author,
#bbpress-forums div.bbp-reply-author {
  float: left;
  text-align: center;
  width: 115px;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums div.bbp-forum-author, .rtl
#bbpress-forums div.bbp-topic-author, .rtl
#bbpress-forums div.bbp-reply-author {
  float: right;
}

/* line 235, ../sass/bbpress.scss */
#bbpress-forums div.bbp-forum-author img.avatar,
#bbpress-forums div.bbp-topic-author img.avatar,
#bbpress-forums div.bbp-reply-author img.avatar {
  border: none;
  max-width: 80px;
  padding: 0;
  margin: 12px auto 0 auto;
  float: none;
}

/* line 245, ../sass/bbpress.scss */
#bbpress-forums div.bbp-forum-author a.bbp-author-name,
#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
  margin: 0 12px;
  word-break: break-word;
  display: inline-block;
}

/* line 253, ../sass/bbpress.scss */
#bbpress-forums div.bbp-topic-author a.bbp-author-name,
#bbpress-forums div.bbp-reply-author a.bbp-author-name {
  clear: left;
  display: block;
}

/* line 259, ../sass/bbpress.scss */
#bbpress-forums div.bbp-forum-author .bbp-author-role,
#bbpress-forums div.bbp-topic-author .bbp-author-role,
#bbpress-forums div.bbp-reply-author .bbp-author-role {
  font-size: 11px;
  font-style: italic;
}

/* line 266, ../sass/bbpress.scss */
#bbpress-forums li.bbp-header .bbp-search-author,
#bbpress-forums li.bbp-footer .bbp-search-author,
#bbpress-forums li.bbp-header .bbp-forum-author,
#bbpress-forums li.bbp-footer .bbp-forum-author,
#bbpress-forums li.bbp-header .bbp-topic-author,
#bbpress-forums li.bbp-footer .bbp-topic-author,
#bbpress-forums li.bbp-header .bbp-reply-author,
#bbpress-forums li.bbp-footer .bbp-reply-author {
  float: left;
  margin: 0;
  padding: 0;
  width: 120px;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums li.bbp-header .bbp-search-author, .rtl
#bbpress-forums li.bbp-footer .bbp-search-author, .rtl
#bbpress-forums li.bbp-header .bbp-forum-author, .rtl
#bbpress-forums li.bbp-footer .bbp-forum-author, .rtl
#bbpress-forums li.bbp-header .bbp-topic-author, .rtl
#bbpress-forums li.bbp-footer .bbp-topic-author, .rtl
#bbpress-forums li.bbp-header .bbp-reply-author, .rtl
#bbpress-forums li.bbp-footer .bbp-reply-author {
  float: right;
}

/* line 280, ../sass/bbpress.scss */
#bbpress-forums li.bbp-header .bbp-search-content,
#bbpress-forums li.bbp-footer .bbp-search-content,
#bbpress-forums li.bbp-header .bbp-forum-content,
#bbpress-forums li.bbp-footer .bbp-forum-content,
#bbpress-forums li.bbp-header .bbp-topic-content,
#bbpress-forums li.bbp-footer .bbp-topic-content,
#bbpress-forums li.bbp-header .bbp-reply-content,
#bbpress-forums li.bbp-footer .bbp-reply-content {
  margin-left: 140px;
  padding: 0;
  text-align: left;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums li.bbp-header .bbp-search-content, .rtl
#bbpress-forums li.bbp-footer .bbp-search-content, .rtl
#bbpress-forums li.bbp-header .bbp-forum-content, .rtl
#bbpress-forums li.bbp-footer .bbp-forum-content, .rtl
#bbpress-forums li.bbp-header .bbp-topic-content, .rtl
#bbpress-forums li.bbp-footer .bbp-topic-content, .rtl
#bbpress-forums li.bbp-header .bbp-reply-content, .rtl
#bbpress-forums li.bbp-footer .bbp-reply-content {
  text-align: right;
}

/* line 294, ../sass/bbpress.scss */
div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header,
li.bbp-body div.hentry {
  margin-bottom: 0;
  overflow: hidden;
  padding: 8px;
}

/* line 303, ../sass/bbpress.scss */
div.bbp-forum-header,
div.bbp-topic-header,
div.bbp-reply-header {
  border-top: 1px solid #ddd;
  clear: both;
}

/* line 310, ../sass/bbpress.scss */
span.bbp-author-ip {
  font-family: 'Helvetica Neue', Arial, Helvetica, 'Nimbus Sans L', sans-serif;
  font-size: 11px;
  font-weight: bold;
  color: #aaa;
}

/* 2. Topic and reply content
-------------------------------------------------------------- */
/* line 320, ../sass/bbpress.scss */
#bbpress-forums div.bbp-forum-content,
#bbpress-forums div.bbp-topic-content,
#bbpress-forums div.bbp-reply-content {
  margin-left: 130px;
  padding: 12px 12px 12px 0;
  text-align: left;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums div.bbp-forum-content, .rtl
#bbpress-forums div.bbp-topic-content, .rtl
#bbpress-forums div.bbp-reply-content {
  text-align: right;
}

/* 3. bbPress Components
--------------------------------------------------------*/
/* line 332, ../sass/bbpress.scss */
#bbpress-forums div.bbp-forum-content:after,
#bbpress-forums div.bbp-topic-content:after,
#bbpress-forums div.bbp-reply-content:after {
  clear: both;
  content: ".";
  display: block;
  float: none;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

/* line 344, ../sass/bbpress.scss */
#bbpress-forums div.bbp-topic-content a,
#bbpress-forums div.bbp-reply-content a {
  background: none;
  border: none;
  display: inline;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

/* line 354, ../sass/bbpress.scss */
#bbpress-forums div.bbp-topic-content h1,
#bbpress-forums div.bbp-reply-content h1,
#bbpress-forums div.bbp-topic-content h2,
#bbpress-forums div.bbp-reply-content h2,
#bbpress-forums div.bbp-topic-content h3,
#bbpress-forums div.bbp-reply-content h3,
#bbpress-forums div.bbp-topic-content h4,
#bbpress-forums div.bbp-reply-content h4,
#bbpress-forums div.bbp-topic-content h5,
#bbpress-forums div.bbp-reply-content h5,
#bbpress-forums div.bbp-topic-content h6,
#bbpress-forums div.bbp-reply-content h6 {
  clear: none;
  line-height: 1em;
  margin: 24px 0;
  padding: 0;
}

/* line 372, ../sass/bbpress.scss */
#bbpress-forums div.bbp-topic-content img,
#bbpress-forums div.bbp-reply-content img {
  max-width: 100%;
}

/* line 377, ../sass/bbpress.scss */
#bbpress-forums div.bbp-topic-content ul,
#bbpress-forums div.bbp-reply-content ul,
#bbpress-forums div.bbp-topic-content ol,
#bbpress-forums div.bbp-reply-content ol {
  margin: 0 15px 15px;
  padding: 0;
}

/* line 385, ../sass/bbpress.scss */
#bbpress-forums div.bbp-topic-content ul li,
#bbpress-forums div.bbp-reply-content ul li {
  list-style-type: disc;
}

/* line 390, ../sass/bbpress.scss */
#bbpress-forums div.bbp-topic-content ol li,
#bbpress-forums div.bbp-reply-content ol li {
  list-style-type: decimal;
}

/* line 395, ../sass/bbpress.scss */
#bbpress-forums div.bbp-topic-content ol li li,
#bbpress-forums div.bbp-reply-content ol li li {
  list-style-type: lower-alpha;
}

/* line 400, ../sass/bbpress.scss */
#bbpress-forums div.bbp-topic-content ol li li li,
#bbpress-forums div.bbp-reply-content ol li li li {
  list-style-type: upper-roman;
}

/* line 405, ../sass/bbpress.scss */
#bbpress-forums div.bbp-topic-content code,
#bbpress-forums div.bbp-reply-content code,
#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
  font-family: Inconsolata, Consolas, Monaco, Lucida Console, monospace;
  display: inline-block;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  padding: 0 5px;
  max-width: 95%;
  vertical-align: middle;
  margin-top: -3px;
}

/* line 419, ../sass/bbpress.scss */
#bbpress-forums div.bbp-topic-content pre,
#bbpress-forums div.bbp-reply-content pre {
  display: block;
  line-height: 18px;
  margin: 0 0 24px;
  padding: 5px 10px;
  white-space: pre;
  overflow: auto;
}

/* line 429, ../sass/bbpress.scss */
#bbpress-forums div.bbp-topic-content pre code,
#bbpress-forums div.bbp-reply-content pre code {
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  overflow-wrap: normal;
  overflow: auto;
  max-width: 100%;
}

/* 3.1. Reply to
-------------------------------------------------------------- */
/* line 444, ../sass/bbpress.scss */
#bbpress-forums div.bbp-reply-to {
  margin-left: 130px;
  padding: 12px 12px 12px 0;
  text-align: right;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums div.bbp-reply-to {
  text-align: left;
}

/* line 450, ../sass/bbpress.scss */
#bbpress-forums div#bbp-cancel-reply-to {
  text-align: right;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums div#bbp-cancel-reply-to {
  text-align: left;
}

/* 3.2. Breadcrumb and Tags
-------------------------------------------------------------- */
/* line 457, ../sass/bbpress.scss */
div.bbp-breadcrumb {
  float: left;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl div.bbp-breadcrumb {
  float: right;
}

/* line 461, ../sass/bbpress.scss */
div.bbp-breadcrumb,
div.bbp-topic-tags {
  font-size: 12px;
}

/* line 466, ../sass/bbpress.scss */
#bbpress-forums div.bbp-breadcrumb p,
#bbpress-forums div.bbp-topic-tags p {
  margin-bottom: 10px;
}

/* line 471, ../sass/bbpress.scss */
#bbpress-forums div.bbp-topic-tags {
  float: right;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums div.bbp-topic-tags {
  float: left;
}

/* line 475, ../sass/bbpress.scss */
#bbp-topic-hot-tags {
  clear: both;
}

/* 3.3. Search
-------------------------------------------------------------- */
/* line 482, ../sass/bbpress.scss */
#bbpress-forums #bbp-search-form {
  clear: left;
}

/* line 486, ../sass/bbpress.scss */
#bbpress-forums #bbp-search-form .hidden {
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
  background: none;
  left: -999em;
}

/* line 495, ../sass/bbpress.scss */
#bbpress-forums #bbp-search-form #bbp_search {
  display: inline-block;
  width: auto;
}

/* line 500, ../sass/bbpress.scss */
#bbpress-forums div.bbp-search-form {
  float: right;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums div.bbp-search-form {
  float: left;
}

/* 3.4. Admin Links
-------------------------------------------------------------- */
/* line 507, ../sass/bbpress.scss */
span.bbp-admin-links {
  float: right;
  color: #ddd;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl span.bbp-admin-links {
  float: left;
}

/* line 511, ../sass/bbpress.scss */
span.bbp-admin-links a {
  color: #bbb;
  font-weight: normal;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
}

/* line 518, ../sass/bbpress.scss */
fieldset span.bbp-admin-links {
  float: left;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl fieldset span.bbp-admin-links {
  float: right;
}

/* line 521, ../sass/bbpress.scss */
tr td span.bbp-admin-links a:hover {
  color: #ff4b33;
}

/* line 524, ../sass/bbpress.scss */
td.bbp-topic-admin-links,
td.bbp-topic-counts {
  width: 50%;
}

/* line 529, ../sass/bbpress.scss */
.bbp-forum-header a.bbp-forum-permalink,
.bbp-topic-header a.bbp-topic-permalink,
.bbp-reply-header a.bbp-reply-permalink {
  float: right;
  margin-left: 10px;
  color: #ccc;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl .bbp-forum-header a.bbp-forum-permalink, .rtl
.bbp-topic-header a.bbp-topic-permalink, .rtl
.bbp-reply-header a.bbp-reply-permalink {
  float: left;
}

/* 3.5. Toggles
-------------------------------------------------------------- */
/* line 540, ../sass/bbpress.scss */
.bbp-row-actions #favorite-toggle a {
  text-decoration: none;
  padding: 0 3px 1px;
  color: #7c7;
  border: 1px solid #aca;
  background-color: #dfd;
  font-weight: bold;
  font-size: 13px;
}

/* line 549, ../sass/bbpress.scss */
.bbp-row-actions #favorite-toggle a:hover {
  color: #5a5;
  border-color: #7c7;
  background-color: #beb;
}

/* line 554, ../sass/bbpress.scss */
.bbp-row-actions #favorite-toggle span.is-favorite a {
  color: #faa;
  border: 1px solid #faa;
  background-color: #fee;
}

/* line 559, ../sass/bbpress.scss */
.bbp-row-actions #favorite-toggle span.is-favorite a:hover {
  color: #c88;
  border-color: #c88;
  background-color: #fdd;
}

/* line 565, ../sass/bbpress.scss */
.bbp-row-actions #subscription-toggle a {
  text-decoration: none;
  padding: 0 3px 1px;
  color: #7c7;
  border: 1px solid #aca;
  background-color: #dfd;
  font-weight: bold;
  font-size: 13px;
}

/* line 574, ../sass/bbpress.scss */
.bbp-row-actions #subscription-toggle a:hover {
  color: #5a5;
  border-color: #7c7;
  background-color: #beb;
}

/* line 579, ../sass/bbpress.scss */
.bbp-row-actions #subscription-toggle span.is-subscribed a {
  color: #faa;
  border: 1px solid #faa;
  background-color: #fee;
}

/* line 584, ../sass/bbpress.scss */
.bbp-row-actions #subscription-toggle span.is-subscribed a:hover {
  color: #c88;
  border-color: #c88;
  background-color: #fdd;
}

/* line 590, ../sass/bbpress.scss */
#bbpress-forums .bbp-forum-info .bbp-forum-content,
#bbpress-forums p.bbp-topic-meta {
  font-size: 11px;
  margin: 5px 0 5px;
  padding: 0;
  word-wrap: break-word;
}

/* line 598, ../sass/bbpress.scss */
#bbpress-forums p.bbp-topic-meta span {
  white-space: nowrap;
}

/* 3.6. Pagination
-------------------------------------------------------------- */
/* line 605, ../sass/bbpress.scss */
.bbp-pagination-count {
  float: left;
  border: 1px solid transparent;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl .bbp-pagination-count {
  float: right;
}

/* line 610, ../sass/bbpress.scss */
.bbp-pagination-links {
  float: right;
  list-style: none;
  display: inline;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl .bbp-pagination-links {
  float: left;
}

/* line 615, ../sass/bbpress.scss */
.bbp-pagination-links a,
.bbp-pagination-links span.current {
  display: block;
  float: left;
  padding: 0px 5px;
  margin-left: 5px;
  border: 1px solid #efefef;
  text-decoration: none;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl .bbp-pagination-links a, .rtl
.bbp-pagination-links span.current {
  float: right;
}

/* line 624, ../sass/bbpress.scss */
.bbp-pagination-links a:hover,
.bbp-pagination-links span.current {
  background: #eee;
  opacity: 0.8;
  border: 1px solid #ddd;
}

/* line 631, ../sass/bbpress.scss */
.bbp-pagination-links span.dots {
  display: block;
  float: left;
  padding: 1px 4px;
  margin-left: 5px;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl .bbp-pagination-links span.dots {
  float: right;
}

/* line 638, ../sass/bbpress.scss */
.bbp-pagination {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl .bbp-pagination {
  float: right;
}

/* line 644, ../sass/bbpress.scss */
.bbp-topic-pagination {
  display: inline-block;
  margin-left: 5px;
  margin-bottom: 2px;
}

/* line 649, ../sass/bbpress.scss */
.bbp-topic-pagination a {
  font-size: 10px;
  line-height: 10px;
  padding: 1px 3px;
  border: 1px solid #ddd;
  text-decoration: none;
}

/* 3.7. Forms
-------------------------------------------------------------- */
/* line 661, ../sass/bbpress.scss */
#bbpress-forums fieldset.bbp-form {
  clear: left;
}

/* line 665, ../sass/bbpress.scss */
#bbpress-forums fieldset.bbp-form {
  border: 1px solid #eee;
  padding: 10px 20px;
  margin-bottom: 10px;
}

/* line 671, ../sass/bbpress.scss */
#bbpress-forums fieldset.bbp-form legend {
  padding: 5px;
}

/* line 675, ../sass/bbpress.scss */
#bbpress-forums fieldset.bbp-form label {
  margin: 0;
  display: inline-block;
}

/* line 680, ../sass/bbpress.scss */
#bbp-edit-topic-tag.bbp-form fieldset.bbp-form label,
#bbp-login fieldset label,
#bbp-register fieldset label,
#bbp-lost-pass fieldset label {
  width: 100px;
}

/* line 687, ../sass/bbpress.scss */
#bbpress-forums fieldset.bbp-form p,
#bbpress-forums fieldset.bbp-form textarea,
#bbpress-forums fieldset.bbp-form select,
#bbpress-forums fieldset.bbp-form input {
  margin: 0 0 8px;
}

/* line 694, ../sass/bbpress.scss */
textarea#bbp_reply_content,
textarea#bbp_topic_content,
textarea#bbp_forum_content {
  width: 97%;
  box-sizing: border-box;
}

/* line 701, ../sass/bbpress.scss */
textarea#bbp_forum_content {
  height: 210px;
}

/* line 705, ../sass/bbpress.scss */
#bbpress-forums fieldset.bbp-forum-form-attributes {
  width: 200px;
  float: right;
  clear: none;
  margin-left: 25px;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums fieldset.bbp-forum-form-attributes {
  float: left;
}

/**
 * 4. Fix for too-long forum names, usually from conversion
 */
/* line 715, ../sass/bbpress.scss */
#bbpress-forums fieldset select#bbp_forum_id {
  max-width: 200px;
}

/* line 719, ../sass/bbpress.scss */
.bbp-topic-form,
.bbp-reply-form,
.bbp-topic-tag-form {
  clear: left;
}

/* line 724, ../sass/bbpress.scss */
body.topic-edit .bbp-topic-form div.avatar img,
body.reply-edit .bbp-reply-form div.avatar img,
body.single-forum .bbp-topic-form div.avatar img,
body.single-reply .bbp-reply-form div.avatar img {
  margin-right: 0;
  padding: 10px;
  border: 1px solid #ddd;
  line-height: 0;
  background-color: #efefef;
}

/* line 735, ../sass/bbpress.scss */
body.page .bbp-reply-form code,
body.page .bbp-topic-form code,
body.single-topic .bbp-reply-form code,
body.single-forum .bbp-topic-form code,
body.topic-edit .bbp-topic-form code,
body.reply-edit .bbp-reply-form code {
  font-size: 10px;
  background-color: #f0fff8;
  border: 1px solid #CEEFE1;
  display: block;
  padding: 8px;
  margin-top: 5px;
  width: 369px;
}

/* line 750, ../sass/bbpress.scss */
#merge_tag,
#delete_tag {
  display: inline;
}

/* line 755, ../sass/bbpress.scss */
div.bbp-submit-wrapper {
  margin-top: 15px;
  float: right;
  clear: both;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl div.bbp-submit-wrapper {
  float: left;
}

/* line 761, ../sass/bbpress.scss */
p.form-allowed-tags {
  max-width: 100%;
}

/* 4.1. TinyMCE in themes
-------------------------------------------------------------- */
/* line 767, ../sass/bbpress.scss */
#bbpress-forums div.bbp-the-content-wrapper {
  margin-bottom: 10px;
}

/* line 771, ../sass/bbpress.scss */
#bbpress-forums div.bbp-the-content-wrapper textarea.bbp-the-content {
  width: 100%;
  margin: 0;
  font-size: 12px;
}

/* line 777, ../sass/bbpress.scss */
#bbpress-forums div.bbp-the-content-wrapper table,
#bbpress-forums div.bbp-the-content-wrapper tbody,
#bbpress-forums div.bbp-the-content-wrapper tr,
#bbpress-forums div.bbp-the-content-wrapper td {
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  line-height: 1em;
}

/* line 788, ../sass/bbpress.scss */
#bbpress-forums div.bbp-the-content-wrapper input {
  font-size: 12px;
  padding: 5px;
  margin: 0 2px 0 0;
  line-height: 1em;
}

/* line 795, ../sass/bbpress.scss */
#bbpress-forums div.bbp-the-content-wrapper div.quicktags-toolbar {
  padding: 5px;
  min-height: 26px;
}

/* line 799, ../sass/bbpress.scss */
#bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
  padding: 4px 4px 8px;
}

/* line 803, ../sass/bbpress.scss */
#bbpress-forums div.wp-editor-container {
  margin: 0;
  padding: 0;
  line-height: 0;
}

/* line 809, ../sass/bbpress.scss */
#bbpress-forums div.bbp-the-content-wrapper td.mceStatusbar {
  line-height: 16px;
}

/*   4.2. Edit User
-------------------------------------------------------------- */
/* line 816, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset {
  padding: 20px 20px 0 20px;
}

/* line 819, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset div {
  margin-bottom: 20px;
  float: left;
  width: 100%;
  clear: left;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums #bbp-your-profile fieldset div {
  float: right;
}

/* line 825, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset select {
  margin-bottom: 0;
}

/* line 828, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset input,
#bbpress-forums #bbp-your-profile fieldset textarea {
  margin-bottom: 0;
  width: 60%;
  background: #f9f9f9;
  border: 1px solid #ddd;
  box-shadow: none;
  padding: 5px 8px;
  border-radius: 0;
}

/* line 838, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset input:focus,
#bbpress-forums #bbp-your-profile fieldset textarea:focus {
  border: 1px solid #ccc;
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.1);
  outline-color: rgba(240, 255, 240, 0.1);
}

/* line 844, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset.bbp-form input.checkbox {
  width: auto;
}

/* line 847, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset legend {
  display: none;
}

/* line 850, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset label[for] {
  float: left;
  width: 20%;
  padding: 5px 20px 5px 0;
  text-align: right;
  cursor: pointer;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums #bbp-your-profile fieldset label[for] {
  float: right;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums #bbp-your-profile fieldset label[for] {
  text-align: left;
}

/* line 857, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset dl label[for] {
  text-align: left;
  width: 60%;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums #bbp-your-profile fieldset dl label[for] {
  text-align: right;
}

/* line 861, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset span.description {
  margin: 5px 0 0 20%;
  font-size: 12px;
  font-style: italic;
  float: left;
  clear: left;
  width: 60%;
  padding: 5px 8px;
  border: #cee1ef 1px solid;
  background-color: #f0f8ff;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums #bbp-your-profile fieldset span.description {
  float: right;
}

/* line 873, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset fieldset {
  margin: 0;
  border: none;
  padding: 0;
  clear: none;
  float: none;
}

/* line 880, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset fieldset.password {
  width: 60%;
  display: inline;
}

/* line 884, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset fieldset.password input,
#bbpress-forums #bbp-your-profile fieldset fieldset.password span {
  width: 100%;
}

/* line 888, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset fieldset.capabilities dl {
  margin: 0;
}

/* line 891, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset fieldset.password span.description {
  margin-left: 0;
  margin-bottom: 20px;
}

/* line 896, ../sass/bbpress.scss */
#bbpress-forums #bbp-your-profile fieldset.submit button {
  float: right;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums #bbp-your-profile fieldset.submit button {
  float: left;
}

/* 4.3. Notices
-------------------------------------------------------------- */
/* line 903, ../sass/bbpress.scss */
div.bbp-template-notice,
div.indicator-hint {
  border-width: 1px;
  border-style: solid;
  padding: 0 0.6em;
  margin: 5px 0 15px;
  border-radius: 3px;
  background-color: #ffffe0;
  border-color: #e6db55;
  color: #000;
  clear: both;
}

/* line 915, ../sass/bbpress.scss */
div.bbp-template-notice a {
  color: #555;
  text-decoration: none;
}

/* line 919, ../sass/bbpress.scss */
div.bbp-template-notice a:hover {
  color: #000;
}

/* line 922, ../sass/bbpress.scss */
div.bbp-template-notice.info {
  border: #cee1ef 1px solid;
  background-color: #f0f8ff;
}

/* line 926, ../sass/bbpress.scss */
div.bbp-template-notice.important {
  border: #e6db55 1px solid;
  background-color: #fffbcc;
}

/* line 930, ../sass/bbpress.scss */
div.bbp-template-notice.error,
div.bbp-template-notice.warning {
  background-color: #ffebe8;
  border-color: #c00;
}

/* line 935, ../sass/bbpress.scss */
div.bbp-template-notice.error a,
div.bbp-template-notice.warning a {
  color: #c00;
}

/* line 939, ../sass/bbpress.scss */
div.bbp-template-notice p {
  margin: 0.5em 0 6px 0 !important;
  padding: 2px;
  font-size: 12px;
  line-height: 140%;
}

/* 4.4. Stickies
-------------------------------------------------------------- */
/* line 949, ../sass/bbpress.scss */
.bbp-topics-front ul.super-sticky,
.bbp-topics ul.super-sticky,
.bbp-topics ul.sticky,
.bbp-forum-content ul.sticky {
  background-color: #ffffe0 !important;
  font-size: 1.1em;
}

/* 4.5. Revisions
-------------------------------------------------------------- */
/* line 960, ../sass/bbpress.scss */
#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log {
  border-top: 1px dotted #ddd;
  width: 100%;
  margin: 0;
  padding: 8px 0 0 0;
  font-size: 11px;
  color: #aaa;
}

/* line 971, ../sass/bbpress.scss */
#bbpress-forums .bbp-topic-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-topic-revision-log li,
#bbpress-forums .bbp-reply-content ul.bbp-reply-revision-log li {
  list-style-type: none;
}

/* 4.6. Widgets
-------------------------------------------------------------- */
/* line 980, ../sass/bbpress.scss */
.bbp-login-form fieldset legend {
  display: none;
}

/* line 984, ../sass/bbpress.scss */
.bbp-login-form .bbp-username input,
.bbp-login-form .bbp-email input,
.bbp-login-form .bbp-password input {
  padding: 5px;
}

/* line 990, ../sass/bbpress.scss */
.bbp-login-form label {
  width: 140px;
  display: inline-block;
}

/* line 995, ../sass/bbpress.scss */
#sidebar .bbp-login-form label {
  width: 70px;
}

/* line 999, ../sass/bbpress.scss */
.bbp-login-form .bbp-username,
.bbp-login-form .bbp-email,
.bbp-login-form .bbp-password,
.bbp-login-form .bbp-remember-me,
.bbp-login-form .bbp-submit-wrapper {
  margin-top: 10px;
}

/* line 1011, ../sass/bbpress.scss */
.bbp-login-form .bbp-submit-wrapper {
  text-align: right;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl .bbp-login-form .bbp-submit-wrapper {
  text-align: left;
}

/* line 1018, ../sass/bbpress.scss */
.bbp-login-form .bbp-login-links a {
  float: left;
  clear: left;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl .bbp-login-form .bbp-login-links a {
  float: right;
}

/* line 1023, ../sass/bbpress.scss */
.bbp-logged-in img.avatar {
  float: left;
  margin: 0 15px 0 0;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl .bbp-logged-in img.avatar {
  float: right;
}

/* line 1028, ../sass/bbpress.scss */
.bbp-logged-in h4 {
  font-weight: bold;
  font-size: 1.3em;
  clear: none;
  margin-bottom: 10px;
}

/* 4.7. Avatars
-------------------------------------------------------------- */
/* line 1038, ../sass/bbpress.scss */
#bbpress-forums p.bbp-topic-meta img.avatar,
#bbpress-forums ul.bbp-reply-revision-log img.avatar,
#bbpress-forums ul.bbp-topic-revision-log img.avatar,
#bbpress-forums div.bbp-template-notice img.avatar,
#bbpress-forums .widget_display_topics img.avatar,
#bbpress-forums .widget_display_replies img.avatar {
  float: none;
  margin-bottom: -7px;
  border: 3px double #ddd;
}

/* line 1049, ../sass/bbpress.scss */
fieldset div.avatar {
  float: right;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl fieldset div.avatar {
  float: left;
}

/* 4.8. BuddyPress Activity Streams
-------------------------------------------------------------- */
/* line 1056, ../sass/bbpress.scss */
.activity-list li.bbp_topic_create .activity-content .activity-inner,
.activity-list li.bbp_reply_create .activity-content .activity-inner {
  border-left: 2px solid #eaeaea;
  margin-left: 5px;
  ing-left: 10px;
}

/* 4.9. User Pages
-------------------------------------------------------------- */
/* line 1066, ../sass/bbpress.scss */
#bbpress-forums h1 {
  clear: none;
  font-size: 1.8em;
  line-height: 1em;
  padding-bottom: 10px;
}

/* line 1073, ../sass/bbpress.scss */
#bbpress-forums #bbp-user-wrapper {
  float: left;
  width: 100%;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums #bbp-user-wrapper {
  float: right;
}

/* line 1078, ../sass/bbpress.scss */
#bbpress-forums .bbp-user-section {
  overflow: auto;
}

/* line 1082, ../sass/bbpress.scss */
#bbpress-forums #bbp-user-wrapper h2.entry-title {
  font-size: 1.4em;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 0;
  clear: none;
}

/* line 1090, ../sass/bbpress.scss */
#bbpress-forums #bbp-user-wrapper ul.bbp-lead-topic,
#bbpress-forums #bbp-user-wrapper ul.bbp-topics,
#bbpress-forums #bbp-user-wrapper ul.bbp-forums,
#bbpress-forums #bbp-user-wrapper ul.bbp-replies,
#bbpress-forums #bbp-user-wrapper fieldset.bbp-form {
  clear: none;
}

/* line 1098, ../sass/bbpress.scss */
#bbpress-forums #bbp-single-user-details {
  margin: 0;
  width: 150px;
  float: left;
  overflow: hidden;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #bbpress-forums #bbp-single-user-details {
  float: right;
}

/* line 1105, ../sass/bbpress.scss */
#bbpress-forums #bbp-single-user-details #bbp-user-avatar {
  margin: 0;
  width: 150px;
}

/* line 1110, ../sass/bbpress.scss */
#bbpress-forums #bbp-single-user-details #bbp-user-avatar img.avatar {
  border: none;
  height: 150px;
  padding: 0;
  margin: 0 0 20px 0;
  width: 150px;
}

/* line 1118, ../sass/bbpress.scss */
#bbpress-forums #bbp-single-user-details #bbp-user-description {
  float: none;
  margin-left: 180px;
}

/* line 1123, ../sass/bbpress.scss */
#bbpress-forums #bbp-single-user-details #bbp-user-navigation {
  float: none;
  margin: 0;
}

/* line 1128, ../sass/bbpress.scss */
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li {
  margin: 0;
}

/* line 1132, ../sass/bbpress.scss */
#bbpress-forums #bbp-single-user-details #bbp-user-navigation a {
  padding: 5px 8px;
  display: block;
  border: 1px solid transparent;
  text-decoration: none;
}

/* line 1139, ../sass/bbpress.scss */
#bbpress-forums #bbp-single-user-details #bbp-user-navigation li.current a {
  background: #eee;
  opacity: 0.8;
}

/* line 1144, ../sass/bbpress.scss */
#bbpress-forums #bbp-user-body {
  margin-left: 180px;
}

/* line 1148, ../sass/bbpress.scss */
body.my-account #bbpress-forums {
  border-top: none;
  padding-top: 0;
  margin-bottom: 0;
}

/* 4.10. User Capabilities
-------------------------------------------------------------- */
/* line 1157, ../sass/bbpress.scss */
#bbpress-forums dl.bbp-user-capabilities {
  display: inline-block;
  vertical-align: top;
}

/* line 1162, ../sass/bbpress.scss */
#bbpress-forums dl.bbp-user-capabilities dt {
  margin: 0 0 10px;
  text-transform: capitalize;
}

/* line 1167, ../sass/bbpress.scss */
#bbpress-forums dl.bbp-user-capabilities dd {
  margin: 0;
  padding: 0;
}

/* 4.11. BuddyPress Group Forums
-------------------------------------------------------------- */
/* line 1175, ../sass/bbpress.scss */
#bbpress-forums div.row-actions {
  font-size: 11px;
  visibility: hidden;
}

/* line 1180, ../sass/bbpress.scss */
#bbpress-forums li:hover > div.row-actions {
  visibility: visible;
}

/*--------------------------------------------------------------
5. Media Queries
--------------------------------------------------------------*/
/* 5.1. Standard Mobile Landscape
-------------------------------------------------------------- */
@media screen and (max-device-width: 480px), screen and (-webkit-min-device-pixel-ratio: 2) {
  -webkit-text-size-adjust: none;
}
@media only screen and (max-width: 480px) {
  /* line 1194, ../sass/bbpress.scss */
  #bbpress-forums div.bbp-topic-tags {
    clear: left;
    float: left;
  }
  /* line 11, ../sass/rtl/_rtl.scss */
  .rtl #bbpress-forums div.bbp-topic-tags {
    float: right;
  }

  /* line 1198, ../sass/bbpress.scss */
  div.bbp-search-form input,
  div.bbp-search-form button {
    font-size: 11px;
    padding: 2px;
  }

  /* line 1203, ../sass/bbpress.scss */
  li.bbp-forum-info,
  li.bbp-topic-title {
    width: 45%;
  }

  /* line 1207, ../sass/bbpress.scss */
  li.bbp-forum-topic-count,
  li.bbp-forum-reply-count,
  li.bbp-topic-voice-count,
  li.bbp-topic-reply-count {
    width: 15%;
  }

  /* line 1213, ../sass/bbpress.scss */
  span.bbp-reply-post-date {
    float: left;
  }
  /* line 11, ../sass/rtl/_rtl.scss */
  .rtl span.bbp-reply-post-date {
    float: right;
  }

  /* line 1216, ../sass/bbpress.scss */
  span.bbp-admin-links {
    clear: left;
    float: left;
  }
  /* line 11, ../sass/rtl/_rtl.scss */
  .rtl span.bbp-admin-links {
    float: right;
  }

  /* line 1220, ../sass/bbpress.scss */
  #bbpress-forums .bbp-forums-list li {
    display: block;
    font-size: 11px;
  }

  /* line 1224, ../sass/bbpress.scss */
  #bbpress-forums .bbp-body div.bbp-reply-author {
    margin: -15px 10px 10px;
    min-height: 100px;
    padding-left: 80px;
    position: relative;
    text-align: left;
    width: 100%;
  }
  /* line 11, ../sass/rtl/_rtl.scss */
  .rtl #bbpress-forums .bbp-body div.bbp-reply-author {
    text-align: right;
  }

  /* line 1232, ../sass/bbpress.scss */
  #bbpress-forums div.bbp-reply-author a.bbp-author-name {
    clear: none;
    display: inline-block;
    margin-left: 0;
    word-wrap: break-word;
  }

  /* line 1238, ../sass/bbpress.scss */
  #bbpress-forums div.bbp-reply-author img.avatar {
    position: absolute;
    top: 15px;
    left: 0;
    width: 60px;
    height: auto;
  }

  /* line 1245, ../sass/bbpress.scss */
  #bbpress-forums div.bbp-reply-author .bbp-author-role {
    font-size: 12px;
    font-style: normal;
  }

  /* line 1249, ../sass/bbpress.scss */
  #bbpress-forums .bbp-body div.bbp-reply-content {
    clear: both;
    margin: 10px;
    padding: 0;
  }

  /* line 1254, ../sass/bbpress.scss */
  #bbpress-forums div.bbp-reply-content p {
    margin-bottom: 1em;
  }

  /* line 1257, ../sass/bbpress.scss */
  div.bbp-submit-wrapper {
    float: left;
  }
  /* line 11, ../sass/rtl/_rtl.scss */
  .rtl div.bbp-submit-wrapper {
    float: right;
  }

  /* line 1260, ../sass/bbpress.scss */
  #bbpress-forums fieldset.bbp-form {
    padding: 0 10px 10px;
  }

  /* line 1263, ../sass/bbpress.scss */
  #bbpress-forums #bbp-user-body {
    clear: both;
    margin-left: 0;
    word-wrap: break-word;
  }
}
/* 5.2. Standard Mobile Portrait
-------------------------------------------------------------- */
@media only screen and (max-width: 320px) {
  /* line 1273, ../sass/bbpress.scss */
  #bbpress-forums div.bbp-search-form {
    margin-bottom: 10px;
  }

  /* line 1276, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-header li.bbp-forum-info,
  #bbpress-forums li.bbp-body li.bbp-forum-info,
  #bbpress-forums li.bbp-header li.bbp-topic-title,
  #bbpress-forums li.bbp-body li.bbp-topic-title {
    width: 100%;
  }

  /* line 1282, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-header li.bbp-forum-info,
  #bbpress-forums li.bbp-header li.bbp-topic-title {
    text-align: center;
    text-transform: uppercase;
  }

  /* line 1287, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-header li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-header li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-body li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-body li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-header li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-header li.bbp-topic-reply-count,
  #bbpress-forums li.bbp-body li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-body li.bbp-topic-reply-count {
    width: 20%;
  }

  /* line 1297, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-header li.bbp-forum-freshness,
  #bbpress-forums li.bbp-body li.bbp-forum-freshness,
  #bbpress-forums li.bbp-header li.bbp-topic-freshness,
  #bbpress-forums li.bbp-body li.bbp-topic-freshness {
    width: 58%;
  }

  /* line 1303, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-body li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-body li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-body li.bbp-forum-freshness,
  #bbpress-forums li.bbp-body li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-body li.bbp-topic-reply-count,
  #bbpress-forums li.bbp-body li.bbp-topic-freshness {
    margin-top: 7px;
  }

  /* line 1311, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-header,
  #bbpress-forums li.bbp-footer {
    font-size: 10px;
  }

  /* line 1315, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-header div.bbp-reply-author {
    text-align: left;
    width: 25%;
  }
  /* line 11, ../sass/rtl/_rtl.scss */
  .rtl #bbpress-forums li.bbp-header div.bbp-reply-author {
    text-align: right;
  }

  /* line 1319, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-header div.bbp-reply-content {
    margin-left: 25%;
  }

  /* line 1322, ../sass/bbpress.scss */
  #bbpress-forums div.bbp-template-notice img.avatar,
  #bbpress-forums p.bbp-topic-meta img.avatar {
    width: 14px;
    height: auto;
  }

  /* line 1327, ../sass/bbpress.scss */
  #bbpress-forums div.bbp-the-content-wrapper td.mceToolbar {
    padding: 1px;
  }

  /* line 1330, ../sass/bbpress.scss */
  #bbpress-forums div.bbp-the-content-wrapper td.mceToolbar td {
    width: 20px;
    height: 20px;
  }

  /* line 1334, ../sass/bbpress.scss */
  #bbpress-forums div.wp-editor-container {
    width: 100%;
    overflow: auto;
  }

  /* line 1338, ../sass/bbpress.scss */
  #bbpress-forums input#bbp_topic_title,
  #bbpress-forums input#bbp_topic_tags {
    width: 95%;
  }
}
/* 5.3. Extra Small Mobile
-------------------------------------------------------------- */
@media only screen and (max-width: 240px) {
  /* line 1347, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-header li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-header li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-body li.bbp-forum-topic-count,
  #bbpress-forums li.bbp-body li.bbp-forum-reply-count,
  #bbpress-forums li.bbp-header li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-header li.bbp-topic-reply-count,
  #bbpress-forums li.bbp-body li.bbp-topic-voice-count,
  #bbpress-forums li.bbp-body li.bbp-topic-reply-count,
  #bbpress-forums li.bbp-footer div.bbp-reply-author,
  #bbpress-forums li.bbp-footer div.bbp-reply-content {
    width: 45%;
  }

  /* line 1359, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-header li.bbp-forum-freshness,
  #bbpress-forums li.bbp-body li.bbp-forum-freshness,
  #bbpress-forums li.bbp-header li.bbp-topic-freshness,
  #bbpress-forums li.bbp-body li.bbp-topic-freshness,
  #bbpress-forums li.bbp-header div.bbp-reply-author,
  #bbpress-forums li.bbp-header div.bbp-reply-content {
    clear: both;
    width: 100%;
  }

  /* line 1368, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-header li.bbp-forum-freshness,
  #bbpress-forums li.bbp-header li.bbp-topic-freshness {
    text-align: center;
  }

  /* line 1372, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-body li.bbp-topic-freshness,
  #bbpress-forums li.bbp-header div.bbp-reply-content {
    margin-left: 0;
    text-align: left;
  }
  /* line 11, ../sass/rtl/_rtl.scss */
  .rtl #bbpress-forums li.bbp-body li.bbp-topic-freshness, .rtl
  #bbpress-forums li.bbp-header div.bbp-reply-content {
    text-align: right;
  }

  /* line 1377, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-body li.bbp-topic-freshness p.bbp-topic-meta {
    display: inline-block;
  }

  /* line 1380, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-header {
    overflow: hidden;
  }

  /* line 1383, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-footer div.bbp-reply-content {
    display: inline-block;
    margin-left: 0;
  }

  /* line 1387, ../sass/bbpress.scss */
  #bbpress-forums li.bbp-body div.bbp-reply-author {
    min-height: 60px;
    padding-left: 60px;
  }

  /* line 1391, ../sass/bbpress.scss */
  #bbpress-forums div.bbp-reply-author img.avatar {
    width: 40px;
    height: auto;
  }
}
