/*--------------------------------------------------------------
Hello, this is the BuddyPress Legacy stylesheet.

----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Navigation
    1.1 - Pagination
2.0 - WordPress
    2.1 - Images
3.0 - BuddyPress
    3.1 - Activity
        3.1.1 - Activity Listing
        3.1.2 - Activity Comments
    3.2 - Toolbar
    3.3 - Directories - Members, Groups, Blogs, Forums
    3.4 - Error / Success Messages
    3.5 - Forms
    3.6 - Ajax Loading
    3.7 - Topics and Tables - Forums and General
    3.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums
    3.9 - Private Messaging Threads
    3.10 - Extended Profiles
    3.11 - Widgets
4.0 - Media Queries
    4.1 - Smartphones Landscape
    4.2 - Smartphones Portrait
    4.3 - Smartphones - smaller screen sizes
--------------------------------------------------------------*/
/* $gray-lighter:        lighten($gray-base, 93.5%) !default; // #eee */
/**
* Web Application Prefix Apply For Making Owner Styles
*/
/**
 *   Blocks Layout Selectors
 */
/********* LAYOUT **************/
/* --- SCSS For Accordion --- */
/* --- SCSS For Breadcrumb --- */
/* --- SCSS For Buttons --- */
/* --- SCSS For Call-to-action --- */
/* --- SCSS For Content-slider --- */
/*  */
/* carousel-controls-v1 */
/* carousel-controls-v2 */
/* carousel-controls-v3 */
/* Navigation Styles */
/* carousel-indicators-v1 */
/* carousel-indicators-v2 */
/* carousel-indicators-v3 */
/* carousel-indicators-v4 */
/* carousel-indicators-v5 */
/* carousel-indicators-v6 */
/* --- SCSS For Counters --- */
/* --- SCSS For Heading --- */
/* --- SCSS For Icon-box --- */
/* --- SCSS For Interactive-banner --- */
/* --- SCSS For Latest-posts --- */
/* latest posts */
/* --- SCSS For List --- */
/* variables for list */
/* variables for list light */
/* --- SCSS For Message --- */
/* --- SCSS For Newsletter --- */
/* --- SCSS For Piechart --- */
/* --- SCSS For Pricing --- */
/* --- SCSS For Process-steps --- */
/* process-steps */
/* --- SCSS For Service --- */
/* variables for tab style1 using as base of tab */
/* --- SCSS For Style-icon --- */
/* Variables icons default */
/* Variables icons bodered */
/* Variables icons darker */
/* Variables icons light */
/* Variables icons plain */
/* Variables icons for light style */
/* Variables icons outline */
/* Variables icons inverse */
/* --- SCSS For Table --- */
/* --- SCSS For Tabs --- */
/* variables for tab style1 using as base of tab */
/* tab style version 5 */
/* tab style version 6 */
/* --- SCSS For Testimonials --- */
/* testimonials default */
/* testimonials-v1 */
/* testimonials light */
/* --- SCSS For Typography --- */
/* 1. Utilities */
/****/
/** elements mixins **/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/*inline-block
============================================*/
/****/
/****/
/*--------------------------------------------------------------
1 - Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 - Pagination
--------------------------------------------------------------*/
/* line 48, ../sass/buddypress.scss */
.item-avatar.avatar-lg img {
  width: 90px;
  hidden: 90px;
}
/* line 53, ../sass/buddypress.scss */
.item-avatar.avatar-md img {
  width: 70px;
  height: 70px;
}
/* line 57, ../sass/buddypress.scss */
.item-avatar.avatar-sm img {
  width: 40px;
  height: 40px;
}
/* line 61, ../sass/buddypress.scss */
.item-avatar a {
  position: relative;
}
/* line 63, ../sass/buddypress.scss */
.item-avatar a span.member-status {
  display: block;
  height: 11px;
  width: 11px;
  border: solid 1px #e6e6e6;
  padding: 3px;
  border-radius: 50%;
  bottom: -10px;
  right: 0;
  position: absolute;
}
/* line 73, ../sass/buddypress.scss */
.item-avatar a span.member-status.online {
  background: #11aba3;
}
/* line 76, ../sass/buddypress.scss */
.item-avatar a span.member-status.offline {
  background: #4D4D4D;
}

/* line 83, ../sass/buddypress.scss */
#buddypress div.pagination {
  background: transparent;
  border: none;
  color: #888;
  font-size: small;
  margin: 0;
  position: relative;
  display: block;
  float: left;
  width: 100%;
  padding: 10px 0;
}

/* line 95, ../sass/buddypress.scss */
#buddypress div.pagination .pag-count {
  float: left;
  margin-left: 10px;
}

/* line 99, ../sass/buddypress.scss */
#buddypress div.pagination .pagination-links {
  float: right;
  margin-right: 10px;
}

/* line 103, ../sass/buddypress.scss */
#buddypress div.pagination .pagination-links span,
#buddypress div.pagination .pagination-links a {
  font-size: 90%;
  padding: 0 5px;
}

/* line 108, ../sass/buddypress.scss */
#buddypress div.pagination .pagination-links a:hover {
  font-weight: bold;
}

/* line 111, ../sass/buddypress.scss */
#buddypress noscript div.pagination {
  margin-bottom: 15px;
}

/* line 114, ../sass/buddypress.scss */
#buddypress #nav-above {
  display: none;
}

/* line 117, ../sass/buddypress.scss */
#buddypress .paged #nav-above {
  display: block;
}

/*--------------------------------------------------------------
2 - WordPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
2.1 - Images
--------------------------------------------------------------*/
/* line 126, ../sass/buddypress.scss */
#buddypress img.wp-smiley {
  border: none !important;
  clear: none !important;
  float: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

/* line 133, ../sass/buddypress.scss */
#buddypress .clear {
  clear: left;
}

/*--------------------------------------------------------------
3.0 - BuddyPress
--------------------------------------------------------------*/
/*--------------------------------------------------------------
3.1 - Activity
--------------------------------------------------------------*/
/* line 143, ../sass/buddypress.scss */
#buddypress #activity-stream {
  margin-top: -5px;
}

/* line 147, ../sass/buddypress.scss */
#buddypress #activity-stream p {
  margin: 5px 0;
}

/* line 151, ../sass/buddypress.scss */
#buddypress #item-body form#whats-new-form {
  margin: 0;
  padding: 0;
}

/* line 155, ../sass/buddypress.scss */
#buddypress .home-page form#whats-new-form {
  border-bottom: none;
  padding-bottom: 0;
}

/* line 159, ../sass/buddypress.scss */
#buddypress form#whats-new-form #whats-new-avatar {
  float: left;
}

/* line 162, ../sass/buddypress.scss */
#buddypress form#whats-new-form #whats-new-content {
  margin-left: 55px;
  padding: 0 0 20px 20px;
}

/* line 166, ../sass/buddypress.scss */
#buddypress form#whats-new-form p.activity-greeting {
  line-height: 0.5em;
  margin-bottom: 15px;
  margin-left: 75px;
}

/* line 172, ../sass/buddypress.scss */
#buddypress input[type="text"], #buddypress textarea {
  display: block;
  width: 100%;
  height: 41px;
  padding: 9px 20px;
  font-size: 13px;
  line-height: 1.825;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e6e6e6;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px transparent;
  box-shadow: inset 0 1px 1px transparent;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
/* line 57, ../sass/bootstrap/mixins/_forms.scss */
#buddypress input[type="text"]:focus, #buddypress textarea:focus {
  border-color: #e6e6e6;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 103, ../sass/bootstrap/mixins/_vendor-prefixes.scss */
#buddypress input[type="text"]::-moz-placeholder, #buddypress textarea::-moz-placeholder {
  color: #696969;
  opacity: 1;
}
/* line 107, ../sass/bootstrap/mixins/_vendor-prefixes.scss */
#buddypress input[type="text"]:-ms-input-placeholder, #buddypress textarea:-ms-input-placeholder {
  color: #696969;
}
/* line 108, ../sass/bootstrap/mixins/_vendor-prefixes.scss */
#buddypress input[type="text"]::-webkit-input-placeholder, #buddypress textarea::-webkit-input-placeholder {
  color: #696969;
}
/* line 198, ../sass/buddypress.scss */
#buddypress input[type="text"][disabled], #buddypress input[type="text"][readonly], fieldset[disabled] #buddypress input[type="text"], #buddypress textarea[disabled], #buddypress textarea[readonly], fieldset[disabled] #buddypress textarea {
  cursor: not-allowed;
  background-color: #ddd;
  opacity: 1;
}

/* line 209, ../sass/buddypress.scss */
#buddypress select, #buddypress input[type="button"], #buddypress input[type="reset"], #buddypress input[type="submit"] {
  height: 35px;
  padding: 9px 20px;
  font-size: 9px;
  line-height: 1.825;
  color: #696969;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e6e6e6;
  border-radius: 0px;
  -webkit-box-shadow: inset 0 1px 1px transparent;
  box-shadow: inset 0 1px 1px transparent;
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  text-transform: uppercase;
  font-weight: 800;
}
/* line 57, ../sass/bootstrap/mixins/_forms.scss */
#buddypress select:focus, #buddypress input[type="button"]:focus, #buddypress input[type="reset"]:focus, #buddypress input[type="submit"]:focus {
  border-color: #e6e6e6;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* line 103, ../sass/bootstrap/mixins/_vendor-prefixes.scss */
#buddypress select::-moz-placeholder, #buddypress input[type="button"]::-moz-placeholder, #buddypress input[type="reset"]::-moz-placeholder, #buddypress input[type="submit"]::-moz-placeholder {
  color: #696969;
  opacity: 1;
}
/* line 107, ../sass/bootstrap/mixins/_vendor-prefixes.scss */
#buddypress select:-ms-input-placeholder, #buddypress input[type="button"]:-ms-input-placeholder, #buddypress input[type="reset"]:-ms-input-placeholder, #buddypress input[type="submit"]:-ms-input-placeholder {
  color: #696969;
}
/* line 108, ../sass/bootstrap/mixins/_vendor-prefixes.scss */
#buddypress select::-webkit-input-placeholder, #buddypress input[type="button"]::-webkit-input-placeholder, #buddypress input[type="reset"]::-webkit-input-placeholder, #buddypress input[type="submit"]::-webkit-input-placeholder {
  color: #696969;
}
/* line 235, ../sass/buddypress.scss */
#buddypress select[disabled], #buddypress select[readonly], fieldset[disabled] #buddypress select, #buddypress input[type="button"][disabled], #buddypress input[type="button"][readonly], fieldset[disabled] #buddypress input[type="button"], #buddypress input[type="reset"][disabled], #buddypress input[type="reset"][readonly], fieldset[disabled] #buddypress input[type="reset"], #buddypress input[type="submit"][disabled], #buddypress input[type="submit"][readonly], fieldset[disabled] #buddypress input[type="submit"] {
  cursor: not-allowed;
  background-color: #ddd;
  opacity: 1;
}
/* line 245, ../sass/buddypress.scss */
#buddypress input[type="button"], #buddypress input[type="reset"], #buddypress input[type="submit"] {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 800;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 9px 28px;
  font-size: 9px;
  line-height: 1.825;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}
/* line 263, ../sass/buddypress.scss */
#buddypress input[type="button"]:focus, #buddypress input[type="button"].focus, #buddypress input[type="button"]:active:focus, #buddypress input[type="button"]:active.focus, #buddypress input[type="button"].active:focus, #buddypress input[type="button"].active.focus, #buddypress input[type="reset"]:focus, #buddypress input[type="reset"].focus, #buddypress input[type="reset"]:active:focus, #buddypress input[type="reset"]:active.focus, #buddypress input[type="reset"].active:focus, #buddypress input[type="reset"].active.focus, #buddypress input[type="submit"]:focus, #buddypress input[type="submit"].focus, #buddypress input[type="submit"]:active:focus, #buddypress input[type="submit"]:active.focus, #buddypress input[type="submit"].active:focus, #buddypress input[type="submit"].active.focus {
  outline: none;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
/* line 269, ../sass/buddypress.scss */
#buddypress input[type="button"]:hover, #buddypress input[type="button"]:focus, #buddypress input[type="button"].focus, #buddypress input[type="reset"]:hover, #buddypress input[type="reset"]:focus, #buddypress input[type="reset"].focus, #buddypress input[type="submit"]:hover, #buddypress input[type="submit"]:focus, #buddypress input[type="submit"].focus {
  color: #fff;
  text-decoration: none;
}
/* line 276, ../sass/buddypress.scss */
#buddypress input[type="button"]:active, #buddypress input[type="button"].active, #buddypress input[type="reset"]:active, #buddypress input[type="reset"].active, #buddypress input[type="submit"]:active, #buddypress input[type="submit"].active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
/* line 283, ../sass/buddypress.scss */
#buddypress input[type="button"].disabled, #buddypress input[type="button"][disabled], fieldset[disabled] #buddypress input[type="button"], #buddypress input[type="reset"].disabled, #buddypress input[type="reset"][disabled], fieldset[disabled] #buddypress input[type="reset"], #buddypress input[type="submit"].disabled, #buddypress input[type="submit"][disabled], fieldset[disabled] #buddypress input[type="submit"] {
  cursor: not-allowed;
  pointer-events: none;
  /* IE 8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
  /* IE 5-7 */
  filter: alpha(opacity=65);
  /* Netscape */
  -moz-opacity: 0.65;
  /* Safari 1.x */
  -khtml-opacity: 0.65;
  /* Good browsers */
  opacity: 0.65;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 295, ../sass/buddypress.scss */
#buddypress form#whats-new-form textarea {
  height: 60px;
  padding: 6px;
}

/* line 300, ../sass/buddypress.scss */
body.no-js #buddypress form#whats-new-form textarea {
  height: 50px;
}

/* line 303, ../sass/buddypress.scss */
#buddypress form#whats-new-form #whats-new-options select {
  max-width: 200px;
  margin-top: 12px;
}

/* line 307, ../sass/buddypress.scss */
#buddypress form#whats-new-form #whats-new-submit {
  float: right;
  margin-top: 12px;
}

/* line 311, ../sass/buddypress.scss */
#buddypress #whats-new-options {
  overflow: auto;
  height: 0;
}

/* line 315, ../sass/buddypress.scss */
body.no-js #buddypress #whats-new-options {
  height: auto;
}

/* line 318, ../sass/buddypress.scss */
#buddypress #whats-new:focus {
  border-color: rgba(31, 179, 221, 0.9) !important;
  outline-color: rgba(31, 179, 221, 0.9);
}

/*--------------------------------------------------------------
3.1.1 - Activity Listing
--------------------------------------------------------------*/
/* line 326, ../sass/buddypress.scss */
#buddypress ul.activity-list li {
  overflow: hidden;
  padding: 15px 0 0;
  list-style: none;
}

/* line 331, ../sass/buddypress.scss */
#buddypress .activity-list .activity-avatar {
  float: left;
  position: relative;
}
/* line 334, ../sass/buddypress.scss */
#buddypress .activity-list .activity-avatar img {
  width: 70px;
  height: 70px;
}
/* line 337, ../sass/buddypress.scss */
#buddypress .activity-list .activity-avatar:before {
  background: #e6e6e6;
  content: "";
  width: 35px;
  height: 1px;
  left: 0;
  position: absolute;
  top: 50%;
}
/* line 345, ../sass/buddypress.scss */
#buddypress .activity-list .activity-avatar:after {
  background: #e6e6e6;
  content: "";
  width: 1px;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 108, ../sass/rtl/_rtl.scss */
.rtl #buddypress .activity-list .activity-avatar:after {
  right: 0;
  left: auto;
}

/* line 355, ../sass/buddypress.scss */
#buddypress ul.item-list.activity-list li.has-comments {
  padding-bottom: 15px;
}

/* line 358, ../sass/buddypress.scss */
body.activity-permalink #buddypress ul.activity-list li.has-comments {
  padding-bottom: 0;
}

/* line 361, ../sass/buddypress.scss */
#buddypress .activity-list li.mini {
  position: relative;
}

/* line 364, ../sass/buddypress.scss */
#buddypress .activity-list li.mini .activity-avatar img.avatar,
#buddypress .activity-list li.mini .activity-avatar img.FB_profile_pic {
  border-radius: 50%;
}

/* line 368, ../sass/buddypress.scss */
#buddypress .activity-permalink .activity-list li.mini .activity-avatar img.avatar,
#buddypress .activity-permalink .activity-list li.mini .activity-avatar img.FB_profile_pic {
  height: auto;
  margin-left: 0;
  width: auto;
}

/* line 374, ../sass/buddypress.scss */
body.activity-permalink #buddypress .activity-list > li:first-child {
  padding-top: 0;
}

/* line 377, ../sass/buddypress.scss */
#buddypress .activity-list li .activity-content {
  position: relative;
}

/* line 380, ../sass/buddypress.scss */
#buddypress .activity-list li.mini .activity-content p {
  margin: 0;
}

/* line 383, ../sass/buddypress.scss */
#buddypress .activity-list li.mini .activity-comments {
  clear: both;
  font-size: 120%;
}

/* line 387, ../sass/buddypress.scss */
body.activity-permalink #buddypress li.mini .activity-meta {
  margin-top: 4px;
}

/* line 390, ../sass/buddypress.scss */
#buddypress .activity-list li .activity-inreplyto {
  color: #888;
  font-size: 80%;
}

/* line 394, ../sass/buddypress.scss */
#buddypress .activity-list li .activity-inreplyto > p {
  margin: 0;
  display: inline;
}

/* line 398, ../sass/buddypress.scss */
#buddypress .activity-list li .activity-inreplyto blockquote,
#buddypress .activity-list li .activity-inreplyto div.activity-inner {
  background: none;
  border: none;
  display: inline;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

/* line 407, ../sass/buddypress.scss */
#buddypress .activity-list .activity-content {
  margin: 0 0 0 70px;
}

/* line 410, ../sass/buddypress.scss */
body.activity-permalink #buddypress .activity-list li .activity-content {
  border: none;
  font-size: 100%;
  line-height: 150%;
  margin-left: 170px;
  margin-right: 0;
  padding: 0;
}

/* line 418, ../sass/buddypress.scss */
body.activity-permalink #buddypress .activity-list li .activity-header > p {
  margin: 0;
  padding: 5px 0 0 0;
}

/* line 426, ../sass/buddypress.scss */
#buddypress .activity-header {
  margin-right: 20px;
}
/* line 428, ../sass/buddypress.scss */
#buddypress .activity-header a {
  font-size: 100%;
  font-weight: 500px;
}
/* line 432, ../sass/buddypress.scss */
#buddypress .activity-header .activity-time-since {
  display: block;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 700;
}

/* line 439, ../sass/buddypress.scss */
#buddypress .activity-header a,
#buddypress .comment-meta a,
#buddypress .acomment-meta a {
  text-decoration: none;
}

/* line 444, ../sass/buddypress.scss */
#buddypress .activity-list .activity-content .activity-header img.avatar {
  float: none !important;
  margin: 0 5px -8px 0 !important;
  border: none !important;
}

/* line 449, ../sass/buddypress.scss */
#buddypress a.bp-secondary-action,
#buddypress span.highlight {
  padding: 0;
  margin-right: 5px;
  text-decoration: none;
}

/* line 455, ../sass/buddypress.scss */
#buddypress .activity-list .activity-content .activity-inner,
#buddypress .activity-list .activity-content blockquote {
  margin: 20px 0;
  padding: 0 20px;
  overflow: hidden;
}

/* line 461, ../sass/buddypress.scss */
#buddypress .activity-list li.new_forum_post .activity-content .activity-inner,
#buddypress .activity-list li.new_forum_topic .activity-content .activity-inner {
  border-left: 2px solid #EAEAEA;
  margin-left: 5px;
  padding-left: 10px;
}

/* line 467, ../sass/buddypress.scss */
body.activity-permalink #buddypress .activity-content .activity-inner,
body.activity-permalink #buddypress .activity-content blockquote {
  margin-left: 0;
  margin-top: 5px;
}

/* line 472, ../sass/buddypress.scss */
#buddypress .activity-inner > p {
  word-wrap: break-word;
}

/* line 475, ../sass/buddypress.scss */
#buddypress .activity-inner > .activity-inner {
  margin: 0;
}

/* line 478, ../sass/buddypress.scss */
#buddypress .activity-inner > blockquote {
  margin: 0;
}

/* line 481, ../sass/buddypress.scss */
#buddypress .activity-list .activity-content img.thumbnail {
  border: 2px solid #eee;
  float: left;
  margin: 0 10px 5px 0;
}

/* line 486, ../sass/buddypress.scss */
#buddypress .activity-read-more {
  margin-left: 1em;
  white-space: nowrap;
}

/* line 490, ../sass/buddypress.scss */
#buddypress .activity-list li.load-more,
#buddypress .activity-list li.load-newest {
  background: #f0f0f0;
  font-size: 110%;
  margin: 15px 0;
  padding: 10px 15px;
  text-align: center;
}

/* line 498, ../sass/buddypress.scss */
#buddypress .activity-list li.load-more a,
#buddypress .activity-list li.load-newest a {
  color: #4D4D4D;
}

/*--------------------------------------------------------------
3.1.2 - Activity Comments
--------------------------------------------------------------*/
/* line 507, ../sass/buddypress.scss */
#buddypress div.activity-meta {
  margin: 18px 0 0;
  border-bottom: solid 1px #e6e6e6;
  padding-bottom: 20px;
}

/* line 512, ../sass/buddypress.scss */
body.activity-permalink #buddypress div.activity-meta {
  margin-bottom: 6px;
}

/* line 515, ../sass/buddypress.scss */
#buddypress div.activity-meta a {
  padding: 4px 8px;
}

/* line 518, ../sass/buddypress.scss */
#buddypress a.activity-time-since {
  color: #aaa;
  text-decoration: none;
}

/* line 522, ../sass/buddypress.scss */
#buddypress a.activity-time-since:hover {
  color: #888;
  text-decoration: underline;
}

/* line 526, ../sass/buddypress.scss */
#buddypress a.bp-primary-action,
#buddypress #reply-title small a {
  font-size: 80%;
  margin-right: 5px;
  text-decoration: none;
}

/* line 532, ../sass/buddypress.scss */
#buddypress a.bp-primary-action span,
#buddypress #reply-title small a span {
  background: #999;
  color: #fff;
  font-size: 90%;
  margin-left: 2px;
  padding: 0 5px;
}

/* line 540, ../sass/buddypress.scss */
#buddypress a.bp-primary-action:hover span,
#buddypress #reply-title small a:hover span {
  background: #555;
  color: #fff;
}

/* line 545, ../sass/buddypress.scss */
#buddypress div.activity-comments {
  margin: 0 0 0 70px;
  overflow: hidden;
  /* IE fix */
  position: relative;
  width: auto;
  clear: both;
}

/* line 552, ../sass/buddypress.scss */
body.activity-permalink #buddypress div.activity-comments {
  background: none;
  margin-left: 170px;
  width: auto;
}

/* line 557, ../sass/buddypress.scss */
#buddypress div.activity-comments > ul {
  padding: 0 0 0 10px;
}

/* line 560, ../sass/buddypress.scss */
#buddypress div.activity-comments ul,
#buddypress div.activity-comments ul li {
  border: none;
  list-style: none;
}

/* line 565, ../sass/buddypress.scss */
#buddypress div.activity-comments ul {
  clear: both;
  margin: 0;
}

/* line 569, ../sass/buddypress.scss */
#buddypress div.activity-comments ul li {
  border-top: 1px solid #eee;
  padding: 10px 0 0;
}

/* line 573, ../sass/buddypress.scss */
body.activity-permalink #buddypress .activity-list li.mini .activity-comments {
  clear: none;
  margin-top: 0;
}

/* line 577, ../sass/buddypress.scss */
body.activity-permalink #buddypress div.activity-comments ul li {
  border-width: 1px;
  padding: 10px 0 0 0;
}

/* line 581, ../sass/buddypress.scss */
#buddypress div.activity-comments > ul > li:first-child {
  border-top: none;
}

/* line 584, ../sass/buddypress.scss */
#buddypress div.activity-comments ul li:last-child {
  margin-bottom: 0;
}

/* line 587, ../sass/buddypress.scss */
#buddypress div.activity-comments ul li > ul {
  margin-left: 30px;
  margin-top: 0;
  padding-left: 10px;
}

/* line 592, ../sass/buddypress.scss */
body.activity-permalink #buddypress div.activity-comments ul li > ul {
  margin-top: 10px;
}

/* line 595, ../sass/buddypress.scss */
body.activity-permalink #buddypress div.activity-comments > ul {
  padding: 0 10px 0 15px;
}

/* line 598, ../sass/buddypress.scss */
#buddypress div.activity-comments div.acomment-avatar img {
  border-width: 1px;
  float: left;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

/* line 605, ../sass/buddypress.scss */
#buddypress div.activity-comments div.acomment-content {
  font-size: 80%;
  margin: 5px 0 0 40px;
}

/* line 609, ../sass/buddypress.scss */
#buddypress div.acomment-content .time-since,
#buddypress div.acomment-content .activity-delete-link,
#buddypress div.acomment-content .comment-header {
  display: none;
}

/* line 614, ../sass/buddypress.scss */
body.activity-permalink #buddypress div.activity-comments div.acomment-content {
  font-size: 90%;
}

/* line 617, ../sass/buddypress.scss */
#buddypress div.activity-comments div.acomment-meta {
  color: #888;
  font-size: 80%;
}

/* line 621, ../sass/buddypress.scss */
#buddypress div.activity-comments form.ac-form {
  display: none;
  padding: 10px;
}

/* line 625, ../sass/buddypress.scss */
#buddypress div.activity-comments li form.ac-form {
  margin-right: 15px;
  clear: both;
}

/* line 629, ../sass/buddypress.scss */
#buddypress div.activity-comments form.root {
  margin-left: 0;
}

/* line 632, ../sass/buddypress.scss */
#buddypress div.activity-comments div#message {
  margin-top: 15px;
  margin-bottom: 0;
}

/* line 636, ../sass/buddypress.scss */
#buddypress div.activity-comments form .ac-textarea {
  background: #fff;
  border: 1px inset #ccc;
  margin-bottom: 10px;
  padding: 8px;
}

/* line 642, ../sass/buddypress.scss */
#buddypress div.activity-comments form textarea {
  border: none;
  background: transparent;
  box-shadow: none;
  outline: none;
  color: #555;
  font-family: inherit;
  font-size: 100%;
  height: 60px;
  padding: 0;
  margin: 0;
  width: 100%;
}

/* line 655, ../sass/buddypress.scss */
#buddypress div.activity-comments form input {
  margin-top: 5px;
}

/* line 658, ../sass/buddypress.scss */
#buddypress div.activity-comments form div.ac-reply-avatar {
  float: left;
}

/* line 661, ../sass/buddypress.scss */
#buddypress div.ac-reply-avatar img {
  border: 1px solid #eee;
}

/* line 664, ../sass/buddypress.scss */
#buddypress div.activity-comments form div.ac-reply-content {
  color: #888;
  margin-left: 50px;
  padding-left: 15px;
}

/* line 669, ../sass/buddypress.scss */
#buddypress div.activity-comments form div.ac-reply-content a {
  text-decoration: none;
}

/* line 672, ../sass/buddypress.scss */
#buddypress .acomment-options {
  float: left;
  margin: 5px 0 5px 40px;
}

/* line 676, ../sass/buddypress.scss */
#buddypress .acomment-options a {
  color: #999;
}

/* line 679, ../sass/buddypress.scss */
#buddypress .acomment-options a:hover {
  color: inherit;
}

/*--------------------------------------------------------------
3.3 - Directories - Members, Groups, Blogs, Forums
--------------------------------------------------------------*/
/* line 686, ../sass/buddypress.scss */
#buddypress div.dir-search {
  margin: 0;
}

/* line 690, ../sass/buddypress.scss */
#buddypress div.dir-search input[type=text],
#buddypress li.groups-members-search input[type=text] {
  font-size: 90%;
  padding: 1px 3px;
}

/* line 695, ../sass/buddypress.scss */
#buddypress .current-member-type {
  font-style: italic;
}

/* line 698, ../sass/buddypress.scss */
#buddypress .dir-form {
  clear: both;
}

/*--------------------------------------------------------------
3.4 - Errors / Success Messages
--------------------------------------------------------------*/
/* line 705, ../sass/buddypress.scss */
#buddypress div#message {
  margin: 0 0 15px;
}

/* line 708, ../sass/buddypress.scss */
#buddypress #message.info {
  margin-bottom: 0;
}

/* line 711, ../sass/buddypress.scss */
#buddypress div#message.updated {
  clear: both;
  display: block;
}

/* line 715, ../sass/buddypress.scss */
#buddypress div#message p,
#sitewide-notice p {
  font-size: 90%;
  display: block;
  padding: 10px 15px;
}

/* line 721, ../sass/buddypress.scss */
#buddypress div#message.error p {
  background-color: #fdc;
  border: 1px solid #a00;
  clear: left;
  color: #800;
}

/* line 727, ../sass/buddypress.scss */
#buddypress div#message.warning p {
  background-color: #ffe0af;
  border: 1px solid #ffd087;
  clear: left;
  color: #800;
}

/* line 733, ../sass/buddypress.scss */
#buddypress div#message.updated p {
  background-color: #efc;
  border: 1px solid #591;
  color: #250;
}

/* line 738, ../sass/buddypress.scss */
#buddypress #pass-strength-result {
  background-color: #eee;
  border-color: #ddd;
  border-style: solid;
  border-width: 1px;
  display: none;
  margin: 5px 5px 5px 0;
  padding: 5px;
  text-align: center;
  width: 150px;
}

/* line 749, ../sass/buddypress.scss */
#buddypress .standard-form #basic-details-section #pass-strength-result {
  width: 35%;
}

/* line 752, ../sass/buddypress.scss */
#buddypress #pass-strength-result.error,
#buddypress #pass-strength-result.bad {
  background-color: #ffb78c;
  border-color: #ff853c !important;
  display: block;
}

/* line 758, ../sass/buddypress.scss */
#buddypress #pass-strength-result.good {
  background-color: #ffec8b;
  border-color: #fc0 !important;
  display: block;
}

/* line 763, ../sass/buddypress.scss */
#buddypress #pass-strength-result.short {
  background-color: #ffa0a0;
  border-color: #f04040 !important;
  display: block;
}

/* line 768, ../sass/buddypress.scss */
#buddypress #pass-strength-result.strong {
  background-color: #c3ff88;
  border-color: #8dff1c !important;
  display: block;
}

/* line 773, ../sass/buddypress.scss */
#buddypress .standard-form#signup_form div div.error {
  background: #faa;
  color: #a00;
  margin: 0 0 10px 0;
  padding: 6px;
  width: 90%;
}

/* line 780, ../sass/buddypress.scss */
#buddypress div.accept,
#buddypress div.reject {
  float: left;
  margin-left: 10px;
}

/* line 785, ../sass/buddypress.scss */
#buddypress ul.button-nav li {
  float: left;
  margin: 0 10px 10px 0;
  list-style: none;
}

/* line 790, ../sass/buddypress.scss */
#buddypress ul.button-nav li.current a {
  font-weight: bold;
}

/* line 793, ../sass/buddypress.scss */
#sitewide-notice #message {
  left: 2%;
  position: fixed;
  top: 1em;
  width: 96%;
  z-index: 9999;
}

/* line 800, ../sass/buddypress.scss */
#sitewide-notice.admin-bar-on #message {
  top: 3.3em;
}

/* line 803, ../sass/buddypress.scss */
#sitewide-notice strong {
  display: block;
  margin-bottom: -1em;
}

/*--------------------------------------------------------------
3.5 - Forms
--------------------------------------------------------------*/
/* line 835, ../sass/buddypress.scss */
#buddypress .standard-form select {
  padding: 3px;
}

/* line 838, ../sass/buddypress.scss */
#buddypress .standard-form input[type=password] {
  margin-bottom: 5px;
}

/* line 841, ../sass/buddypress.scss */
#buddypress .standard-form label,
#buddypress .standard-form span.label {
  display: block;
  font-weight: bold;
  margin: 15px 0 5px 0;
  width: auto;
}

/* line 848, ../sass/buddypress.scss */
#buddypress .standard-form div.checkbox label:nth-child(n+2),
#buddypress .standard-form div.radio div label {
  color: #888;
  font-size: 100%;
  font-weight: normal;
  margin: 5px 0 0 0;
}

/* line 855, ../sass/buddypress.scss */
#buddypress .standard-form#sidebar-login-form label {
  margin-top: 5px;
}

/* line 858, ../sass/buddypress.scss */
#buddypress .standard-form input[type=text] {
  width: 75%;
}

/* line 861, ../sass/buddypress.scss */
#buddypress .standard-form#sidebar-login-form input[type=text],
#buddypress .standard-form#sidebar-login-form input[type=password] {
  padding: 4px;
  width: 95%;
}

/* line 866, ../sass/buddypress.scss */
#buddypress .standard-form #basic-details-section input[type=password],
#buddypress .standard-form #blog-details-section input#signup_blog_url {
  width: 35%;
}

/* line 870, ../sass/buddypress.scss */
#buddypress .standard-form#signup_form input[type=text],
#buddypress .standard-form#signup_form textarea,
#buddypress .form-allowed-tags,
#buddypress #commentform input[type=text],
#buddypress #commentform textarea {
  width: 90%;
}

/* line 877, ../sass/buddypress.scss */
#buddypress .standard-form#signup_form div.submit {
  float: right;
}

/* line 880, ../sass/buddypress.scss */
#buddypress div#signup-avatar img {
  margin: 0 15px 10px 0;
}

/* line 883, ../sass/buddypress.scss */
#buddypress .standard-form textarea {
  width: 75%;
  height: 120px;
}

/* line 887, ../sass/buddypress.scss */
#buddypress .standard-form textarea#message_content {
  height: 200px;
}

/* line 890, ../sass/buddypress.scss */
#buddypress .standard-form#send-reply textarea {
  width: 97.5%;
}

/* line 893, ../sass/buddypress.scss */
#buddypress .standard-form p.description {
  color: #888;
  font-size: 80%;
  margin: 5px 0;
}

/* line 898, ../sass/buddypress.scss */
#buddypress .standard-form div.submit {
  clear: both;
  padding: 15px 0 0 0;
}

/* line 902, ../sass/buddypress.scss */
#buddypress .standard-form p.submit {
  margin-bottom: 0;
  padding: 15px 0 0 0;
}

/* line 906, ../sass/buddypress.scss */
#buddypress .standard-form div.submit input {
  margin-right: 15px;
}

/* line 909, ../sass/buddypress.scss */
#buddypress .standard-form div.radio ul {
  margin: 10px 0 15px 38px;
  list-style: disc;
}

/* line 913, ../sass/buddypress.scss */
#buddypress .standard-form div.radio ul li {
  margin-bottom: 5px;
}

/* line 916, ../sass/buddypress.scss */
#buddypress .standard-form a.clear-value {
  display: block;
  margin-top: 5px;
  outline: none;
}

/* line 921, ../sass/buddypress.scss */
#buddypress .standard-form #basic-details-section,
#buddypress .standard-form #blog-details-section,
#buddypress .standard-form #profile-details-section {
  float: left;
  width: 48%;
}

/* line 927, ../sass/buddypress.scss */
#buddypress .standard-form #profile-details-section {
  float: right;
}

/* line 930, ../sass/buddypress.scss */
#buddypress .standard-form #blog-details-section,
#buddypress #notifications-bulk-management {
  clear: left;
}

/* line 934, ../sass/buddypress.scss */
body.no-js #buddypress #notifications-bulk-management #select-all-notifications,
body.no-js #buddypress label[for="message-type-select"],
body.no-js #buddypress #message-type-select,
body.no-js #buddypress #delete_inbox_messages,
body.no-js #buddypress #delete_sentbox_messages,
body.no-js #buddypress #messages-bulk-management #select-all-messages {
  display: none;
}

/* line 942, ../sass/buddypress.scss */
#buddypress .standard-form input:focus,
#buddypress .standard-form textarea:focus,
#buddypress .standard-form select:focus {
  background: #fafafa;
  color: #555;
}

/* line 948, ../sass/buddypress.scss */
#buddypress form#send-invite-form {
  margin-top: 20px;
}

/* line 951, ../sass/buddypress.scss */
#buddypress div#invite-list {
  background: #f5f5f5;
  height: 400px;
  margin: 0 0 10px;
  overflow: auto;
  padding: 5px;
  width: 160px;
}

/* line 959, ../sass/buddypress.scss */
#buddypress button,
#buddypress a.button,
#buddypress input[type=submit],
#buddypress input[type=button],
#buddypress input[type=reset],
#buddypress ul.button-nav li a,
#buddypress div.generic-button a,
#buddypress .comment-reply-link,
a.bp-title-button {
  color: #999;
  background-color: transparent;
  border: none;
}

/* line 985, ../sass/buddypress.scss */
#buddypress form.standard-form .left-menu {
  float: left;
}

/* line 989, ../sass/buddypress.scss */
#buddypress form.standard-form .left-menu #invite-list ul {
  margin: 1%;
  list-style: none;
}

/* line 994, ../sass/buddypress.scss */
#buddypress form.standard-form .left-menu #invite-list ul li {
  margin: 0 0 0 1%;
}

/* line 998, ../sass/buddypress.scss */
#buddypress form.standard-form .main-column {
  margin-left: 190px;
}

/* line 1002, ../sass/buddypress.scss */
#buddypress form.standard-form .main-column ul#friend-list {
  clear: none;
  float: left;
}

/* line 1007, ../sass/buddypress.scss */
#buddypress form.standard-form .main-column ul#friend-list h4 {
  clear: none;
}

/* Overrides for embedded WP editors */
/* Form classes & generic attr styling */
/* line 1021, ../sass/buddypress.scss */
#buddypress form *[disabled="disabled"] {
  cursor: default;
  opacity: .4;
}

/* line 1025, ../sass/buddypress.scss */
.bp-screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute;
}

/*--------------------------------------------------------------
3.6 - Ajax Loading
--------------------------------------------------------------*/
/* line 1033, ../sass/buddypress.scss */
#buddypress a.loading,
#buddypress input.loading {
  -webkit-animation: loader-pulsate .5s infinite ease-in-out alternate;
  -moz-animation: loader-pulsate .5s infinite ease-in-out alternate;
  border-color: #aaa;
}

@-webkit-keyframes loader-pulsate {
  from {
    border-color: #aaa;
    -webkit-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
  }
  to {
    border-color: #ccc;
    -webkit-box-shadow: 0 0 6px #f8f8f8;
    box-shadow: 0 0 6px #f8f8f8;
  }
}
@-moz-keyframes loader-pulsate {
  from {
    border-color: #aaa;
    -moz-box-shadow: 0 0 6px #ccc;
    box-shadow: 0 0 6px #ccc;
  }
  to {
    border-color: #ccc;
    -moz-box-shadow: 0 0 6px #f8f8f8;
    box-shadow: 0 0 6px #f8f8f8;
  }
}
/* line 1064, ../sass/buddypress.scss */
#buddypress a.loading:hover,
#buddypress input.loading:hover {
  color: #777;
}

/* line 1068, ../sass/buddypress.scss */
#buddypress input[type="submit"].pending,
#buddypress input[type="button"].pending,
#buddypress input[type="reset"].pending,
#buddypress input[type="submit"].disabled,
#buddypress input[type="button"].disabled,
#buddypress input[type="reset"].disabled,
#buddypress input[type="submit"][disabled=disabled],
#buddypress button.pending,
#buddypress button.disabled,
#buddypress div.pending a,
#buddypress a.disabled {
  border-color: #eee;
  color: #bbb;
  cursor: default;
}

/*--------------------------------------------------------------
3.7 - Forums, Tables and Topics
--------------------------------------------------------------*/
/* line 1099, ../sass/buddypress.scss */
#buddypress ul#topic-post-list {
  margin: 0;
  width: auto;
}

/* line 1103, ../sass/buddypress.scss */
#buddypress ul#topic-post-list li {
  padding: 15px;
  position: relative;
}

/* line 1107, ../sass/buddypress.scss */
#buddypress ul#topic-post-list li.alt {
  background: #f5f5f5;
}

/* line 1110, ../sass/buddypress.scss */
#buddypress ul#topic-post-list li div.poster-meta {
  color: #888;
  margin-bottom: 10px;
}

/* line 1114, ../sass/buddypress.scss */
#buddypress ul#topic-post-list li div.post-content {
  margin-left: 54px;
}

/* line 1117, ../sass/buddypress.scss */
#buddypress div.topic-tags {
  font-size: 80%;
}

/* line 1120, ../sass/buddypress.scss */
#buddypress div.admin-links {
  color: #888;
  font-size: 80%;
  position: absolute;
  top: 15px;
  right: 25px;
}

/* line 1127, ../sass/buddypress.scss */
#buddypress div#topic-meta {
  margin: 0;
  padding: 5px 19px 30px;
  position: relative;
}

/* line 1132, ../sass/buddypress.scss */
#buddypress div#topic-meta div.admin-links {
  right: 19px;
  top: -36px;
}

/* line 1136, ../sass/buddypress.scss */
#buddypress div#topic-meta h3 {
  margin: 5px 0;
}

/* line 1139, ../sass/buddypress.scss */
#buddypress div#new-topic-post {
  display: none;
  margin: 20px 0 0 0;
  padding: 1px 0 0 0;
}

/* line 1144, ../sass/buddypress.scss */
#buddypress table.notifications,
#buddypress table.notifications-settings,
#buddypress table.profile-settings,
#buddypress table.profile-fields,
#buddypress table.wp-profile-fields,
#buddypress table.messages-notices,
#buddypress table.forum {
  width: 100%;
}

/* line 1153, ../sass/buddypress.scss */
#buddypress table.notifications thead tr,
#buddypress table.notifications-settings thead tr,
#buddypress table.profile-settings thead tr,
#buddypress table.profile-fields thead tr,
#buddypress table.wp-profile-fields thead tr,
#buddypress table.messages-notices thead tr,
#buddypress table.forum thead tr {
  background: #eaeaea;
}

/* line 1162, ../sass/buddypress.scss */
#buddypress table#message-threads {
  clear: both;
}

/* line 1165, ../sass/buddypress.scss */
#buddypress table.profile-fields {
  margin-bottom: 20px;
}

/* line 1168, ../sass/buddypress.scss */
#buddypress table.profile-fields:last-child {
  margin-bottom: 0;
}

/* line 1171, ../sass/buddypress.scss */
#buddypress table.profile-fields p {
  margin: 0;
}

/* line 1174, ../sass/buddypress.scss */
#buddypress table.profile-fields p:last-child {
  margin-top: 0;
}

/* line 1177, ../sass/buddypress.scss */
#buddypress table.notifications tr td,
#buddypress table.notifications-settings tr td,
#buddypress table.profile-settings tr td,
#buddypress table.profile-fields tr td,
#buddypress table.wp-profile-fields tr td,
#buddypress table.messages-notices tr td,
#buddypress table.forum tr td,
#buddypress table.notifications tr th,
#buddypress table.notifications-settings tr th,
#buddypress table.profile-fields tr th,
#buddypress table.wp-profile-fields tr th,
#buddypress table.messages-notices tr th,
#buddypress table.forum tr th {
  padding: 8px;
  vertical-align: middle;
}

/* line 1193, ../sass/buddypress.scss */
#buddypress table.notifications tr td.label,
#buddypress table.notifications-settings tr td.label,
#buddypress table.profile-fields tr td.label,
#buddypress table.wp-profile-fields tr td.label,
#buddypress table.messages-notices tr td.label,
#buddypress table.forum tr td.label {
  border-right: 1px solid #eaeaea;
  font-weight: bold;
  width: 25%;
}

/* line 1203, ../sass/buddypress.scss */
#buddypress #message-threads .thread-info {
  min-width: 40%;
}

/* line 1206, ../sass/buddypress.scss */
#buddypress table tr td.thread-info p {
  margin: 0;
}

/* line 1209, ../sass/buddypress.scss */
#buddypress table tr td.thread-info p.thread-excerpt {
  color: #888;
  font-size: 80%;
  margin-top: 3px;
}

/* line 1214, ../sass/buddypress.scss */
#buddypress table.forum td {
  text-align: center;
}

/* line 1217, ../sass/buddypress.scss */
#buddypress table.notifications tr.alt td,
#buddypress table.notifications-settings tr.alt td,
#buddypress table.profile-settings tr.alt td,
#buddypress table.profile-fields tr.alt td,
#buddypress table.wp-profile-fields tr.alt td,
#buddypress table.messages-notices tr.alt td,
#buddypress table.forum tr.alt td {
  background: #f5f5f5;
}

/* line 1226, ../sass/buddypress.scss */
#buddypress table.notification-settings {
  margin-bottom: 20px;
  text-align: left;
}

/* line 1230, ../sass/buddypress.scss */
#buddypress #groups-notification-settings {
  margin-bottom: 0;
}

/* line 1233, ../sass/buddypress.scss */
#buddypress table.notifications th.icon,
#buddypress table.notifications td:first-child,
#buddypress table.notification-settings th.icon,
#buddypress table.notification-settings td:first-child {
  display: none;
}

/* line 1239, ../sass/buddypress.scss */
#buddypress table.notification-settings th.title,
#buddypress table.profile-settings th.title {
  width: 80%;
}

/* line 1243, ../sass/buddypress.scss */
#buddypress table.notification-settings .yes,
#buddypress table.notification-settings .no {
  text-align: center;
  width: 40px;
}

/* line 1248, ../sass/buddypress.scss */
#buddypress table.forum {
  margin: 0;
  width: auto;
  clear: both;
}

/* line 1253, ../sass/buddypress.scss */
#buddypress table.forum tr.sticky td {
  font-size: 110%;
  background: #fff9db;
  border-top: 1px solid #ffe8c4;
  border-bottom: 1px solid #ffe8c4;
}

/* line 1259, ../sass/buddypress.scss */
#buddypress table.forum tr.closed td.td-title {
  padding-left: 35px;
}

/* line 1262, ../sass/buddypress.scss */
#buddypress table.forum td p.topic-text {
  color: #888;
  font-size: 100%;
}

/* line 1266, ../sass/buddypress.scss */
#buddypress table.forum tr > td:first-child,
#buddypress table.forum tr > th:first-child {
  padding-left: 15px;
}

/* line 1270, ../sass/buddypress.scss */
#buddypress table.forum tr > td:last-child,
#buddypress table.forum tr > th:last-child {
  padding-right: 15px;
}

/* line 1274, ../sass/buddypress.scss */
#buddypress table.forum tr th#th-title,
#buddypress table.forum tr th#th-poster,
#buddypress table.forum tr th#th-group,
#buddypress table.forum td.td-poster,
#buddypress table.forum td.td-group,
#buddypress table.forum td.td-title {
  text-align: left;
}

/* line 1282, ../sass/buddypress.scss */
#buddypress table.forum tr td.td-title a.topic-title {
  font-size: 110%;
}

/* line 1285, ../sass/buddypress.scss */
#buddypress table.forum td.td-freshness {
  white-space: nowrap;
}

/* line 1288, ../sass/buddypress.scss */
#buddypress table.forum td.td-freshness span.time-since {
  font-size: 80%;
  color: #888;
}

/* line 1292, ../sass/buddypress.scss */
#buddypress table.forum td img.avatar {
  float: none;
  margin: 0 5px -8px 0;
}

/* line 1296, ../sass/buddypress.scss */
#buddypress table.forum td.td-poster,
#buddypress table.forum td.td-group {
  min-width: 140px;
}

/* line 1300, ../sass/buddypress.scss */
#buddypress table.forum th#th-title {
  width: 80%;
}

/* line 1303, ../sass/buddypress.scss */
#buddypress table.forum th#th-freshness {
  width: 25%;
}

/* line 1306, ../sass/buddypress.scss */
#buddypress table.forum th#th-postcount {
  width: 15%;
}

/* line 1309, ../sass/buddypress.scss */
#buddypress table.forum p.topic-meta {
  font-size: 80%;
  margin: 5px 0 0 0;
}

/*-------------------------------------------------------------------------
3.8 - Headers, Lists and Tabs - Activity, Groups, Blogs, Forums, Profiles
-------------------------------------------------------------------------*/
/* line 1317, ../sass/buddypress.scss */
#buddypress .item-body {
  margin: 20px 0;
}

/* line 1320, ../sass/buddypress.scss */
#buddypress span.activity {
  display: inline-block;
  font-size: small;
  opacity: 0.8;
  padding: 0;
}

/* line 1326, ../sass/buddypress.scss */
#buddypress span.user-nicename {
  color: #777;
  display: inline-block;
  font-size: 120%;
  font-weight: bold;
}

/* line 1332, ../sass/buddypress.scss */
#buddypress div#message p,
#sitewide-notice p {
  font-weight: normal;
  margin-top: 3px;
  text-decoration: none;
  background-color: #ffd;
  border: 1px solid #cb2;
  color: #440;
}

/* line 1341, ../sass/buddypress.scss */
#buddypress div#item-header {
  overflow: hidden;
}

/* line 1344, ../sass/buddypress.scss */
#buddypress div#item-header #item-header-avatar {
  display: block;
  width: 100%;
  text-align: center;
}

/* line 1349, ../sass/buddypress.scss */
#buddypress div#item-header div#item-header-content {
  display: block;
  width: 100%;
  text-align: center;
}

/* line 1354, ../sass/buddypress.scss */
#buddypress div#item-header h2 {
  line-height: 120%;
  margin: 0 0 15px 0;
}

/* line 1358, ../sass/buddypress.scss */
#buddypress div#item-header h2 a {
  color: #777;
  text-decoration: none;
}

/* line 1362, ../sass/buddypress.scss */
#buddypress div#item-header img.avatar {
  margin: 0 15px 19px 0;
}

/* line 1365, ../sass/buddypress.scss */
#buddypress div#item-header h2 {
  margin-bottom: 5px;
}

/* line 1368, ../sass/buddypress.scss */
#buddypress div#item-header h2 span.highlight {
  font-size: 60%;
  font-weight: normal;
  line-height: 170%;
  vertical-align: middle;
  display: inline-block;
}

/* line 1375, ../sass/buddypress.scss */
#buddypress div#item-header h2 span.highlight span {
  background: #a1dcfa;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
  font-size: 80%;
  margin-bottom: 2px;
  padding: 1px 4px;
  position: relative;
  right: -2px;
  top: -2px;
  vertical-align: middle;
}

/* line 1388, ../sass/buddypress.scss */
#buddypress div#item-header div#item-meta {
  font-size: 80%;
  color: #aaa;
  overflow: hidden;
  margin: 15px 0 5px 0;
  padding-bottom: 10px;
}

/* line 1395, ../sass/buddypress.scss */
#buddypress div#item-header div#item-actions {
  float: right;
  margin: 0 0 15px 15px;
  text-align: right;
  width: 20%;
}

/* line 1401, ../sass/buddypress.scss */
#buddypress div#item-header div#item-actions h3 {
  margin: 0 0 5px 0;
}

/* line 1404, ../sass/buddypress.scss */
#buddypress div#item-header ul {
  margin-bottom: 15px;
  overflow: hidden;
}

/* line 1408, ../sass/buddypress.scss */
#buddypress div#item-header ul h5,
#buddypress div#item-header ul span,
#buddypress div#item-header ul hr {
  display: none;
}

/* line 1413, ../sass/buddypress.scss */
#buddypress div#item-header ul li {
  float: right;
  list-style: none;
}

/* line 1417, ../sass/buddypress.scss */
#buddypress div#item-header ul img.avatar,
#buddypress div#item-header ul.avatars img.avatar {
  height: 30px;
  margin: 2px;
  width: 30px;
}

/* line 1423, ../sass/buddypress.scss */
#buddypress div#item-header div.generic-button,
#buddypress div#item-header a.button {
  float: left;
  margin: 10px 10px 0 0;
}

/* line 1428, ../sass/buddypress.scss */
#buddypress div#item-header div#message.info {
  line-height: 80%;
}

/* line 1431, ../sass/buddypress.scss */
#buddypress ul.item-list {
  width: 100%;
  list-style: none;
  clear: both;
  margin: 0;
  padding: 0;
}

/* line 1438, ../sass/buddypress.scss */
body.activity-permalink #buddypress ul.item-list,
body.activity-permalink #buddypress ul.item-list li.activity-item {
  border: none;
}

/* line 1445, ../sass/buddypress.scss */
#buddypress ul.single-line li {
  border: none;
}
/* line 1449, ../sass/buddypress.scss */
#buddypress ul.item-list li {
  padding: 15px 0;
  margin: 0;
  position: relative;
  list-style: none;
}
/* line 1454, ../sass/buddypress.scss */
#buddypress ul.item-list li img.avatar {
  float: left;
  margin: 0 25px 0 50px;
}
/* line 1458, ../sass/buddypress.scss */
#buddypress ul.item-list li div.item-title,
#buddypress ul.item-list li h4 {
  font-weight: normal;
  margin: 0;
  width: 75%;
}
/* line 1464, ../sass/buddypress.scss */
#buddypress ul.item-list li div.item-title span {
  color: #999;
}
/* line 1467, ../sass/buddypress.scss */
#buddypress ul.item-list li div.item-desc {
  color: #888;
  margin: 10px 0 0 60px;
  width: 50%;
}
/* line 1473, ../sass/buddypress.scss */
#buddypress ul.item-list li.group-no-avatar div.item-desc {
  margin-left: 0;
}
/* line 1477, ../sass/buddypress.scss */
#buddypress ul.item-list li div.action {
  position: absolute;
  top: 15px;
  right: 0;
  text-align: right;
}
/* line 1483, ../sass/buddypress.scss */
#buddypress ul.item-list li div.meta {
  color: #888;
  margin-top: 10px;
}
/* line 1488, ../sass/buddypress.scss */
#buddypress ul.item-list li h5 span.small {
  float: right;
  font-weight: normal;
}
/* line 1495, ../sass/buddypress.scss */
#buddypress div.item-list-tabs {
  background: transparent;
  clear: left;
  text-align: center;
  overflow: hidden;
  padding: 5px 10px;
}
/* line 1501, ../sass/buddypress.scss */
#buddypress div.item-list-tabs ul {
  margin: 0;
  padding: 0;
}
/* line 1504, ../sass/buddypress.scss */
#buddypress div.item-list-tabs ul li {
  margin-top: 0;
  float: left;
  margin: 0;
  list-style: none;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl #buddypress div.item-list-tabs ul li {
  float: right;
}
/* line 1509, ../sass/buddypress.scss */
#buddypress div.item-list-tabs ul li a,
#buddypress div.item-list-tabs ul li span {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
}
/* line 1515, ../sass/buddypress.scss */
#buddypress div.item-list-tabs ul li a span {
  border-radius: 50%;
  border: 1px solid #11aba3;
  color: #11aba3;
  display: inline;
  margin-left: 2px;
  padding: 3px 6px;
  text-align: center;
}
/* line 1524, ../sass/buddypress.scss */
#buddypress div.item-list-tabs ul li.last {
  margin-top: 4px;
  float: right;
}
/* line 1528, ../sass/buddypress.scss */
#buddypress div.item-list-tabs ul li.last select {
  max-width: 185px;
}
/* line 1531, ../sass/buddypress.scss */
#buddypress div.item-list-tabs ul li.selected a, #buddypress div.item-list-tabs ul li.current a {
  color: #000;
  font-weight: 600;
}
/* line 1536, ../sass/buddypress.scss */
#buddypress div.item-list-tabs ul li.selected a span, #buddypress div.item-list-tabs ul li.current a span,
#buddypress div.item-list-tabs ul li a:hover span {
  background-color: #eee;
}
/* line 1541, ../sass/buddypress.scss */
#buddypress div.item-list-tabs ul li.selected a span, #buddypress div.item-list-tabs ul li.current a span {
  background-color: #fff;
}
/* line 1545, ../sass/buddypress.scss */
#buddypress div.item-list-tabs ul li.loading a {
  background-position: 88% 50%;
}

/* line 1556, ../sass/buddypress.scss */
#buddypress div.item-list-tabs#object-nav {
  margin-top: 0;
  text-align: center;
}
/* line 1562, ../sass/buddypress.scss */
#buddypress .item-list-tabs#object-nav ul,
#buddypress .activity-type-tabs ul {
  display: inline-block;
  background: #fff;
  border: solid 1px #e6e6e6;
}
/* line 1567, ../sass/buddypress.scss */
#buddypress .item-list-tabs#object-nav ul li a,
#buddypress .activity-type-tabs ul li a {
  text-transform: uppercase;
  border-right: solid 1px #e6e6e6;
  font-size: 12px;
  color: #999;
  letter-spacing: 2px;
  font-weight: 800;
}
/* line 1577, ../sass/buddypress.scss */
#buddypress .item-list-tabs#object-nav ul li.selected a, #buddypress .item-list-tabs#object-nav ul li.active a,
#buddypress .activity-type-tabs ul li.selected a,
#buddypress .activity-type-tabs ul li.active a {
  background: transparent;
  color: #000;
}
/* line 1582, ../sass/buddypress.scss */
#buddypress .item-list-tabs#object-nav ul li:last-child a,
#buddypress .activity-type-tabs ul li:last-child a {
  border-right: none;
}

/* line 1592, ../sass/buddypress.scss */
#buddypress div.item-list-tabs#subnav {
  background: #F7F7F7;
  margin: 35px 0;
  overflow: hidden;
}

/* line 1602, ../sass/buddypress.scss */
#buddypress #admins-list li,
#buddypress #mods-list li,
#buddypress #members-list li {
  overflow: auto;
  list-style: none;
}
/* line 1608, ../sass/buddypress.scss */
#buddypress #members-list li {
  text-align: center;
}
/* line 1611, ../sass/buddypress.scss */
#buddypress #members-list .item-avatar {
  clear: both;
  width: 100%;
}
/* line 1614, ../sass/buddypress.scss */
#buddypress #members-list .item-avatar .img.avatar {
  float: none;
}

/*--------------------------------------------------------------
3.9 - Private Messaging Threads
--------------------------------------------------------------*/
/* line 1626, ../sass/buddypress.scss */
#buddypress table#message-threads tr.unread td {
  background: #fff9db;
  border-top: 1px solid #ffe8c4;
  border-bottom: 1px solid #ffe8c4;
  font-weight: bold;
}

/* line 1632, ../sass/buddypress.scss */
#buddypress table#message-threads tr.unread td .thread-excerpt,
#buddypress table#message-threads tr.unread td .activity,
#buddypress table#message-threads tr.unread td.thread-options {
  font-weight: normal;
}

/* line 1637, ../sass/buddypress.scss */
#buddypress li span.unread-count,
#buddypress tr.unread span.unread-count {
  background: #dd0000;
  color: #fff;
  font-weight: bold;
  padding: 2px 8px;
}

/* line 1644, ../sass/buddypress.scss */
#buddypress div.item-list-tabs ul li a span.unread-count {
  padding: 1px 6px;
  color: #fff;
}

/* line 1648, ../sass/buddypress.scss */
#buddypress div#message-thread div.message-box {
  margin: 0;
  padding: 15px;
}

/* line 1652, ../sass/buddypress.scss */
#buddypress div#message-thread div.alt {
  background: #f4f4f4;
}

/* line 1655, ../sass/buddypress.scss */
#buddypress div#message-thread p#message-recipients {
  margin: 10px 0 20px 0;
}

/* line 1658, ../sass/buddypress.scss */
#buddypress div#message-thread img.avatar {
  float: left;
  margin: 0 10px 0 0;
  vertical-align: middle;
}

/* line 1663, ../sass/buddypress.scss */
#buddypress div#message-thread strong {
  font-size: 100%;
  margin: 0;
}

/* line 1667, ../sass/buddypress.scss */
#buddypress div#message-thread strong a {
  text-decoration: none;
}

/* line 1670, ../sass/buddypress.scss */
#buddypress div#message-thread strong span.activity {
  margin-top: 4px;
}

/* line 1673, ../sass/buddypress.scss */
#buddypress div#message-thread div.message-metadata {
  overflow: hidden;
}

/* line 1676, ../sass/buddypress.scss */
#buddypress div#message-thread div.message-content {
  margin-left: 45px;
}

/* line 1679, ../sass/buddypress.scss */
#buddypress div#message-thread div.message-options {
  text-align: right;
}

/* line 1682, ../sass/buddypress.scss */
#buddypress #message-threads img.avatar {
  max-width: none;
}

/* line 1685, ../sass/buddypress.scss */
#buddypress div.message-search {
  float: right;
  margin: 0 20px;
}

/* line 1690, ../sass/buddypress.scss */
.message-metadata {
  position: relative;
}

/* line 1693, ../sass/buddypress.scss */
.message-star-actions {
  position: absolute;
  right: 0;
  top: 0;
}

/* line 1698, ../sass/buddypress.scss */
#buddypress a.message-action-star,
#buddypress a.message-action-unstar {
  border-bottom: 0;
  text-decoration: none;
  outline: none;
}

/* line 1704, ../sass/buddypress.scss */
a.message-action-star {
  opacity: .7;
}

/* line 1707, ../sass/buddypress.scss */
a.message-action-star:hover {
  opacity: 1;
}

/* line 1710, ../sass/buddypress.scss */
.message-action-star span.icon:before,
.message-action-unstar span.icon:before {
  font-family: dashicons;
  font-size: 18px;
}

/* line 1715, ../sass/buddypress.scss */
.message-action-star span.icon:before {
  color: #aaa;
  content: "\f154";
}

/* line 1719, ../sass/buddypress.scss */
.message-action-unstar span.icon:before {
  color: #FCDD77;
  content: "\f155";
}

/*--------------------------------------------------------------
3.10 - Extended Profiles
--------------------------------------------------------------*/
/* line 1728, ../sass/buddypress.scss */
#buddypress div.profile h4 {
  margin-bottom: auto;
  margin-top: 15px;
}

/* line 1732, ../sass/buddypress.scss */
#buddypress #profile-edit-form ul.button-nav {
  margin-top: 15px;
}

/* line 1735, ../sass/buddypress.scss */
body.no-js #buddypress .field-visibility-settings-toggle,
body.no-js #buddypress .field-visibility-settings-close {
  display: none;
}

/* line 1739, ../sass/buddypress.scss */
#buddypress .field-visibility-settings {
  display: none;
  margin-top: 10px;
}

/* line 1743, ../sass/buddypress.scss */
body.no-js #buddypress .field-visibility-settings {
  display: block;
}

/* line 1746, ../sass/buddypress.scss */
#buddypress .current-visibility-level {
  font-weight: bold;
  font-style: normal;
}

/* line 1750, ../sass/buddypress.scss */
#buddypress .field-visibility-settings,
#buddypress .field-visibility-settings-toggle,
#buddypress .field-visibility-settings-notoggle {
  color: #888;
}

/* line 1755, ../sass/buddypress.scss */
#buddypress .field-visibility-settings-toggle a,
#buddypress .field-visibility-settings a {
  font-size: 80%;
}

/* line 1759, ../sass/buddypress.scss */
body.register #buddypress div.page ul {
  list-style: none;
}

/* line 1762, ../sass/buddypress.scss */
#buddypress .standard-form .field-visibility-settings label {
  margin: 0;
  font-weight: normal;
}

/* line 1766, ../sass/buddypress.scss */
#buddypress .field-visibility-settings legend,
#buddypress .field-visibility-settings-toggle {
  font-style: italic;
}

/* line 1770, ../sass/buddypress.scss */
#buddypress .field-visibility-settings .radio {
  list-style: none;
  margin-bottom: 0;
}

/* line 1774, ../sass/buddypress.scss */
#buddypress .field-visibility select {
  margin: 0;
}

/*--------------------------------------------------------------
3.11 - Widgets
--------------------------------------------------------------*/
/* line 1782, ../sass/buddypress.scss */
.widget.buddypress div.item-avatar img.avatar {
  float: left;
  margin: 0 10px 15px 0;
}

/* line 1787, ../sass/buddypress.scss */
.widget.buddypress span.activity {
  display: inline-block;
  font-size: small;
  text-transform: uppercase;
  font-size: 11;
  font-weight: 700;
  padding: 0;
}

/* line 1796, ../sass/buddypress.scss */
.widget.buddypress div.item-options {
  font-size: 90%;
  margin: 0 0 1em 0;
  padding: 1em 0;
}

/* line 1802, ../sass/buddypress.scss */
.widget.buddypress div.item {
  margin: 0 0 1em 0;
}

/* line 1806, ../sass/buddypress.scss */
.widget.buddypress div.item-meta,
.widget.buddypress div.item-content {
  font-size: 11px;
  margin-left: 50px;
}

/* line 1812, ../sass/buddypress.scss */
.widget.buddypress ul.item-list img.avatar {
  height: 40px;
  margin-right: 10px;
  width: 40px;
}

/* line 1817, ../sass/buddypress.scss */
.widget.buddypress div.item-avatar img {
  height: 40px;
  margin: 1px;
  width: 40px;
}

/* line 1823, ../sass/buddypress.scss */
.widget.buddypress div.avatar-block {
  overflow: hidden;
}

/* line 1827, ../sass/buddypress.scss */
.widget.buddypress #bp-login-widget-form label {
  display: block;
  margin: 1rem 0 .5rem;
}

/* line 1832, ../sass/buddypress.scss */
.widget.buddypress #bp-login-widget-form #bp-login-widget-submit {
  margin-right: 10px;
}

/* line 1836, ../sass/buddypress.scss */
.widget.buddypress .bp-login-widget-user-avatar {
  float: left;
}

/* line 1840, ../sass/buddypress.scss */
.bp-login-widget-user-avatar img.avatar {
  height: 40px;
  width: 40px;
}

/* line 1845, ../sass/buddypress.scss */
.widget.buddypress .bp-login-widget-user-links > div {
  padding-left: 60px;
}

/* line 1849, ../sass/buddypress.scss */
.widget.buddypress .bp-login-widget-user-links > div {
  margin-bottom: .5rem;
}

/* line 1853, ../sass/buddypress.scss */
.widget.buddypress .bp-login-widget-user-links > div.bp-login-widget-user-link a {
  font-weight: bold;
}

/* line 1857, ../sass/buddypress.scss */
.widget.buddypress #groups-list,
.widget.buddypress #members-list,
.widget.buddypress #friends-list {
  margin-left: 0;
  padding-left: 0;
}

/* line 1864, ../sass/buddypress.scss */
.widget.buddypress #groups-list li,
.widget.buddypress #members-list li,
.widget.buddypress #friends-list li {
  clear: both;
  list-style-type: none;
}

/*--------------------------------------------------------------
4.0 - Media Queries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
4.1 - Smartphones - landscape
--------------------------------------------------------------*/
@media only screen and (max-width: 480px) {
  /* line 1878, ../sass/buddypress.scss */
  #buddypress div.dir-search {
    float: right;
    margin-top: -50px;
    text-align: right;
  }

  /* line 1883, ../sass/buddypress.scss */
  #buddypress div.dir-search input[type="text"] {
    margin-bottom: 1em;
    width: 50%;
  }

  /* line 1887, ../sass/buddypress.scss */
  a.bp-title-button {
    margin-left: 10px;
  }

  /* line 1890, ../sass/buddypress.scss */
  #buddypress form.standard-form .main-column div.action {
    position: relative;
    margin-bottom: 1em;
  }

  /* line 1894, ../sass/buddypress.scss */
  #buddypress form.standard-form .main-column ul#friend-list h4 {
    width: 100%;
  }
}
/*--------------------------------------------------------------
4.2 - Smartphones - portrait
--------------------------------------------------------------*/
@media only screen and (max-width: 320px) {
  /* line 1903, ../sass/buddypress.scss */
  #buddypress div.dir-search {
    clear: left;
    float: left;
    margin-top: 0;
    text-align: left;
  }

  /* line 1909, ../sass/buddypress.scss */
  #buddypress li#groups-order-select {
    clear: left;
    float: left;
  }

  /* line 1913, ../sass/buddypress.scss */
  #buddypress ul.item-list li div.action {
    clear: left;
    float: left;
    margin-top: 0;
    margin-left: 70px;
    position: relative;
    top: 0;
    right: 0;
    text-align: left;
  }

  /* line 1923, ../sass/buddypress.scss */
  #buddypress ul.item-list li div.item-desc {
    clear: left;
    float: left;
    margin: 10px 0 0;
    width: auto;
  }

  /* line 1929, ../sass/buddypress.scss */
  #buddypress li div.item {
    margin-left: 70px;
    width: auto;
  }

  /* line 1933, ../sass/buddypress.scss */
  #buddypress ul.item-list li div.meta {
    margin-top: 0;
  }

  /* line 1936, ../sass/buddypress.scss */
  #buddypress .item-desc p {
    margin: 0 0 10px;
  }

  /* line 1939, ../sass/buddypress.scss */
  #buddypress div.pagination .pag-count {
    margin-left: 0;
  }
}
/*--------------------------------------------------------------
4.2 - Smartphones - smaller screen sizes
--------------------------------------------------------------*/
@media only screen and (max-width: 240px) {
  /* line 1948, ../sass/buddypress.scss */
  #buddypress div.dir-search {
    float: left;
    margin: 0;
  }

  /* line 1952, ../sass/buddypress.scss */
  #buddypress div.dir-search input[type="text"] {
    width: 50%;
  }

  /* line 1955, ../sass/buddypress.scss */
  #buddypress li#groups-order-select {
    float: left;
  }

  /* line 1958, ../sass/buddypress.scss */
  #buddypress ul.item-list li img.avatar {
    width: 30px;
    height: auto;
  }

  /* line 1962, ../sass/buddypress.scss */
  #buddypress ul.item-list li div.action,
  #buddypress li div.item {
    margin-left: 45px;
  }

  /* line 1966, ../sass/buddypress.scss */
  h1 a.bp-title-button {
    clear: left;
    float: left;
    margin: 10px 0 20px;
  }
}
/** own styles */
/* line 1977, ../sass/buddypress.scss */
#buddypress .activity-list .groups {
  border-left: solid 1px #e6e6e6;
  margin: 20px 0;
}
/* line 1984, ../sass/buddypress.scss */
#buddypress #item-nav {
  margin-top: -68px;
}

/* line 1988, ../sass/buddypress.scss */
.pb-item-header {
  background-color: #FCFCFC;
  border-bottom: solid 1px #e6e6e6;
  padding: 60px 0;
  margin-bottom: 40px;
  text-align: center;
}
/* line 1994, ../sass/buddypress.scss */
.pb-item-header .item-header-avatar, .pb-item-header .item-header-content {
  display: inline-block;
}
/* line 1998, ../sass/buddypress.scss */
.pb-item-header .item-header-avatar img.avatar {
  border: none;
  padding: 0;
}

/*** widget for show lasteset topics ***/
/* line 2011, ../sass/buddypress.scss */
.discuss-topic {
  margin-bottom: 20px;
  min-width: 568px;
}
/* line 2014, ../sass/buddypress.scss */
.discuss-topic .topic-avatar {
  width: 60px;
  float: left;
  margin-right: 10px;
}
/* line 11, ../sass/rtl/_rtl.scss */
.rtl .discuss-topic .topic-avatar {
  float: right;
}
/* line 2017, ../sass/buddypress.scss */
.discuss-topic .topic-avatar a {
  display: block;
}
/* line 2020, ../sass/buddypress.scss */
.discuss-topic .topic-avatar .bbp-author-name {
  display: none;
}
/* line 22, ../sass/rtl/_rtl.scss */
.rtl .discuss-topic .topic-avatar {
  margin-left: 10px;
  margin-right: inherit;
}
/* line 2025, ../sass/buddypress.scss */
.discuss-topic .topic-content {
  overflow: hidden;
  padding: 15px 20px;
  border: solid 1px #e6e6e6;
}
/* line 2029, ../sass/buddypress.scss */
.discuss-topic .topic-content h4 {
  margin: 0;
}
/* line 2032, ../sass/buddypress.scss */
.discuss-topic .topic-content .bbp-forum-title {
  color: #696969;
  line-height: 28px;
  font-weight: 300;
}
/* line 2036, ../sass/buddypress.scss */
.discuss-topic .topic-content .bbp-forum-title:hover {
  color: #000;
}
/* line 2040, ../sass/buddypress.scss */
.discuss-topic .topic-content .topic-date {
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 800;
}

/*
 *    Buddypress profile search
 */
/* line 2054, ../sass/buddypress.scss */
.pb_profile_search {
  left: 0;
  right: 0;
  z-index: 999;
  position: absolute;
  top: 0;
}
/* line 108, ../sass/rtl/_rtl.scss */
.rtl .pb_profile_search {
  right: 0;
  left: auto;
}
/* line 115, ../sass/rtl/_rtl.scss */
.rtl .pb_profile_search {
  left: 0;
  right: auto;
}
/* line 2060, ../sass/buddypress.scss */
.pb_profile_search .standard-form {
  background: #11aba3;
  top: 0;
  width: 330px;
  z-index: 999;
  padding: 0 30px;
}
/* line 2066, ../sass/buddypress.scss */
.pb_profile_search .standard-form input {
  width: 100% !important;
}
