// ../bootstrap/mixins
// --------------------------------------------------

// Utilities
@import "../bootstrap/mixins/hide-text";
@import "../bootstrap/mixins/opacity";
@import "../bootstrap/mixins/image";
@import "../bootstrap/mixins/labels";
@import "../bootstrap/mixins/reset-filter";
@import "../bootstrap/mixins/resize";
@import "../bootstrap/mixins/responsive-visibility";
@import "../bootstrap/mixins/size";
@import "../bootstrap/mixins/tab-focus";
@import "../bootstrap/mixins/text-emphasis";
@import "../bootstrap/mixins/text-overflow";
@import "../bootstrap/mixins/vendor-prefixes";

// Components
@import "../bootstrap/mixins/alerts";
@import "../bootstrap/mixins/buttons";
@import "../bootstrap/mixins/panels";
@import "../bootstrap/mixins/pagination";
@import "../bootstrap/mixins/list-group";
@import "../bootstrap/mixins/nav-divider";
@import "../bootstrap/mixins/forms";
@import "../bootstrap/mixins/progress-bar";
@import "../bootstrap/mixins/table-row";

// Skins
@import "../bootstrap/mixins/background-variant";
@import "../bootstrap/mixins/border-radius";
@import "../bootstrap/mixins/gradients";

// Layout
@import "../bootstrap/mixins/clearfix";
@import "../bootstrap/mixins/center-block";
@import "../bootstrap/mixins/nav-vertical-align";
@import "../bootstrap/mixins/grid-framework";
@import "../bootstrap/mixins/grid";

@mixin before-left($top,$bottom,$right,$color,$topp) {
    content: '';
    position: absolute;
    border-top: $top solid transparent;
    border-bottom: $bottom solid transparent;
    border-right: $right solid $color;
    top: $topp;
    left: -$right;
}
@mixin before-right($top,$bottom,$left,$color,$topp) {
    content: '';
    position: absolute;
    border-top: $top solid transparent;
    border-bottom: $bottom solid transparent;
    border-left: $left solid $color;
    top: $topp;
    right: -$left;
}
@mixin before-bottom($left,$right,$top,$color,$bottom) {
    content: '';
    position: absolute;
    border-left: $left solid transparent;
    border-right: $right solid transparent;
    border-top: $top solid $color;
    bottom: $bottom;
    left: 50%;
    margin-left: -$left;
}

@mixin before-top($left,$right,$bottom,$color,$top) {
    content: '';
    position: absolute;
    border-left: $left solid transparent;
    border-right: $right solid transparent;
    border-bottom: $bottom solid $color;
    top: $top;
    left: 50%;
    margin-left: -$left;
}
@mixin opacity($opacity) {
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity="+ $opacity * 100 + ")";
    /* IE 5-7 */
    filter: alpha(opacity= $opacity * 100);
    /* Netscape */
    -moz-opacity: $opacity;
    /* Safari 1.x */
    -khtml-opacity: $opacity;
    /* Good browsers */
    opacity: $opacity;
}