// Base
//---------------------------------

@include selection($white,$theme-color);
iframe{
	border: none;
}
del{
    @include font-size(font-size, $del-font-size);
    color: 	$del-color;
}
img{
    border: 0;
    vertical-align: top;
    max-width: 100%;
    height: auto;
}
.video-responsive {
    height: 0;
    padding-top: 0;
    padding-bottom: 56.25%;
    margin-bottom : 0;
    position: relative;
    overflow: hidden;
	embed,iframe,object,video{
		top: 0;
		left: 0;
		position: absolute;
        @include square(percentage(1));
	}
}
 
.audio-responsive{
	iframe{
		@include size(percentage(1), 126px);
	}
}


.nav-center{
    display: inline;
    text-align: center
}
.nopadding{
    padding:0 !important;
    margin:0!important;
}
// Google Map
//---------------------------------
.map_canvas{
	img{
		max-width: none;
	}
}

a {
    @extend %transition;
}