#tribe-events-bar{
	margin-bottom: 15px;
	#tribe-bar-form{
		background: $white;
		label{
			font-size: $event-label-form-font-size;
			font-weight: $event-label-form-font-weight;
			color: $black;
		}
		.first-column{
			padding-top: 15px;
			padding-bottom: 15px;
			border: 1px solid #E5E5E5;
			border-bottom: 0;
			input{
				margin-top: 10px;
				height: 30px;
				font-weight: 700;
				border-bottom: 1px solid #E5E5E5;
				font-size: 12px;
			}
			.tribe-bar-submit button{
				margin-top: 4px;
			}
		}
		.second-column{
			padding: 0; 
			#tribe-bar-views{
				left: 0;
				padding: 15px 0;
				width: 100%;
				text-align: center;
				background: #F2F2F2;
			}	
			.tribe-bar-views-list{
				padding: 0;
				> li{
					display: inline-block;
					padding: 5px 10px;
					border: 1px solid $black;
					background: none;
					margin: 0 5px;
					@include border-radius(3px);
					a{
						background: none;
						color: $black;
						font-weight: 300;
						text-transform: uppercase;
						font-size: 14px;
						span{
							line-height: 17px;
						}
					}
					&.tribe-bar-active, &:hover{
						background: $theme-color;
						border-color: $theme-color;
						a{
							color: $white;
						}	
					}
				}
			}
			.tribe-bar-views-inner{
				background: none;
				padding: 5px 0 45px;
			}
		}
	}
	.tribe-bar-submit{
		button{
			background: $theme-color;
			@include border-radius(3px);
			color: $white;
			@include transition(all 0.35s);
			&:hover{
				background: $white;
				border: 1px solid $black;
				color: $black;
			}
		}
	}
}	

.tribe-events-list {
	.tribe-events-page-title{
		display: none;
	}
	.type-tribe_events{
		padding: 25px $grid-gutter-width/2!important;
		.wpo-event-inner{
			position: relative;
			margin-top: 45px;
			.caption{
				.date{
					display: none;
				}
				.event-body{
					position: relative;
					padding: 30px 0;
					border: 1px solid $border-color;
					border-top: 0;
					.left{
						padding: 0 110px 0 30px;
					}
					.right{
						@include size(95px, 100%);
						position: absolute;
						top: 0;
						right: 0;
						border-left: 1px solid $border-color;
						.event-cost{
							margin-top: 60px;
							text-align: center;
							font-weight: 700;
							font-size: 18px;
							font-family: $font-family-second;
							i{
								display: block;
								font-size: 24px;
							}
						}
					}
					.tribe-events-address, .time-details{
						i{
							display: inline-block;
							width: 15px;
							text-align: center;
							margin-right: 5px;
						}
					}
					.event-title{
						.entry-title{
							margin-bottom: 0;
							line-height: 22px;
							margin-bottom: 15px;
							a{
								color: #54575a;
								&:hover{
									color: $theme-color;
								}
							}
						}
					}
					.time-details{
						font-weight: 400;
						font-size: 13px;
					}	
					.tribe-events-address{
						font-style: normal;
						font-size: 13px;
						margin: 0 0 5px;
						display: block;
					}
				}
			}	
			.description{
				
			}
			&.style-2{
				margin: 0;
				position: relative;
				.event-date{
					position: absolute;
					top: 0;
					left: 0;
					margin-top: 0;
					@include size(70px, 70px);
					background: $theme-color;
					text-align: center;
					padding-top: 12px;
					>*{
						margin: 0;
						font-weight: 800;
						color: $white;
						text-transform: uppercase;
					}
					.day{
						font-size: 30px;
						line-height: 35px;
					}
					.month{
						font-size: 14px;
						line-height: 14px;
						font-weight: 400;
					}
				}
				.entry-title{
					a{
						font-size: 20px;
						font-weight: 800;
						color: $black!important;
						text-transform: uppercase;
						position: relative;
						display: block;
						padding-bottom: 25px;
						margin-bottom: 25px;
						line-height: 30px;
						@include transition(all 0.35s);
						&:hover{
							color: $theme-color!important;
						}
						&:after{
							content: "";
							@include size(70px, 2px);
							background: $theme-color;
							left: 0;
							bottom: 0;
							position: absolute;
						}
					}
				}
				.event-body{
					border: 1px solid #F5F5F5;
					background: $white;
					.left{
						padding: 0 150px 0 30px!important;
						@media(max-width: $screen-sm-max){
							padding: 0 100 0 30px!important;
						}
					}
					.right{
						background: $white;
						color: $theme-color;
						border: none;
						.event-cost{
							line-height: 1;
							margin-top: 30px;
							font-size: 30px;
							font-weight: 800;
							text-align: left;
							@media(max-width: $screen-sm-max){
								font-size: 20px;
							}
							.free{
								color: #CCCCCC;
							}
						}
					}
				}	
				.tribe-events-address, .time-details{
					color: #54575a;
				}
			}
		}
	}
}	
 
.events-list .tribe-events-loop,
.single-tribe_organizer .tribe-events-loop,
.single-tribe_venue .tribe-events-loop,
.tribe-events-day .tribe-events-loop{
	max-width: 100%!important;
}

.tribe-events-list {
	.tribe-events-event-image{
		width: 100%;
		margin: 0;
		position: relative;
	}
}

.tribe-events-loop{
	.tribe-events-list-separator-month{
		margin: 30px 0;
		background: none;
		color: $black;
		text-transform: uppercase;
		display: block;
		float: left;
		width: 100%;
		overflow: hidden;
		&:before, &:after{
			content: none;
		}
		> span{
			background: none;
			color: $black;
			text-transform: uppercase;
			font-size: 30px;
			font-weight: 900;
			padding: 0 30px;
			position: relative;
			display: inline-block;
			padding-bottom: 10px;
			&:before{
				content: "";
				position: absolute;
				@include size(90px, 2px);
				background: $theme-color;
				left: 50%;
				margin-left: -45px;
				z-index: 1;
				bottom: 0;
			}
			
		}	
	}
	.tribe-events-event-meta{  
		margin: 0;
	}
	.tribe-events-day-time-slot h5{
		margin: 30px 0;
		background: none;
		color: $black;
		text-transform: uppercase;
		padding: 10px 0;
		font-size: 24px;
		font-weight: 900;
		display: block;
	}
}

//--- Event detail-------------
.single-tribe_events .tribe-events-event-meta{
	margin: 0 0 30px;
}
.wpo-tribe-events-meta {
	.tribe-events-venue-map{
		width: 100%;
		margin: 0;
	}
	.tribe-events-meta-group {
		width: 100%;
		.tribe-events-single-section-title{
			font-weight: 18px;
			font-weight: 900;
			text-transform: uppercase;
		}
		dl {
			.clearfix{
				padding: 2.5px 0;
			}
			dt{
				clear: both;
				float: left;
				padding-right: 10px;
				width: 140px;
				font-size: 13px;
				text-transform: uppercase;
			}
			dd{
				width: 100%;
				padding-left: 120px;
				&.author, &.location{
					padding: 0;
				}
			}
		}
		.fn.org{
			padding: 0;
			font-weight: 700;
			color: $theme-color;
			font-style: italic;
		}
	}
}	

//---- View Day ---------
.tribe-events-day .tribe-events-day-time-slot .type-tribe_events{
	margin: 0;
}

//-----Widget Event Countdown-----------
.wpo-event-countdown{
	.layout-1{
		.event-header-inner{
			padding: 0 10%;
		}
		.event-header{
			border: 1px solid $white;
			position: relative;
			.event-cost{
				@include size(80px, 100%);
				border-left: 1px solid $white;
				padding-top: 40px;
				top: 0;
				right: 0;
				position: absolute;
				z-index: 1;
				text-align: center;
				font-weight: 700;
				font-size: 18px;
				font-family: $font-family-second;
				color: $white;
				i{
					display: block;
					font-size: 24px;
				}
			}
			.date{
				@include size(80px, 100%);
				border-right: 1px solid $white;
				top: 0;
				left: 0;
				position: absolute;
				z-index: 1;
				color: $white;
				line-height: 1;
				text-align: center;
				padding: 25px 0;
				.day{
					font-size: 36px;
					font-family: $font-family-second;
					font-weight: 700;
				}
				.month{
					font-size: 18px;
					font-weight: 700;
				}
			}	
			.event-title{
				padding: 20px 80px;
				.entry-title, .tribe-events-address{
					text-align: center;
					margin: 0;
					color: $white;
					a{
						color: $white;
					}
				}
				.tribe-events-address{
					margin: 10px 0 0;
				}
				.entry-title a{
					font-size: 30px;
					font-family: $font-family-second; 
					text-transform: uppercase;
				}
			} 
		}
		.event-time{
			text-align: center;
			.pts-countdown{
				display: inline-block;
				.countdown-times{
					margin-top: 70px;
					> div{
						@include border-radius(50%);
						@include size(168px, 168px);
						border: 1px solid $white;
						text-align: center;
						padding-top: 30px;
						float: left;
						color: $white;
						margin-left: 115px;
						font-size: 18px;
						font-weight: 700;
						font-family: $font-family-second;
						text-transform: none!important;
						b{ 
							font-size: 60px;
							display: block;
							margin-bottom: 50px;
						}
						&:first-child{
							margin-left: 0;
						}
					}
				}	
			}
		}
	}
	.layout-2{
		.event-title{
			padding: 25px;
			background: $theme-color;
			text-align: center;
			.event-date{
				color: rgba(255, 255, 255, 0.3);
				font-size: 14px;
				margin-bottom: 3px;
				i{
					margin-right: 5px;
				}
			}
			.entry-title{
				text-align: center;
				margin: 0;
				a{
					color: $white;
					font-size: 18px;
					font-weight: 700;
				}
			}
		}
		.event-time{
			background: $theme-color-second;
			padding: 0 20px;
			.heading-time{
				padding: 15px 0;
				font-weight: 700;
				text-transform: uppercase;
				color: rgba(255, 255, 255, 0.2);
				text-align: center;
				font-size: 14px;
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			}
			.time{
				padding: 30px 0;
				.countdown-times{
					> div{
						float: left;
						width: 25%;
						border-right: 1px solid rgba(255, 255, 255, 0.1);
						color: rgba(255, 255, 255, 0.2);
						text-align: center;
						font-weight: 700;
						font-size: 14px;
						b{
							display: block;
							width: 100%;
							font-weight: 700;
							font-size: 30px;
							color: $white;
						}
						&:last-child{
							border: none;
						}
					}	
				}
			}	
		}
	}
	&.layout-3{
		padding: 30px 0;
		.widget-title{
			display: none;
		}
		.event-header-inner{
			padding-left: 30px;
			border-left: 1px solid rgba(255, 255, 255, 0.1);
		}
		.title-2{
			display: block!important;
			visibility: visible!important;
			font-size: 18px;
			font-weight: 700;
			text-transform: uppercase;
			color: $theme-color;
			padding-top: 11px;
			i{
				margin-right: 5px;
			}
		}
		.entry-title {
			margin-bottom: 5px;
			a{
				color: $white;
				&:hover{
					color: $theme-color;
				}
			}	
		}
		.tribe-events-address{
			font-size: 14px;
			color: #b4b4b4;
			margin: 0;
		}
		.action{
			display: inline-block;
			float: right;
		}
	}		
}

.tribe-events-accordion{
	.tribe_events{
		border: 0;
		border-bottom: 1px solid $border-color;
		margin: 0!important;
	}
	.panel-heading{
		position: relative;
		.heading-icon{
			float: left;
			font-size: 30px;
			color: $text-color;
			position: absolute;
			left: 30px;
			top: 50%;
			margin-top: -25px;
		}
		.arrow{
			display: block;
			position: absolute;
			top: 50%;
			right: 15px;
			margin-top: -10px;
			@include transition(all 0.25s);
		}
		.date{
			font-size: 14px;
			font-weight: 400;
			i{
				margin-right: 10px;
			}
		}
		.heading-inner{
			padding-left: 75px;
			.panel-title{
				text-transform: uppercase;
				font-weight: 700;
				a{
					font-size: 18px; 
				}
			}
		}
		&.active{
			background: $theme-color;
			.date, .heading-icon i, .panel-title{
				color: $white;
			}
			.arrow{
				color: $white;
				@include rotate(-90deg);
			}
		}
	}	
	.event-desc{
		background: none repeat scroll 0 0 $theme-color;
    	padding: 25px;
    	color: $white;
    	line-height: 1.4;
    	a{
    		color: $white;
    		&:hover{
    			color: $black;
    		}
    	}
    	.readmore{
    		font-weight: 700;
    	}
	}
	.event-body{
		padding: 20px 0;
		.left{
			width: 80px;
			img{
				width: 100%;
			}
			float: left;
		}
		.right{
			padding-left: 90px;
			line-height: 1.2;
			.readmore{
				margin: 5px 0 0;
				a{
					font-weight: 700;
					font-size: 12px;
					color: $theme-color;
					text-transform: uppercase; 
					&:hover{
						color: $black;
					}
				}	
			}
		}
	} 

	.tribe-events-content{
		.event-detail-tab {
			display: none;
			&.active{
				display: block;
			}
		}
		.event-title{
			padding: 25px;
			background: $theme-color;
			text-align: center;
			.event-date{
				color: rgba(255, 255, 255, 0.3); 
				font-size: 14px;
				margin-bottom: 3px;
				i{
					margin-right: 5px;
				}
			}
			.entry-title{
				text-align: center;
				margin: 0;
				a{
					color: $white;
					font-size: 18px;
					font-weight: 700;
				}
			}
		}
		.event-time{
			background: $theme-color-second;
			padding: 0 20px;
			.heading-time{
				padding: 15px 0;
				font-weight: 700;
				text-transform: uppercase;
				color: rgba(255, 255, 255, 0.2);
				text-align: center;
				font-size: 14px;
				border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			}
			.time{
				padding: 30px 0;
				.countdown-times{
					> div{
						float: left;
						width: 25%;
						border-right: 1px solid rgba(255, 255, 255, 0.1);
						color: rgba(255, 255, 255, 0.2);
						text-align: center;
						font-weight: 700;
						font-size: 14px;
						b{
							display: block;
							width: 100%;
							font-weight: 700;
							font-size: 30px;
							color: $white;
						}
						&:last-child{
							border: none;
						}
					}	
				}
			}	
			.lof-labelexpired{
				color: $white;
				text-align: center;
			}
		}
	}
}

.tribe-events-month{
	.tribe-events-page-title{
		margin: 0;
		padding: 30px 0;
		background: none;
		text-transform: uppercase;
		font-size: 24px!important;
		font-weight: 800!important;
		color: $black!important;
	}
	#tribe-events-header{
		margin: 0!important;
	}
	table{
		margin: 0!important;
	}
	#tribe-events-content .tribe-events-calendar{
		td{
			width: 140px!important;
		}
	}
	table.tribe-events-calendar{
		border: none!important;
		border-spacing: 10px!important;
    	border-collapse: separate!important;
		thead tr th{
			background: #F2F2F2!important;
			border: none!important;
			color: $black;
		} 
		tr td{
			border-top:1px solid #D2D2D2!important;
			.tribe-month-single-day{
				min-height: 220px!important;
			}
		}
	}
	.tribe-events-thismonth{
		padding: 0!important;
		&.tribe-events-present{
			position: relative;
			&:after{ 
				position: absolute;
				@include size(12px, 12px);
				@include border-radius(50%);
				background: $theme-color;
				content: "";
				top: 20px;
				right: 20px;
				z-index: 99; 
			}
		}
	}
	.tribe-month-single-day{
		position: relative;
		height: 100%;
		.tribe-month-daynumber {
			background: none!important;
			padding: 0; 
			a{
				@include size(38px, 38px);
				padding-top: 8px;
				text-align: center;
				display: block;
				background: #F2F2F2!important;
				color: $black!important;
				font-size: 18px!important;
				font-weight: 400!important;
			}
		}
		.tribe-month-sigle-day-list{
			display: none;
			background: $white;
			padding: 18px;
			position: absolute;
			min-width: 430px;
			z-index: 9999;
			top: 100%;
			left: 0;
			@include box-shadow(0px 2px 4px 2px rgba(0, 0, 0, 0.3));
			@media(max-width: $screen-xs-max){
				display: none;
			}
			&:before{
				content: "";
				border: 10px solid $nocolor;
				position: absolute;
				border-bottom-color: $white;
				bottom: 100%;
				left: 18px;
			}
			> div{
				width: 100%;
				padding: 0!important;
				margin: 0 0 10px!important;
				border: none!important;
				.entry-title a{
					color: #5d5d5d!important;
					font-size: 14px;
					font-weight: 700!important;
					text-transform: uppercase;
					padding-bottom: 5px;
					&:hover{
						color: $theme-color!important;
					}
				}
				.date{
					color: #b3b3b3;
					font-size: 12px;
					i{
						margin-right: 8px;
					}
				}
				.thumbnail{
					@include size(65px, auto);
					float: left;
					margin: 0 10px 0!important;
				}
			}
		}
		.tribe-events-viewmore{
			border: none!important;
			display: inline-block;
			text-transform: none;
			background: $theme-color;
			@include border-radius(3px);
			padding: 2px!important;
			line-height: 1;
			margin-top: 20px;
			a{
				color: #5d5d5d;
				font-weight: 400!important;
			}
			&:hover a, &:focus a{
				color: $black;
			}
		}
		&:hover, &:focus{
			background: $theme-color;
			cursor: pointer;
			@include box-shadow(none);
			.tribe-month-sigle-day-list{
				display: block;
			}
			.tribe-events-viewmore{
				background: $white!important;
			}
		}
	}
	#tribe-events-footer{
		margin-top: 20px;
		ul{
			padding: 0!important;
		}
		.tribe-events-sub-nav{
			a{
				font-size: 16px;
				font-weight: 800!important;
				text-transform: uppercase!important;
				color: #5d5d5d;
				&:hover{
					color: $theme-color;
				}
			}
		}
	}	
}	