/* Merriweather */ 
@import url(//fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900italic,900);

/* Oswald */
@import url(//fonts.googleapis.com/css?family=Oswald:400,300,700);

/* Ubuntu */
@import url(//fonts.googleapis.com/css?family=Ubuntu:400,700);