/*------------------------------------*\ 
    Topbar
\*------------------------------------*/
.#{$app-prefix}-topbar{
    background-color: $color-7;
    font-size: 12px;
    a {
        color: $color-1;
        font-weight: 300;
        display: block;
        line-height: 46px;
        &:hover {
            color: $white;
        }
        i {
            font-size: 11px;
            @include rtl-margin-right(5px);
            color: $text-color-bb;
        }
    }
    ul{
        @include clear-list();
        margin: 0 -5px;
        li {
            display: inline-block;
            margin: 0 5px;
        }
    }
    .topbar-inner{  
       // padding: 10px 0;
    }
    .topbar-mobile{
        background: #222222;
        @include font-size(font-size, $topbar-font-size);
        line-height: 40px;
        color: $white;
        .cart-popup{
            min-width: 300px;
            .title{
                font-size: 15px;
                text-transform: uppercase;
                margin: 0 0 20px;
            }
            .product_list_widget > li{
                position: relative;
                a.remove{
                    position: absolute;
                    top: 5px;
                    right: -5px;
                    line-height: 1;
                }
                img.wp-post-image{
                    max-width: 80px;
                }
                a{
                    font-weight: 400;
                    font-size: 15px;
                }
            }
            .btn{
                padding: 9px 10px!important;
            }
        }
        ul.list-action > li{
            border-right: 1px solid rgba(255, 255, 255, 0.1);
            font-size: 20px;
        }
    } 
    &.topbar-light{
        background-color: $white;
        border-bottom:solid 1px $border-color;
        padding: 6px 0;
        a {
            color: $black;
            text-transform: uppercase;
            font-size: 11px;
            font-family: $font-family-second;
            line-height: 28px;
            &:hover{
                color: $theme-color;
                .fa{
                    color: $theme-color;
                }
            }
        }
        ul {
            margin: 0 -10px;
            li {
                margin: 0 10px;
            }
            &.socials-link {
                margin: 0 -2px;
                li {
                    margin: 0 2px;
                    a {
                        background-color: $black;
                        padding-left: 5px;
                        width: 28px;                        
                        i {
                            color: $white;
                            font-size: 14px;
                            margin: 0;
                            line-height: 28px;
                            display: block;
                            height: 28px;
                            background-color: $black;
                            text-align: center;
                            @include transition(.3s);
                        }
                        &.facebook {
                            &:hover {
                                background-color: #3b5998;
                                i {
                                    background-color: #3b5998;
                                    color: $white;
                                }
                            }                            
                        }
                        &.twitter {
                            &:hover {
                                background-color: #00bdec;
                                i {
                                    background-color: #00bdec;
                                    color: $white;
                                }
                            }                            
                        }
                        &.google-plus {
                            &:hover {
                                background-color: #d94a39;
                                i {
                                    background-color: #d94a39;
                                    color: $white;
                                }
                            }                            
                        }
                        &.youtube {
                            &:hover {
                                background-color: #b8242a;
                                i {
                                    background-color: #b8242a;
                                    color: $white;
                                }
                            }                            
                        }
                    }
                }
            }
        }
    }
    &.topbar-light-v1{
        border-bottom: solid 1px $border-color;
        .topbar-inner{
            background: #FFFFFF;
        }
    }
    &.topbar-v2 {
        background-color: $color-11;
        border-bottom: 1px solid rgba($white,.1);
        color: $color-12;
        a {
            color: $color-12;
            display: inline-block;
            @include rtl-margin-left(10px);
            &:hover {
                color: $white;
            }
            i {
                color: $white;
                font-size: 14px;
            }
        }
        ul {
            margin: 0 -5px;
            li {
                display: inline-block;
                margin: 0 5px;
                a {
                    @include rtl-margin-left(0);
                }
            }
            &.top-contact-info {
                margin: 0 -15px;
                li {
                    margin: 0 15px;
                }
            }
        }
    } 
}

/*------------------------------------*\
    Header
\*------------------------------------*/
.#{$app-prefix}-header{
    margin-bottom: $header-margin-bottom;
    background: $header-bg;
    position: relative;
    z-index: 999;
    .header-wrapper{
        padding-top: 0;
        padding-bottom:0;
    } 
    @media(max-width: $screen-sm-max){      
        .logo{
            text-align: center;
        }
    }
    .header-top {
        padding: 15px 0;
    }
    .header-middle {
        background-color: $dark-area-color;
    }
    .header-bottom{
        .row {
            > div {
                overflow: hidden;
            }
        }        
        .social-box {
            border-right: 1px solid $border-color;
            border-left: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            padding: 11px 20px 10px;
            margin-left: -15px;
            span {
                text-transform: uppercase;
                color: $link-color;
                font-size: 11px;
                font-family: $font-family-sans-serif;
                letter-spacing: 2px;
                line-height: 26px;
                display: inline-block;
            }
        }
        .breaking-news {
            border-left: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            padding: 10px 15px 10px 20px;
            position: relative;
            &:after {
                content:"";
                height: 1px;
                width: 100%;
                position: absolute;
                left: 100%;
                bottom: -1px;
                background-color: $border-color;
            }
            div.pull-left {
                text-transform: uppercase;
                color: $brand-danger;
                font-size: 11px;
                font-family: $font-family-sans-serif;
                letter-spacing: 1px;
                line-height: 26px;
                display: inline-block;
                margin-right: 10px;
            }
            .breaking-news-inner {
                min-height: 27px;
                overflow: hidden;
            }
            .breaking-owl-carousel {
                position: static;          
                .item {
                    height: 27px;
                    overflow: hidden;
                    a {
                        display: inline-block;
                        line-height: 27px;
                        font-size: 12px;
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
                .owl-controls {
                    .owl-buttons {
                        position: absolute;
                        right: 15px;
                        top: 0;
                        div {
                            @include opacity(1);
                            text-shadow: none !important;
                            -moz-text-shadow: none !important;
                            -webkit-text-shadow: none !important;
                            color: $white;
                            width: 27px;
                            height: 27px;
                            text-align: center;
                            line-height: 27px;
                            position: static;
                            background-color: $dark-area-color;
                            border-radius: 3px;
                            display: inline-block;
                            margin-left: 1px;
                            font-size: 14px;
                            &:hover {
                                background-color: $theme-color;
                            }
                            &:before {
                                @extend %fa;
                            }
                            &.owl-prev {
                                &:before {
                                    content: "\f104";
                                }
                            }
                            &.owl-next {
                                &:before {
                                    content: "\f105";
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .header-quick-action{
        position: relative;
        padding-right: 65px;
        &:after {
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 15px;
            display: block;
            background-color: rgba($white,.1);
        }
        @media(max-width: $screen-sm-max){
            padding-right: 15px;
            .logo-in-theme{
                padding: 20px 0!important;
            }
        }
        .box-quick-action{
            position: absolute;
            top: 50%;
            @include rtl-right(25px);
            z-index: 9;
            margin-top: -17px;
            width: 100px;
            > div{
                display: inline-block;
                float: right;
               .minibasket{
                height: 45px;
               }
            }
            .minibasket .cart-icon{
                @include size(35px, 35px);
                display: inline-block;
                text-align: center;
            }
        }
    }
    .search_form{
        height: 35px;
        &.no-bg{
            .input-group-btn button{
                background: none;
            }
        }
        &.hidden-input{
            .input-group{
                display: inline-block;
                > *{
                    @include rtl-float-left(); 
                }
            }
            .input-search{
                @include box-shadow(inset 0 0 2px 2px rgba(0, 0, 0, 0.02));
                width: 0;
                padding: 0;
                position: absolute;
                right: 34px;
                top: 0;
                width: 0;
                @include transition(all 0.35s);
                height: 35px;
                visibility: hidden;
                background: none;
                border: 1px solid rgba($white,.1);
                color: $white;
                &:focus{
                    visibility: visible;
                    width: 200px;
                    padding: 0 10px;
                }
            }
            .input-group-btn{
                position: relative;
                z-index: 99;
                button{
                    @include size(35px, 35px);
                    padding: 0;
                    background: none;
                    color: $white;
                    i{
                        font-size: 14px;
                        line-height: 33px;
                    }
                }
            }
            &:hover{
                .input-search{
                    visibility: visible;
                    width: 200px;
                    padding: 0 10px;
                }
                .input-group-btn button{
                    color: $white;
                    background: none;
                    border: 1px solid rgba($white,.1);
                }
            }
        } 
        &.search-default .input-group{
            border: 1px solid $border-color;
            background: none;
            input.input-search{
                height: 35px;
                border: none;
                background: #F7F7F7;
            }
            .input-group-btn button{
                padding: 6px 10px;
                background: none;
                color: $black;
            }
        }  
    }
    @media(max-width: $screen-sm-max){
        #wpo-mainnav{
            text-align: center;
        }    
    }
}

##{$app-prefix}-header{
    &.header-absolute{
        position:absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 999;
        @media(max-width: $screen-sm-max){
            position: relative;
            background: #918097; 
        }
        .has-sticky{
            background-color: rgba(0,0,0,0.4);
            &.keeptop{
                background-color: rgba(0,0,0,0.8);
            }
        }
    }
    &.header-absolute-right{
        @include size(375px,100%);
        position: absolute;
        z-index: 999;
        text-align: center;
        @include rtl-right(0);
        .header-quick-action{
            padding: 0;
            > div {
                display: block;

            }
        }
    }
    &.header-border,
    &.header-static{
        background-color: $white;
        .minibasket {
            .cart-icon{
                color: $black;
            }
        }
        .search_form.hidden-input{
          .input-group-btn button{
              color: $white;
              border-radius: 0 !important;
          }
        }
    }
    &.header-classic{
        background-color: $black;
        .minibasket {
            .cart-icon{
                color: $white;
            }
        }
        .search_form.hidden-input{
            .input-group-btn button{
                color: $white;
            }
        }
        .navbar-mega {
            .navbar-nav{
                > li {
                    > a{
                        color: $white;
                    }
                }
            }
        }
    }
    &.header-offcanvas{
        position: absolute;
        left: 0;
        right: 0;
    }
    .keeptop{
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 9999;
        .container-inner{
            @include transition(all 0.35s);
        }
        #main-menu{
            > li{
                padding: 20px 0;
                > a:hover{
                    color: $black;
                }
                &.active {
                    > a{
                        color: $black!important;
                    }
                }
            }
        }
        #logo-inner{
            padding: 0!important;
            .logo{
                padding: 10px 0!important;
            }
        }
    }
    &.wpo-header-v2 {
        background-color: $color-11;
        margin-bottom: 30px;
        .navbar-mega {
            .navbar-nav {
                > li {
                    border: none;
                    padding-top: 45px;
                    padding-bottom: 45px;
                    &:first-child {
                        padding-left: 0;
                    }
                    > a {
                        font-size: 12px;
                        font-weight: 700;
                        padding: 0;
                        font-family: $font-family-second;
                        color: $white;
                        &:before {
                            content: none;
                        }
                    }
                }
            }
        }
        .search_form.hidden-input {
            height: 44px;
            margin-top: 35px;
            position: relative;
            z-index: 1;
            .input-group-btn button {
                height: 44px;
                width: 44px;
                border: 2px solid $white;
                border-radius: 50% !important;
            }
            .input-search {
                height: 44px;
                border: 2px solid $white;
                color: $white;
                right: 0px;
                border-right: none;
                border-radius: 22px;
                padding-right: 44px;
                background-color: $color-11;
            }
        } 
    }
    &.wpo-header-v4 {
        margin-bottom: 35px;
        .header-middle {
            background-color: $white;
            position: relative;
            border-bottom: 1px solid $border-color;
            &:before {
                content: "";
                height: 100%;
                width: 300%;
                position: absolute;
                right: 100%;
                top: 0;
                background-color: $color-8;
            }
            &:after {
                content: "";
                height: 100%;
                width: 300%;
                position: absolute;
                left: 100%;
                top: 0;
                background-color: $color-8;
            }
        }
        .header-top {
            background-color: $color-8;
        }
        .header-bottom {
            .breaking-news {
                background-color: $white;
                border-bottom: none;
                border-left: none;
                margin-right: -15px;
                &:after {
                    content: none;
                }
                .breaking-owl-carousel {
                    .owl-controls {
                        .owl-buttons {
                            right: 20px;
                        }
                    }
                }
            }
            .social-box {
                border-bottom: none;
                background-color: $white;
                border-right: none;
            }
        }
        .header-quick-action {
            padding-right: 15px;
            .box-quick-action {
                right: 10px;
            }
        }
        .navbar-mega {
            .navbar-nav {
                > li {
                    padding: 0;
                    border-color: $border-color;
                    @extend %transition;
                    > a {
                        padding: 18px 20px;
                        color: $link-color;
                        &:before {
                            content: none;
                        }
                    }
                    &.active,
                    &:hover {
                        background-color: $color-7;
                        border-color: $color-7;
                        > a {
                            color: $white !important;
                        }
                    }
                    &:first-child {
                        border-left: none;
                    }
                    .dropdown-menu {
                        > li {
                            &.active,
                            &:hover {
                                > a {
                                    color: $theme-color !important;
                                }
                            }
                        }
                    }
                }
            }
        }
        .search_form.hidden-input .input-group-btn button {
            color: $link-color;
            @extend %transition;
            &:hover {
                color: $theme-color;
            }
        }
        .search_form.hidden-input .input-search {
            border-color: $border-color;
        }
    }
    &.wpo-header-v5 {
        margin-bottom: 30px;
        .header-middle {
            border-top: 1px solid $border-color;
            border-bottom: 1px solid $border-color;
            background-color: $white;
            .navbar-mega {
                .navbar-nav {
                    > li {
                        padding: 0;
                        > a {
                            font-size: 12px;
                            color: $link-color;
                            padding: 14px 25px;
                            font-family: $font-family-second;
                            font-weight: 700;
                            border-right: 1px solid $border-color;
                            background-color: $white;
                            &:before {
                                background-color: $link-color;
                            }
                        }
                        &:first-child {
                            > a {
                                border-left: 1px solid $border-color;
                            }
                        }
                        &.active,
                        &:hover {
                            > a {
                                color: $link-color !important;
                                padding-top: 20px;
                                margin-top: -6px;
                            }
                        }
                    }
                }
            }
            .search_form.hidden-input {
                .input-group-btn {
                    button {
                        color: $link-color;
                    }
                }
                .input-search {
                    border-color: $border-color;
                    color: $link-color;
                    background-color: $white;
                }
            }
            .wpo-mainmenu-wrap {
                border-right: 1px solid $border-color;
            }
            .header-quick-action {
                padding-right: 30px;
            }
        }
        .header-bottom {
            background-color: $color-6;
            .breaking-news {
                border: none;
                padding: 20px 0;
                &:after {
                    content: none;
                }
            }
        }
    }
} 
 
 /* search action */
 .has-searchbox-show{
    position:relative;
    .wpo-mainmenu-wrap, .logo-wrapper{
        visibility: hidden;
    }
    .navbar-collapse{
        display: none!important;
    }
    .search-box-form{
        position: absolute;
        top: 0;
        width: 92%;
        left: 0;
    }
    .search-box-button{ 
        .fa-search{
            display: none;
        }
        .fa-times{
            display: block!important;
        }
    }    
}
 .showwhenclick{
    .search-box-form{
        display: none;
         &.active{
            display: block;
        }
    }
 }
/*------------------------------------*\
    Breadcrumb
\*------------------------------------*/
.#{$app-prefix}-breadcrumb{
    
}

/*------------------------------------*\
    Slideshow
\*------------------------------------*/
.#{$app-prefix}-slideshow{

}

.#{$app-prefix}-mainmenu{
    position: relative;
    &.bg-transparent{
        border-top:solid 1px #CCCCCC;
    }
    &.mainmenu-light{
        background:#FFFFFF;
    } 
    &.mainmenu-border{
        border-top: 1px solid $border-color;
        #main-menu > li{
            border-left: 1px solid $border-color;
            > a{
                border-left: none;
                padding: 0 30px;
            }
        }
    }
}
/*------------------------------------*\
    Container
\*------------------------------------*/
.#{$app-prefix}-mainbody{
    @include box-size($container-bg, $container-padding-top, $container-padding-bottom);
    position: relative;
}

.no-sidebar-left{ 
   .#{$app-prefix}-content{
        position: relative;
   }

}
/*------------------------------------*\
    Content
\*------------------------------------*/ 
##{$app-prefix}-content{
    background: $content-bg;  
    @include clearfix(); 
} 

/*------------------------------------*\
    Pagination
\*------------------------------------*/
.#{$app-prefix}-pagination{
    margin: 0;
}

/*------------------------------------*\
    Footer
\*------------------------------------*/

.#{$app-prefix}-footer{
    @include box-size($footer-bg, $footer-padding-top, $footer-padding-bottom);
    position: relative;
    color: $footer-color;
    border-bottom: $footer-border;    
    font-size: $footer-font-size;
    a{
        font-size: $footer-link-font-size;
        color: $footer-link-color;
        font-weight: 300;
        &:hover,
        &:focus,
        &:active{
            color: $footer-link-hover-color;
        }
    }
    ul.menu{
        margin: -10px -20px 0 !important;
        text-align: right;
        > li{
            display: inline-block;
            margin: 10px 20px 0;
        }
    }
    ul > li {
        margin: $footer-list-margin;
    }
    .footer-top{
        .container{
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        }
    }
    .wpb_wrapper > *, .wpb-inner{
        margin-bottom: 0;
    }
    &.footer-v1 {
        padding-top: 0;
        .row {
            overflow: hidden;
            margin-left: -30px;
            margin-right: -30px;
            &.twitter-row {
                overflow: visible;
            }
            > div {
                padding-left: 30px;
                padding-right: 30px;
                &:before {
                    content: "";
                    width:1px;
                    height: 1000px;
                    background-color: rgba($white,.1);
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &:first-child {
                    padding-left: 15px;
                    &:before {
                        content: none;
                    }
                }
                &:last-child {
                    padding-right: 15px;
                }
            }
        }
    }
    &.footer-v2 {
        background: $color-7;
        color: $color-5;
        padding-top: 0;
        .newsletter-v4 {
            .newsletter {
                input[type="email"] {
                    background: $color-8;
                    color: $color-5;
                }
            }
        }
        a {
            color: $color-5;
            &:hover {
                color: $footer-link-hover-color;
            }
        }
        .row {
            overflow: hidden;
            margin-left: -30px;
            margin-right: -30px;
            &.flickr-row {
                overflow: visible;
            }
            > div {
                padding-left: 30px;
                padding-right: 30px;
                &.flickr-label {
                    padding-right: 0;
                    padding-left: 0;
                }
                &.flickr-content {
                    padding-left: 0;
                    padding-right: 0 !important;
                }
                &:before {
                    content: "";
                    width:1px;
                    height: 1000px;
                    background-color: rgba($white,.1);
                    position: absolute;
                    left: 0;
                    top: 0;
                }
                &:first-child {
                    padding-left: 15px;
                    &:before {
                        content: none;
                    }
                }
                &:last-child {
                    padding-right: 15px;
                }
                .widget.widget_recent_entries ul > li {
                    border-color: rgba($white,.1);
                    margin-bottom: 15px;
                    padding-bottom: 15px;
                    &:last-child {
                        border-bottom: none;
                        margin-bottom: 0;
                        padding-bottom: 0;
                    }
                    .post-date {
                        font-size: 11px;
                        font-weight: 300 !important;
                        font-style: italic;
                        text-transform: none;
                        color: $color-1;
                    }
                }
            }
        }
    }
    &.footer-v3 {
        background-color: $link-color;
        color: $color-5;
        padding-top: 0;
        a {
            color: $color-5;
            &:hover {
                color: $theme-color;
            }
        }
    }
    &.footer-v4 {
        background-color: $color-11;
        color: $color-12;
        font-weight: 300;
        a {
            color: $color-12;
            &:hover {
                color: $theme-color;
            }
        }
        .newsletter-v4 .newsletter input[type="email"] {
            background: $color-13;
            color: $color-5;
        }
        .newsletter-v4 .newsletter input[type="submit"] {
            background-color: $theme-color;
        }
    } 
} 

/*------------------------------------*\
    Copyright
\*------------------------------------*/
.#{$app-prefix}-copyright{
    text-align: center;
    background: $copyright-bg;
    color: $copyright-color;
    font-size: $copyright-font-size;
    font-weight: $copyright-font-weight;
    @include box-size($copyright-bg, $copyright-padding-top, $copyright-padding-bottom);
    .#{$block-selector} {
        .#{$block-heading-selector}{
            color: $footer-heading-color;
            text-transform: $footer-heading-transform;
            margin: $footer-heading-margin;
            @include font-size(font-size,$footer-heading-font-size);
        }
    }
    .input-group{
        border: 0px;
        .fa{
            color: $gray-light;
        }
    }
    a{
        &:hover,
        &:focus,
        &:active{
            color: $theme-color;
        }
        color: $copyright-link-color;
    }
    address{ 
        margin: 0;
    }
    .payment{
        padding-top: 30px;
    }
    &.footer-v2 {
        background: $color-7;
        color: $color-5;
    }
}

.twitter-row {
    margin-bottom: 20px !important;
    .latest-twitter {
        position: relative;
        &:before {
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            @include rtl-left(-30px);
            background-color: $border-color;
        }
    }
}