  .navbar-vertical{
    .navbar-nav {
        & > li{
            display: block!important;
            float: none!important;
        }
        .dropdown-menu{
            right: 100%!important;
            left: auto!important;
            margin-top: -30px;
        }
        .aligned-fullwidth {
            position: relative!important; 
            > .dropdown-menu{
                position: absolute!important;
                top: auto;
                width: 700px!important;
            }
        }
    }
}

/*
*  Main Menu
*/
.navbar-mega{
    min-height: inherit;
    margin: 0px;
    border: 0px solid $navbar-mega-border;
    @include border-radius(0);
    .navbar-nav{
        float: none;
        > .open{
            > a{
                border-color: $nocolor;
                border-left-color: rgba(0, 0, 0, 0.1);
                color: $navbar-link-hover-color;
                background: $navbar-link-hover-bg;
                &:before{
                    @include opacity(1);
                }
            }
        }
        ul{
            @include clear-list();
            li{
                &.parent{
                    position: relative;
                }
                &.dropdown-submenu{
                    position: relative;
                    .dropdown-menu{
                        top: 0;
                        left: 100%;
                        right: auto;
                        position: absolute;                     
                    }
                }
            }
        }
        li{
            &.active{
                background: none;
                > a{
                    background: none;
                    color: $theme-color!important;
                }
            }
            a{
                &:hover, &:active, &:focus{
                    background: none;
                    color: $theme-color;
                }
            }    
            &.open > a{
                background: none;
                color: $theme-color;
            }
        }
        > li{
            border-right: 1px solid rgba($white,.1);
            float: left;
            @include inline-block();
            margin-top: 0;
            padding: 18px 20px;
            &:first-child {
                border-left: 1px solid rgba($white,.1);
            }
            > a{
                position: relative;
                font-family: $font-family-sans-serif;
                letter-spacing: 1px;
                color: $navbar-link-color;
                margin: $navbar-link-margin;
                padding: 18px 0;
                text-transform: $navbar-text-transform;
                font-weight: $navbar-font-weight;
                @include border-radius(0);
                @include font-size(font-size, $navbar-font-size);
                @include transition(all 0.35s); 
                .text-label {
                    position: absolute;
                    font-size: 9px;
                    right: -15px;
                    bottom: -6px;
                    line-height: 1;
                    background-color: $theme-color;
                    color:$white;
                    padding: 3px 5px;
                }
                .caret{
                    color: #DDDDDD;
                    border-width: 3px;
                    display: none;
                }

                &:hover, &:focus{
                    color: $navbar-link-hover-color;
                    background: $navbar-link-hover-bg;

                }
                &:before {
                    content: "";
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: $theme-color;
                    @include opacity(0);
                    @extend %transition;
                }
            }            
            &:hover{
                > .dropdown-menu{
                    display: block;
                }
                a:before {
                    @include opacity(1);
                }
            }
            &:first-child a{
                border: none;
            }
        
            .dropdown-menu{
                padding-top: 10px;
                padding-bottom: 10px;
                border-top: 2px solid $theme-color!important;
                background: $navbar-dropdown-bg;
                min-width: $navbar-dropdown-size;
                @include border-radius(0);
                border-top: 1px solid rgba(0, 0, 0, 0.1);
                ul.dropdown-menu{
                    left: 100%;
                    top: 0;
                    position: absolute;
                }
                .row{
                    padding-top: 0;
                }
                li{
                    display: block;
                    padding: 0;
                    position: relative;
                    a{
                        min-height: inherit;
                        display: block;
                        font-weight: $navbar-dropdown-link-font-weight;
                        padding: $navbar-dropdown-padding;
                        color: $navbar-dropdown-link-color;
                        text-transform: $navbar-dropdown-link-transform;
                        font-family: $font-family-sans-serif;
                        @include transition(all .2s linear);
                        @include font-size(font-size,$navbar-dropdown-link-font-size);
                        &:hover{
                            color: $navbar-dropdown-link-hover-color;
                            background: $navbar-dropdown-link-hover-bg;
                        }
                    }
                    &:last-child{
                        border: 0;
                    }
                }
            }
            &.aligned-fullwidth {
                .dropdown-menu {
                    padding: 0px 15px;
                    border-top: none !important;
                    background: $nocolor;
                    @include box-shadow(none);
                    border: none !important;
                    .dropdown-menu-inner .wpb-container  .container-mega > .row {
                        margin: 0 !important;
                        padding-top: 15px;
                        padding-bottom: 15px;
                        border: 1px solid $dropdown-fallback-border; // IE8 fallback
                        border: 1px solid $dropdown-border;
                        @include box-shadow(0 6px 12px rgba(0,0,0,.175));
                        background-clip: padding-box;
                        border-top: 2px solid $theme-color!important;
                        background: $navbar-dropdown-bg;
                        .container-mega > .row > div::after {
                            content: none;
                        }
                        &.mega-shop {
                            background: $white !important;
                            padding-top: 30px;
                            color: $text-color-bb;
                            border-top: 1px solid $dropdown-border !important;
                            .widget {
                                .widgettitle,
                                .widget-title,
                                .wpb_heading {
                                    color: $black;
                                    border-bottom: 1px solid $border-color;
                                    padding: 15px 0;
                                    margin: 0 0 10px 15px !important;
                                }
                                &.widget_nav_menu {
                                    a {
                                        text-transform: uppercase;
                                        font-size: 13px;
                                    }
                                }
                            }
                        }
                        .products {
                            .product-grid.style-fashion {
                                margin-bottom: 0;
                                .button-action.button-groups,
                                .action-bottom {
                                    display: none !important;
                                }
                                .caption {
                                    border-bottom: none;
                                    padding: 15px 15px 15px;
                                    .meta {
                                        text-align: center;
                                        .category {
                                            float: none;
                                            font-style: italic;
                                        }
                                        .name {
                                            text-align: center;
                                            font-weight: 700;
                                            padding-bottom: 10px;
                                        }
                                    }
                                }
                                .price {
                                    ins {
                                        color: $theme-color;
                                    }
                                }
                                &:hover {
                                    .caption {
                                        margin-top: 0;
                                    }
                                }
                            }
                        }
                    }
                }                
            }
            .mega-dropdown-menu{
                padding: $theme-padding + 10;
                ul{
                    li{
                        a{
                            @include rtl-padding-left(0);
                            @include rtl-padding-right(0);
                            &:hover{
                                @include rtl-padding-left(10px);
                                @include rtl-padding-right(10px);
                            }
                        }
                    }
                }
            }
        }
        > .active{
            background: $navbar-link-active-bg;
           >  a{
                color: $navbar-link-active-color;
                &:before{
                    @include opacity(1);
                }
            }
        }
        .aligned-fullwidth{
            position: static !important;
            .dropdown-menu{
                width: 100% !important;
            }
        } 
        .aligned-right{
            > .dropdown-menu{
                right: 0;
                left: auto;
            }
        }
        .container-mega{
            > .row {
                padding-bottom: 0;
                margin: 15px 0 30px!important;
                width: 100%;
                position: relative;
                overflow: hidden;
                > div{
                    position: relative;
                    &:after{
                        content: "";
                        @include size(1px, 1000px);
                        background: rgba($white,.1);
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    &:first-child:after{
                        content: none;
                    }
                }
            }
        }
    }
    .#{$block-selector} {
        #{$block-heading-selector}{
            border-top: none;
            font-size: 12px;
            font-weight: 400;
            color: $white;
            text-align: left;
            padding: 10px 20px;
            margin: 0!important;
            &:after, &:before{
                content: none;
            }
        }
    }        
}

.wpo-header-v2 .navbar-mega .navbar-nav .aligned-fullwidth .dropdown-menu {
    width: 110% !important;
}
.wpo-header-v4 .navbar-mega .navbar-nav > li.aligned-fullwidth .dropdown-menu {
    padding: 0;
}

.wpo-header-v4 .navbar-mega .navbar-nav > li > a .text-label,
.wpo-header-v5 .navbar-mega .navbar-nav > li > a .text-label {
    bottom: auto;
    top: -6px;
    right: 3px;
}
.wpo-header-v2 .navbar-mega .navbar-nav > li > a .text-label {
    bottom: auto;
    top: -15px;
    right: -5px;
    font-size: 8px;
}

//Skin menu
nav#wpo-mainnav{
    #main-menu{
       // display: inline-block;
        //margin-bottom: -5px;
    }
    &.padding-large{
        .navbar-nav > li{
            padding: $navbar-link-small-padding;
        }    
    }


    &.padding-small{
        .navbar-nav > li{
            padding: $navbar-link-small-padding;
            > a:before{
                top: -18px;
            } 
        }    
    }

    &.border{
        .navbar-nav > li{
            @include rtl-border-left( 1px solid $border-color);
            padding: 21px 0;
            &:last-child{
                @include rtl-border-right( 1px solid $border-color);
            }
            > a{
                border: none;
            }
        }    
    }

    &.style-vertical{
        .navbar-nav > li{
            display: inline-block;
            width: 100%;
        }
    }
    &.style-dark{
        .navbar-nav > li{
            border-color: rgba(255, 255, 255, 0.1);
            > a{
                color: $white;
                border-color: rgba(255, 255, 255, 0.1);
                &:hover{
                    color: $theme-color;
                }
            }  
        }      
    }
}

.bg-menu-v1{
    background: $nocolor;
}
.bg-menu-v2{
    background: $white;
}
.bg-menu-v3{
    background: #2E2739;
}
.bg-menu-v4{
    background: #332C3E;
}