/*
 * Off Canvas
 * --------------------------------------------------
 */

    .sidebar-offcanvas {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 50%;
    }
    .bottom-offcanvas {
        border-top: 1px solid red;
        padding: 10px 0;
    }
    .offcanvas-head{
        button{
            padding: 16px 25px;
            margin-right: 17px;
        }
    }
    .row-offcanvas {
        position: relative;
        @include transition(all 0.25s ease-out);
    }

 
    .offcanvas-showright{
        background: $theme-color;
        position: relative;
        @include transition(all 0.25s ease-out);
        width: 400px;
        position: absolute;
        right: -800px;
        top: 0;
        z-index: 1000;
        display: block;
        opacity:0.96 ;
        &.active {
            display: block;
            right: 0;
            

        } 
    }
 
@media screen and (max-width: $screen-md-min) {
    
    .row-offcanvas-right {
        @include rtl-right(0);
    }
    .row-offcanvas-left {
        @include rtl-left(0);
    }
    .row-offcanvas-right
    .sidebar-offcanvas {
        @include rtl-right(-50%);
    }
    .row-offcanvas-left
    .sidebar-offcanvas {
        @include rtl-left(-50%);
    }
    .row-offcanvas-right.active {
        @include rtl-right(50%);
    }
    .row-offcanvas-left.active {
        @include rtl-left(50%);
    }
} 

#wpo-off-canvas{
    @include box-shadow(0 0 5px rgba(0, 0, 0, 0.5));
    z-index: 999;
    background-color: $white;
}
.navbar-offcanvas{
    border: none;
    .offcanvas-inner{
        .list-action{
            > li {
                border-left: 1px solid rgba(255, 255, 255, 0.3);

                > *{
                    background: none;
                    font-size: 20px;
                    color: black;
                } 
                &:first-child{
                    border: none;
                }  
                .dropdown-menu{
                    background: $white;
                    min-width: 250px;
                    padding: 20px;
                    ul{
                        list-style: none;
                        padding: 0;
                    }
                    a{
                        font-size: 14px;
                        &:hover{
                            color: $theme-color;
                        }
                        &.btn {
                            &:hover {
                                color: $white;
                            }
                            &.checkout {
                                &:hover {
                                    color: $black;
                                }
                            }
                        }
                    }
                }
                .wpo-search{
                    .input-search{
                        height: 40px;
                    }
                }
                &.mini-cart{
                    display: block;
                    a.mini-cart-button{
                        padding: 18px 25px 12px;
                        display: inline-block;
                        span{
                            padding: 0;
                            i{
                                font-size: 20px;
                                color: $black;
                            }
                        }    
                    }
                    .open > a{
                        background: none;
                        color: $white;
                    }
                    .dropdown-menu{
                        left: -75px;
                        right: auto;
                    }
                } 
            }
        }
    }   
    ul#main-menu-offcanvas{
        float: none;
        display: block;
        > li{
            position: relative;
            border-bottom: 1px solid $border-color;
            display: block;
            float: none;
            .caret{
                position: absolute; 
                right: 10px;
                top: 10px;
                @include size(25px, 25px);
                border: 1px solid $border-color;
                z-index: 9;
                background: #f5f5f5;
                &:hover{
                    cursor: pointer;
                }
                &:after{
                    font-family: FontAwesome;
                    content: "\f107";
                    top: 0px;
                    left: 7px;
                    position: absolute;
                    z-index: 9;
                }
            }
            ul{
                padding-left: 20px;
                li a{
                    font-size: 13px;
                    font-weight: 300;
                }
            }
        }
        li.active > a{
            background: none;
            color: $theme-color;
        }
    }
}