body{
   #wpo-content{
      margin-bottom: 0px;
   }
   .container-fuild{
      #wpo-content{
         margin-bottom: 0;
      }
   }
}
.page{
   .page-title{
      font-size: 18px;
      text-transform: uppercase;
      position: relative;
      margin: 0 -15px;
   }
}
.page-title {
   margin-top: 0;
   font-size: 18px;
}
.notfound-page{
   .title{
      font-size: 160px;
      color: $theme-color;
      font-weight: 800;
      line-height: 1;
      display: block;
      .sub{
         font-size: 36px;
         font-weight: 300;
         color: $black;
         padding: 30px 0;
         margin: 0 0 30px;
         display: block;
         position: relative;
         &:before{
            content: "";
            height: 3px;
            width: 100px;
            background: white;
            position: absolute;
            left: 50%;
            bottom: 0;
            margin-left: -50px;
         }
      }
   }
   .error-description{
      color: $black;
      padding: 0 20%;
      font-size: 20px;
      @media(max-width: $screen-sm-max){
         padding: 0 10px;
      }
   }
   .page-action{
      margin-top: 50px;
      a{
         margin: 0 10px;
      }
   }
}
 

/**
 * Single Post or Blog Page.
 */
.single{
   article{
      border:none;
      .entry-thumb.entry-preview,
      .entry-thumb {
         margin-bottom: 0;
      }
      .meta-box {
         color: $color-5;
         padding: 10px 20px;
         background-color: $dark-area-color;
         margin-bottom: 40px;
         a {
            color: $color-5;
            &:hover {
               color: $theme-color;
            }
         }
         .meta-sep {
            margin: 0 5px;
         }
         .author-avatar {
            width: 38px;
            height: 38px;
            border-radius: 50%;
            display: inline-block;
            margin-right: 10px;
            img.avatar {
               border: none;
               padding: 0;
               border-radius: 50%;
            }
         }
         .author-link a {
            color: $white;
            text-transform: capitalize;
            &:hover {
               color: $theme-color;
            }
         }
      }
      .entry-title {
         font-size: 30px;
         padding: 0;
         margin-bottom: 20px;
      }
      .entry-content {
         font-size: 15px;
         > p {
            margin-bottom: 20px;
         }
      }
      footer.entry-meta {
         margin-bottom: 20px;
      }
   }
   > h1{
      font-size: $font-size-h2;
      font-weight: $headings-font-weight;
      padding-top:10px;
      padding-bottom:30px;
   }
   .post-share{
      padding: 20px 0 40px;
      text-transform: uppercase;
      .wpo-social-share{
         float: right;
      }
   } 

   .wpo-post-next{
      margin-bottom: 15px;
      overflow: hidden;
      p {
         margin: 0;
      }
      a {
         border: 2px solid $border-color;
         border-radius: 3px;
         text-transform: uppercase;
         color: $link-color;
         display: block;
         padding: 7px 20px;
         font-size: 12px;
         font-weight: 700;
         font-family: $font-family-second;
         &:hover {
            color: $theme-color;
            border-color: $theme-color;
         }
      }
   }
   #comments {
      .the-comment {
         border-top: 1px solid $border-color;
         padding-top: 30px;
         margin: 25px 0 0;
      }
      .title{
         text-transform: uppercase;
         font-size: 18px;
         position: relative;
         margin: 0 0 15px;
         letter-spacing: 1px;
      }
      ul.commentlists, ol.commentlists, .children {
         padding: 0;
      }
      ul.commentlists > li, ol.commentlists > li, .children > li {
         list-style: none;
      }
      input{
         height: 35px;
         border-radius: 0;
         line-height: 21px;
         padding: 5px 20px;
      }
      .form-submit {
         margin-top: 20px;
         input {
            height: 44px;
            line-height: 32px;
            border: 2px solid $border-color;
            border-radius: 3px !important;
            &:hover {
               border-color: $theme-color;
               color: $theme-color;
               background-color: $white;
            }
         }
      }
      div.avatar {
         float: left;
         margin-right: 20px;
         width: 50px;
         img.avatar {
            border-radius: 0;
            padding: 0;
            border: none;
         }
      }
      div.comment-box {
         overflow: hidden;
         .comment-author {
            margin: -3px 0 0;
            text-transform: uppercase;
            font-size: 11px;
            font-weight: 700;
            color: $link-color;
            span {
               font-weight: 300;
               color: $color-1;
            }
         }
         .comment-text {
            margin-bottom: 7px;
            p:last-child {
               margin-bottom: 0;
            }
         }
         .meta {
            font-family: $font-family-third;
            font-size: 10px;
            text-transform: uppercase;
            color: $color-14;
            a {
               color: $color-15;
            }
         }
      }
      .depth-1 {
         ul.children {
            margin: 0 0 0 70px;
         }
         &:first-child {
            margin: 0;
            padding: 0;
            border-top: none;
         }
      }
   }
   .comment-respond {
      margin-top: 10px;
      label.required {
         font-family: $font-family-forth;
         font-size: 10px;
         text-transform: uppercase;
         color: $black;
         font-weight: 700;
         margin-bottom: 3px;
      }      
      .form-group {
         margin-bottom: 15px;
         > span {
            position: relative;
            display: block;
            &:before {
               content: "";
               height: 100%;
               width: 2px;
               background-color: $color-15;
               position: absolute;
               left: 1px;
               top: 0;
            }
         }
      }
   }
}
 
.single-portfolio {
   .entry-title{
      margin: 10px 0 25px;
      .title-post{
         text-transform: uppercase;
         margin: 0 0 15px;
      }
   }
   .created{
      color: #bbbbbb;
      font-size: 10px;
      font-weight: 400;
      text-transform: uppercase;
   }
   .single-body{
      margin-top: 50px;
   }
   .list-gallery{
      .row{
         margin-bottom: 28px;
      }
   }
   .format-video .content-video{
      background: #FAFAFA;
   }
   .format-infomation .single-body{
      margin-top: 0;
      .portfolio-info{
         margin-bottom: 30px;
         > div{
            padding: 10px 0;
            border-top: 1px solid #F1F1F1;
            &:last-child{
               border-bottom: 1px solid #F1F1F1;
            }
            > span{
               font-size: 16px;
               font-weight: 300;
               &:first-child{
                  width: 90px;
                  display: inline-block;
                  color: #777777;
               }
               &:last-child{
                  color: $black;
               }
            }
         }
         a:hover{
            color: $theme-color;
         }
      }
   }
}

.page-comingsoon{
   background: url(#{$image-theme-path}bg-coming-soon.jpg) no-repeat $nocolor;
   padding: 30px 0;
}

.page-under-construction{
   background: url(#{$image-theme-path}bg-under-construction.jpg) no-repeat #F8F7F5;
   padding-top: 420px;
}

.main-page-index{
   .icon-sticky{
      display: block!important;
      visibility: visible!important;
   }
}

.author-about {
   border-top: 10px solid $dark-area-color;
   margin-bottom: 45px;
   .avatar-img {
      margin-top: -10px;
      width: 140px;
      img.avatar {
         border: none;
         padding: 0;
         width: 100%;
         display: block;
         border-radius: 0;
      }
   }
   .description {
      font-size: 14px;
      .author-title {
         text-transform: uppercase;
         font-family: $font-family-serif;
         font-size: 11px;
         font-weight: 300;
         margin: 17px 0 8px;
         color: $color-1;
         a {
            font-weight: 700;
            &:hover {
               color: $theme-color;
            }
         }
      }
   }
   .social-author {
      margin-top: 35px;
      .icons {
         list-style: none;
         padding: 0;
         background: $nocolor;
         display: block;
         @include rtl-float-right;
         height: 25px;
         width: auto;
         font-size: 13px;
         line-height: 25px;
         margin: -5px -2px 0 -2px;
         li {
            display: inline-block;
            margin: 5px 2px 0;
            a {
               display: block;
               border-radius: 3px;
               width: 25px;
               line-height: 25px;
               color: $white;
            }            
            &.twitter {
               a {
                  background-color: #00aced;
               }
            }
            &.facebook {
               a {
                  background-color: #3b5998;
               }
            }
            &.google {
               a {
                  background-color: #d14836;
               }
            }
            &.linkedin {
               a {
                  background-color: #007fb1;
               }
            }
            &.pinterest {
               a {
                  background-color: #cb2027;
               }
            }
            &.instagram {
               a {
                  background-color: #517fa4;
               }
            }
         }
      }
   }
}

.blog-page {
   position: relative;
   margin-top: 25px;
   .button-gridlist {
      position: absolute;
      top: -52px;
      z-index: 1;
      @include rtl-right(0);
      .display-post {
         overflow: hidden;
         span {
            display: block;
            float: left;
            line-height: 36px;
            margin-right: 10px;
            font-size: 12px;
         }
         .class-button {
            float: left;
            border-left: 1px solid $border-color;
            a {
               display: block;
               float: left;
               width: 35px;
               height: 35px;
               text-align: center;
               line-height: 35px;
               font-size: 14px;
               border-right: 1px solid $border-color;
               border-bottom: 1px solid $border-color;
               border-top: 1px solid $border-color;
               color: $border-color;
               &:hover {
                  color: $theme-color;
               }
               &.active {
                  color: $link-color;
               }
            }
         }
      }
   }
}

#related-post {
   margin-bottom: 35px;
   .related-post-title {
      margin: 0 0 20px;
      font-size: 18px;
      text-transform: uppercase;
   }
   .element-item {
      .entry-thumb {
         overflow: hidden;
         margin-bottom: 10px;         
      }
      .entry-meta-2 .post-icon {
         top: 0;
      }
      .entry-title {
         font-size: 14px;
         margin-top: 5px;
         margin-bottom: 12px;
      }
   }
}

.single-blog,
.post-listgrid,
.login-form {
   margin-top: 25px;
}

.wpo-content {
   > div#comments {
      padding: $grid-gutter-width;
   }
}