/*
* General Post Style using for all with naming class entry
*/
.entry-date, .entry-create{
    font-size: 11px;
    font-style: italic;
    font-weight: 300;
    text-transform: none;
	> *{
		padding-right: 5px;
	}
}
.entry-comment{
	color: $entry-meta-color;
	i {
		margin-right: 5px;
	}
	a {
		color: $entry-meta-color;
		&:hover {
			color: $theme-color;
		}
	}
}
.entry-content{

}
.entry-author{
	a {
		color: $entry-meta-color;
		&:hover {
			color: $theme-color;
		}
	}
}

.entry-link{

}
.entry-thumb{
	margin-bottom: 15px;
	overflow: hidden;
	position: relative;
	.post-icon {
		position: absolute;
		bottom: 10px;
		@include rtl-right(10px);
		border-radius: 3px;
		background-color: $white;
		width: 28px;
		text-align: center;
		line-height: 28px;
		height: 28px;
	}
}
.entry-preview{
	margin-bottom:30px;
}
.entry-meta{
	margin: $entry-meta-margin;
	font-style: italic;
	font-size:11px;
	font-weight:300;
    a{
        color: $text-color;
        &:hover {
        	color: $theme-color;
        }
    }
	.author{
		a{
			color: $black;
            &:hover{
                text-decoration: underline;
            }
		}
	}
}
.entry-meta-2 {
	position: relative;
	a {
		color: $theme-color;
		text-transform: uppercase;
		font-size: 11px;
		font-family: $font-family-sans-serif;
		letter-spacing: 1px;
	}
	.post-icon {
		position: absolute;
		right: 0;
		top: -4px;
		border: 2px solid $border-color;
		border-radius: 2px;
		line-height: 24px;
		display: block;
		color: $text-color-bb;
		font-size: 12px;
		padding: 0 6px;
	}
}
.entry-vote{
	z-index: 1;
	display: table;
	text-align: center;
	top: 20px;
	position: absolute;
	background: rgba($black,.5);
	@include square(44px);
	@include rtl-right(20px);
	.entry-vote-inner{
		color: $white;
		display: table-cell;
		vertical-align: middle;
		font-weight: $headings-font-weight;
	}
	&.vote-perfect{
		.entry-vote-inner{
			color: $theme-color;
		}
	}
	&.vote-good{
		.entry-vote-inner{
			color: $theme-color;
		}
	}
	&.vote-average{
		.entry-vote-inner{
			color: $theme-color;
		}
	}
	&.vote-bad{
		.entry-vote-inner{
			color: $theme-color;
		}
	}
	&.vote-poor{
		.entry-vote-inner{
			color: $theme-color;
		}
	}
}
 
.entry-title{
	margin-top: 0;
	line-height: $entry-title-line-height;
	text-transform: $entry-title-transform;
	font-weight: $entry-title-font-weight;
	font-family: $font-family-serif;
	@include font-size(font-size, $entry-title-font-size);
	padding-top: 10px;
	&.entry-title-sm{
		font-size: 100%;
		font-weight: normal;
		text-transform: none;
	}
	a:hover{
		color: $theme-color;
	}
}

.entry-category{
	ul > li{
		float: left;
	}
}

.entry-content-inner{
	
}

// img.avatar{
//     border: solid 1px $border-color;
//     padding:3px;
//     border-radius:50%;
//     background:$white;
// }
 
/**
 * Posts in listing
 */
.post{
    margin-bottom: $theme-margin + 10px;
    .entry-thumb {
    	> img {
    		width: 100%;
    	}
    }
    &.sticky {
    	.post-container {
    		.entry-data {
    			.entry-title {    				
    				a {
    					color: $white;
    					background-color: $theme-color;
    					padding: 5px 10px;
    				}
    			}
    		}
    	}
    }
}

.blog-page-fullwidth,
.blog-page-grid {
	.post,
	.post-default,
	.hentry {
		margin-bottom: $theme-margin + 10px;
		.entry-thumb {
			.post-icon {
				position: absolute;
				bottom: 10px;
				@include rtl-right(10px);
				border-radius: 3px;
				background-color: $white;
				width: 28px;
				height: 28px;
				line-height: 28px;
				text-align: center;
				@include transition(.3s);
			}
		}
	}
}

.blog-v1{ 
	background:#FFFFFF;
	margin-bottom: 40px;
	&:last-child {
		margin-bottom: 40px;
	}
	.entry-thumb {
		overflow: hidden;
	}
	&.format-quote{
		.entry-data, .entry-category , .author-avatar{
			display: none;
		}
	}
 	&.format-link{
 		figure{
            //background:#f9f9f9; note post home magazin
	 		//padding:40px;

	 	}	
 	}
 	.entry-category{
 		font-size: 11px;
 		text-transform: uppercase;
 		a{
 			color: $theme-color;
 			&:hover {
 				color: $link-color;
 			}
 		}
 	}
 	.entry-meta {
 		.meta-sep {
 			font-weight: 300;
 		}
 		.byline {
 			display: none;
 		}
 		.comment-count {
 			i {
 				margin-right: 3px;
 			}
 		}
 	}
 	.entry-title {
 		font-size: 20px;
 	}
}

/**
 * Posts in masonry
 */
.masonry-item {
	.post-masonry {
		.post-container {
			.blog-post-detail {
				.entry-thumb {
					margin: 0;
					overflow: hidden;
				}
				.entry-data {
					background-color: $navbar-default-bg;
					padding: 15px 20px;
					position: relative;
					.entry-meta-top {
						position: static;
						float: left;
						margin: -25px 20px 0 0;
						.entry-created {
							line-height: 16px;
							span.month {
								font-size: 11px;
								font-weight: 700;
							}
							span.date {
								font-size: 14px;
							}
						}
						.icon-post {
							background-color: $theme-color;
						}
					}
					.entry-category {
						font-size: 10px;
						text-transform: uppercase;
						font-family: $font-family-second;
						font-weight: 700;
						letter-spacing: 1px;
						a {
							color: $text-color-bb;
							&:hover {
								color: $theme-color;
							}
						}
					}
					.entry-title {
						padding-top: 5px;
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}

/**
 * Wpo grid posts
 */

.wpo-grid-posts{
    .entry-content{
    	.entry-title {
    		padding-top: 10px;
    		margin-bottom: 10px;
    	}
    }
    .entry-thumb{
        overflow: hidden;
    }
    &.style-1 {
    	.entry-thumb {
    		margin-bottom: 0;
    	}
    	.entry-content {
    		padding: 25px 30px;
    		background-color: $white;
    		.entry-meta-2 {
    			.category {
    				display: none;
    			}
    			.post-icon {
    				top: -65px;
    				right: -20px;
    				border: none;
    				background-color: $white;
    				line-height: 28px;
    				padding: 0 8px;
    			}
    		}
    		.entry-title {
    			padding-top: 0;
    		}
    	}
    }
}

 /**
 * Blog Style
 */

.nice-style{
	position: relative;
	margin: 0;
	.entry-data{
		position: absolute;
		bottom: 0;
		left: 0;
		@include size(100%, auto);
		background : linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.99) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
		background : -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.99) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
		background : -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.99) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
		background : -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.99) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
		.left{
			border-right: 1px solid rgba(255, 255, 255, 0.3);
			padding: 0 15px 30px 15px!important;
		}
		.right{
			padding: 0 15px!important;
		}
	}
	.entry-date{
		text-align: right;
		color: $white;
		position: relative;
		display: table;
		width: 100%;
		margin-bottom: 5px;
		span{
			display: block;
			padding: 0;
			&.date{
				font-size: 120%;
				font-weight: 700;
			}
			&.month{
				font-size: 12px;
				font-weight: 700;
				text-transform: uppercase;
			}
		}
		&:before{
			content: none;
		}
		&:after{
			content: "";
			@include size(100%, 2px);
			background: $brand-warning;
			bottom: 0;
			right: 0;
			z-index: 1;
			position: absolute;
		}
	}
	.comment-count{
		float: right;
		a{
			font-weight: 700;
			color: $white;
			text-transform: uppercase;
			font-size: 10px;
			&:hover{
    			color: $theme-color;
    		}
		}
	}
	.entry-title a{
		font-size: 120%;
		font-weight: 700;
		text-transform: uppercase;
		color: $white;
		line-height: 1.1;
		&:hover{
			color: $theme-color;
		}
	}
	&.v2{
		margin-bottom: 30px;
		.blog-post-detail {
			background-color: $navbar-default-bg;
			position: relative;
			@include transition(.3s);
			.entry-detail {
				padding: 15px 20px 25px 20px;
				@include transition(.3s);
				background-color: $navbar-default-bg;
				position: relative;
			}
			.entry-content-footer {
				position: absolute;
				bottom: 0;
				@include rtl-left(0);
				width: 100%;
				background-color: $color-8;
				padding: 10px 20px;
				font-size: 11px;
				@include opacity(0);
				@include transition(.3s);
				.author-avatar {
					display: table-cell;
					@include rtl-padding-right(8px);
					img {
						width: 30px;
						height: 30px;
						border-radius: 50%;
					}
				}
				.author-link {
					display: table-cell;
				}
				a {
					color: $white;
					&:hover {
						color: $theme-color;
					}
				}
				.comment-count {
					color: $white;
					line-height: 30px;
					i {
						@include rtl-padding-right(5px);
						display: table-cell;
						font-size: 13px;
					}
					a {
						font-style: italic;
						display: table-cell;
					}
				}
			}
			&:hover {
				padding-bottom: 40px;
				.entry-content-footer {
					@include opacity(1);
					display: block;
				}
				.entry-detail {
					margin-top: -40px;
					@include rtl-margin-right(-1px);
				}
			}
		}
		.entry-thumb {
			margin-bottom: 0;
			overflow: hidden;
		} 
		.entry-data{
			background: none!important;
			position: static!important;
			float: left;
			width: 100%;
			margin: 0 0 20px;
			.entry-meta {
				text-align: center;
				margin-top: -30px;
				.entry-date {
					color: $white;
					background-color: $link-color;
					font-style: normal;
					text-align: center;
					line-height: 18px;
					padding: 8px 0;
					margin: 0;
					display: block;
					&:after {
						display: none;
					}
					span {
						color: $white;
						&.date,
						&.month {
							font-size: 11px;
						}
					}
				}
				.post-icon {
					display:block;
					background-color: $theme-color;
					color: $white;
					font-size: 14px;
					padding: 10px 0;
				}
			}
		}
		.left{
			position: relative;
			padding: 0 15px 0 0 !important;
		}
		.right{
			padding: 0 0 0 5px !important;
			.entry-category {
				font-size: 10px;
				text-transform: uppercase;
				font-family: $font-family-second;
				a {
					color: $text-color-bb;
					&:hover {
						color: $theme-color;
					}
				}
			}
		}
		.entry-date{
			span{
				color: #666666;
			}
		}
		.comment-count a{
			color: #666666;
		}
		.entry-title{
    		margin: 0;
    		padding: 5px 0 0;   		
    		a{
    			color: $black;
    			line-height: 1.5;
    			text-transform: none;
    			font-size: 14px;
    			font-weight: 400;
    			&:hover{
    				color: $theme-color;
    			}
    		}
    	}
	}
	&.v3{
		.entry-data{
			float: left;
			width: 100%;
			background : linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.99) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
			background : -webkit-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.99) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
			background : -o-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.99) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
			background : -moz-linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.99) 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
			padding: 45px 30px 30px;
			> div{
				position: relative;
				&:after{
					content: "";
					@include size(2px, 100%);
					background: $theme-color;
					position: absolute;
					left: -10px;
					top: 0;
					z-index: 1;
				}
			}
		}
		.meta-bottom, .meta-top{
			line-height: 1;
			*, a{
				padding: 0;
				float: none;
				color: #999999;
				font-size: 12px;
				text-transform: none;
				font-weight: 400;
				@include rtl-text-align-left();
    			&:before, &:after{
    				content: none;
    			}
			}
		}
		.entry-title{
    		margin: 0;
    		a{
    			font-size: 18px;
    			line-height: 1.5;
    			text-transform: none;
    			font-weight: 700;
    			@include transition(all 0.35s);
    			&:hover{
    				color: $theme-color!important;
    			}
    		}
    	}	
	}
}
/** Date style 1 beside left */
 .entry-meta-top{
 	position: absolute;
 	top: 0;
 	left: 0px;
 	z-index: 100;
	& > * {
		@include size(50px, 50px);
		line-height: 50px;
	}
	.entry-created{
		line-height: 22px;
		span{
			display: block;
			text-align: center;
			color: $white;
			&.month{
				font-size: 14px;
				text-transform: uppercase;
			}
			&.date{
				font-size: 30px;
				font-weight: 700;
			}
		}
	}
}
.format-link .entry-meta-top, .format-audio .entry-meta-top{
	display:none;
}

/** post timelife */ 
.posts-timeline{
	.entry-thumb {
		margin-bottom: 0;
	}
	.entry-data {
		padding: 15px 20px;
		position: relative;
		background-color: $navbar-default-bg;
		.entry-meta-top{
			position: static;
			float: left;
			margin: -25px 20px 0 0;
			.entry-created {
				line-height: 16px;
				span.month {
					font-size: 11px;
					font-weight: 700;
				}
				span.date {
					font-size: 14px;
				}
			}
		}
		.entry-category {
			font-size: 10px;
			text-transform: uppercase;
			font-family: $font-family-second;
			font-weight: 700;
			letter-spacing: 1px;
			a {
				color: $text-color-bb;
				&:hover {
					color: $theme-color;
				}
			}
		}
		.entry-title {
			padding-top: 5px;
			margin-bottom: 15px;
		}
	}
}
/*------------------------------------*\
    Post detail
\*------------------------------------*/
.sharebox{
	margin-bottom: $post-share-margin;
	.sharebox-title{
		margin: $post-share-title-margin;
	}
}

.social-networks{
	@include rtl-float-right;
	margin-top: 10px;
	margin-bottom: 10px;
	li{
		padding-left: 10px;
		padding-right: 10px;
		&:last-child{
			a{
				margin-right: 0;
			}
		}
	}
}
 
/***Posts Styles **/
.wpo-grid-posts {
	.posts-list {
		padding: 30px;
	}
}
.posts-list{
	background-color: $white;
	article {
        border-bottom: 1px solid $border-color;
        padding-bottom: 20px;
        margin-bottom: 20px;
        .media {
            padding: 0;
            .media-left {
                padding-right: 10px;
                img {
                    padding: 0;
                    border: none;
                    width: 60px;
                }
            }
            .media-body {
                h4 {
                    font-size: 12px;
                    margin-bottom: 5px !important;
                    font-family: $font-family-serif;
                    font-weight: 400;
                    margin-top: -4px !important;
                    a.entry-title {
                    	font-size: 12px;
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
                .entry-date {
                    margin-bottom: 0;
                }
            }
        }
        &:last-child {
            border-bottom: none;
            margin-bottom: 10px;
        }
    }
}

.blog-page-list {
	.posts-list {
		article {
			.entry-thumb {
				.post-icon {
					position: absolute;
					padding: 0 8px;
					right: 10px;
					background-color: $white;
					font-size: 12px;
					display: block;
					bottom: 10px;
					line-height: 28px;
					border-radius: 2px;
					color: $text-color-bb;
				}				
			}
		}
	}
}

/* Post Format Icon*/
.post {
	.post-icon {
		> i {
			&:before {
	            content: "\f040";
	        }
		}
	}	
} 
.post.video,
.post.format-video {
    .post-icon {
        i {
            &:before {
                content: "\f03d";
            }
        }
    }
}
.post.audio,
.post.format-audio {
    .post-icon {
        i {
            &:before {
                content: "\f001";
            }
        }
    }
}
.post.gallery,
.post.format-gallery {
    .post-icon {
        i {
            &:before {
                content: "\f03e";
            }
        }
    }
}
.post.image,
.post.format-image {
    .post-icon {
        i {
            &:before {
                content: "\f083";
            }
        }
    }
}
.post.chat,
.post.format-chat {
    .post-icon {
        i {
            &:before {
                content: "\f17e";
            }
        }
    }
}
.post.link,
.post.format-link {
    .post-icon {
        i {
            &:before {
                content: "\f0c1";
            }
        }
    }
}
.post.quote,
.post.format-quote {
    .post-icon {
        i {
            &:before {
                content: "\f10e";
            }
        }
    }
}
.post.status,
.post.format-status {
    .post-icon {
        i {
            &:before {
                content: "\f0e6";
            }
        }
    }
}
.post.aside,
.post.format-aside {
    .post-icon {
        i {
            &:before {
                content: "\f0f6";
            }
        }
    }
}
.post.standard,
.post.format-standard {
    .post-icon {
        i {
            &:before {
                content: "\f040";
            }
        }
    }
}



/* Frontpage-5 */ 
.frontpage-5 {
	article.post {
		margin-bottom: 0;
		padding: 0 20px;
		.entry-content {
			.entry-meta-2 {
				a {
					font-family: $font-family-second;
					color: $text-color-bb;
					font-size: 10px;
					font-weight: 700;
					&:hover {
						color: $theme-color;
					}
				}
			}
			.entry-title {
				margin-bottom: 15px;
			}
		}
	}
	.posts-grid {
		.row {
			> div {
				border-left: 1px solid $border-color;
				&:first-child {
					border-left: none;
				}
			}
		}
	}
}

