@media(max-width: $screen-xs-max){
   .masonry-item{
      img{
         width: 100%;
      }
   }
	
}


@media screen and (max-width: 1367px) {
	.responsiveHeight {
		height: 711px;
		.inner {
			max-height: 711px;
		}
	}
}

@media screen and (max-width: 1120px) {
	#wpo-header.wpo-header-v2 .navbar-mega .navbar-nav > li {
		padding-left: 15px;
		padding-right: 15px;
	}
	.cartwrapper .minibasket .cart-icon {
		display: none;
	}
	.woocommerce.post-type-archive-product .wpo-wrapper, .woocommerce.single-product .wpo-wrapper {
		width: 100%;
	}
	.responsiveHeight {
		height: 590px;
		.inner {
			max-height: 590px;
			.iosSlider .slider .item .post .entry-content {
				height: 210px;
			}
		}
	}
	.footer-v3 .widget-social-links .widget-content .social li a {
		width: 40px;
		line-height: 40px;
	}
	.iosSlider .slider .item .post .entry-content .entry-title {
		font-size: 34px;
	}
}


@media screen and (max-width: 1023px) {
	.container {
		width: 940px;
	}
	.logo-in-theme.space-padding-top-20 {
		padding-top: 5px !important;
	}
	.wpo-header-v2 .navbar-mega .navbar-nav > li {
		float: none;
	}
	.searchform {
		.btn {
			border-radius: 0 3px 3px 0 !important;
			background-color: $dark-area-color;
			color: $white;
			padding: 6px 28px;
			@include transition(.3s);
			&:hover {
				background-color: $theme-color;
			}
		}
	}
	.top-banner {
		display: none;
	}
	.navbar-offcanvas .offcanvas-inner .list-action > li {
		border-left: none;
	}
	.wpb_column > .wpb_wrapper > *:last-child {
		margin-bottom: 30px !important;
	}
	.wpo-footer {
		.wpb_column > .wpb_wrapper > *:last-child {
			margin-bottom: 0px !important;
		}
	}
	.tab-categories-posts {
		.widget-content {
			.row {
				margin-top: -20px;
				> div {
					margin-top: 30px;
					.banner-wrapper {
						text-align: center;
					}
				}
			}
		}
	}
	.widget.widget-related-products .product-wrapper .product .caption .meta .price, 
	.widget.widget-products.style2 .product-wrapper .product .caption .meta .price {
		margin-bottom: 15px;
	}
	.widget.widget-related-products .product-wrapper .product .caption .meta .name, 
	.widget.widget-products.style2 .product-wrapper .product .caption .meta .name {
		font-size: 12px;
		padding-top: 10px;
	}
	.responsiveHeight {
		height: 573px;
		.inner {
			max-height: 573px;
		}
	}
	.wpo-header .header-bottom .breaking-news {
		@include rtl-padding-right(5px);
	}
	.widget_wpo_breaking_post_widget .widget-title {
		display: none;
	}
	.widget.wpo-grid-posts.slide-show .widget-content .carousel-controls {
		top: 53%;
	}
}


@media screen and (max-width: 979px) {
	.container {
		width: 760px;
	}
	nav#wpo-mainnav.padding-large .navbar-nav > li {
		padding: 0 15px;
	}
	.flex-caption {
		> p {
			display: none;
		}
	}
	.wpb_flickr_widget .flickr_badge_image {
		width: 50px !important;
		height: 50px !important;
	}
	
	#wpo-header.wpo-header-v5 .header-middle .navbar-mega .navbar-nav > li > a {
		padding: 15px 20px;
	}
	#wpo-header.wpo-header-v5 .header-middle .navbar-mega .navbar-nav > li.active > a, 
	#wpo-header.wpo-header-v5 .header-middle .navbar-mega .navbar-nav > li:hover > a {
		padding-top: 21px;
	}
	#wpo-header.wpo-header-v5 .header-middle .wpo-mainmenu-wrap {
		border-right: none;
	}
	.wpo-footer ul.menu > li {
		margin: 10px 10px 0;
	}
	.pricing-footer {
    	.btn {
    		padding: 10px 0;
    		display: block;
    	}
    }
    .wpo-header .header-bottom .breaking-news {
    	padding-right: 5px;
    }
    .product-info .caroufredsel_wrapper, .product-info .caroufredsel_wrapper .yith_magnifier_gallery {
    	height: 392px !important;
    }
    .product-info .bo-social-icons [class^="bo-social-"] {
    	width: 25px;
    	height: 25px;
    	line-height: 25px;
    }
    .product-info .wpo-social-share {
    	margin-top: 10px;
    }
    .responsiveHeight {
		height: 506px;
		.inner {
			max-height: 506px;
			.iosSlider .slider .item .post .entry-content .entry-title {
				font-size: 30px;
			}
		}
	}
	.wpo-header .header-bottom .breaking-news .breaking-owl-carousel .owl-controls .owl-buttons {
		display: none;
	}
	.widget.wpo-testimonial .widget-content {
		padding-bottom: 175px;
		.item .testimonials-body p {
			font-size: 20px;
		}
	}
	.responsiveHeight .inner .iosSlider .slider .item .post .entry-content .entry-title {
		font-size: 28px;
	}
	.footer-v3 .widget-social-links .widget-content .social li a {
		width: 30px;
		line-height: 30px;
		font-size: 14px;
	}
	.wpo-footer ul.menu {
		text-align: left;
	}
	.widget.wpo-grid-posts.slide-show .widget-content .blog-grid-2 .row > div.col-md-4 .post .entry-content {
		padding: 20px 21px 5px;
	}
}


@media screen and (max-width: 799px) {
	.container {
		width: 720px;
	}
	#wpo-header.wpo-header-v2 .navbar-mega .navbar-nav > li {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.widget.widget-related-products .product-wrapper .product .image, .widget.widget-products.style2 .product-wrapper .product .image {
		float: none;
		width: 100%;
	}
	.widget.widget-related-products .product-wrapper .product .caption, .widget.widget-products.style2 .product-wrapper .product .caption {
		position: static;
		width: 100%;
	}
	.widget.widget-related-products .product-wrapper .product .caption .meta .action-bottom, 
	.widget.widget-products.style2 .product-wrapper .product .caption .meta .action-bottom {
		position: static;
		@include opacity(1);
		padding: 0 20px 15px;
		width: 100%;
	}
	.widget.widget-related-products .product-wrapper .product:hover .caption, 
	.widget.widget-products.style2 .product-wrapper .product:hover .caption {
		width: 100%;
	}
	.widget.widget-related-products .product-wrapper .product:hover .caption .meta, 
	.widget.widget-products.style2 .product-wrapper .product:hover .caption .meta {
		padding-right: 0;
	}
	#wpo_breaking_post_widget-2,
	#wpo_socials_widget-2 {
		.widget-title {
			display: none;
		}
	}
	.responsiveHeight {
		height: 494px;
		.inner {
			max-height: 494px;
			.iosSlider .slider .item .post .entry-content .entry-title {
				font-size: 28px;
			}
		}
	}
	.wpo-header .widget_wpo_socials_widget .widget-title {
		display: none;
	}
	.wpb_flickr_widget .flickr_badge_image {
		width: 48px !important;
		height: 48px !important;
	}
	.footer-v3 .widget-social-links .widget-content .social li a {
		width: 36px;
		height: 36px;
		line-height: 36px;
	}
	.wpo-footer .widget_categories ul li {
		width: 100%;
	}
	.wpo-header .header-quick-action .box-quick-action {
		display: none;
	}
	.frontpage-posts .frontpage-4 {
		.post {
			margin-bottom: 0 !important;
		}
	}
	.widget.wpo-grid-posts.slide-show .widget-content .carousel-controls {
		top: 51%;
	}
	.responsiveHeight .inner .iosSlider .slider .item .post .entry-content .entry-title {
		font-size: 26px;
	}
	.footer-v3 .widget-social-links .widget-content .social li a {
		width: 28px;
		height: 28px;
		line-height: 28px;
	}
	.product-grid.style-fashion {
		margin-bottom: 0;
	}
	.widget-products-carousel {
		margin-top: -30px;
		.product-grid.style-fashion {
			margin-top: 30px;
		}
	}

}


@media screen and (max-width: 767px) {
	.container {
		width: 600px;
	}
	.wpo-header .header-bottom .breaking-news {
		border-right: 1px solid $border-color;
		padding-right: 20px;
		&:after {
			content: none;
		}
	}
	.wpo-header .header-bottom .social-box {
		margin-left: 0;
		text-align: center;
		padding-bottom: 5px;
		> ul {
			float: none !important;
			display: inline-block;
		}
	}
	.frontpage-3 .post:last-child {
		margin-bottom: 30px !important;
	}
	.wpo-footer.footer-v1 .row > div.twitter-block-right::before {
		border: none;
		height: 100%;
		width: 100%;
		left: auto;
		right: 100%;
		top: 0;
		margin: 0;
		background-color: #272727;
	}
	.wpo-footer.footer-v1 .row > div::before,
	.wpo-footer.footer-v2 .row > div::before {
		content: none;
	}
	.newsletter .ajax-loader {
		display: none;
	}
	.wpo-footer.footer-v1 .vc_row.row {
		margin-bottom: 0;
	}
	.wpb_wrapper .flexslider .slides > li .flex-caption {
		padding-right: 30%;
	}
	.wpb_wrapper .flexslider .slides > li .flex-caption .post-title {
		font-size: 20px;
	}
	.wpo-footer.footer-v2 .row > div.flickr-content::before {
		border: none;
		height: 100%;
		width: 100%;
		left: auto;
		right: 100%;
		top: 0;
		margin: 0;
		background-color: $color-8;
	}
	.wpo-footer.footer-v2 .row > div:first-child {
		padding-left: 30px;
	}
	#wpo-header.wpo-header-v4 .header-middle {
		display: none;
	}
	#wpo-header.wpo-header-v4 .header-bottom .breaking-news {
		margin-right: 0;
		border: 1px solid $border-color;
	}
	.wpo-header .header-bottom .social-box {
		border: 1px solid $border-color !important;
		border-top: none !important;
		padding-bottom: 0;
	}
	#wpo-header.wpo-header-v5 .header-middle {
		border-bottom: none;
	}
	.row .vc_custom_1438847816076 {
		border-right: none !important;
		padding-right: 15px !important;
		margin-right: 0 !important;
	}
	.col-a .widget .widget-title, .col-a .widget .widgettitle, .col-a .widget .widget_title {
		margin-right: 0;
		padding-right: 0;
	}
	.row .vc_custom_1437797518939 {
		padding-left: 15px !important;
		border-left: none !important;
		margin-top: 0px !important;
	}
	.sidebar .widget .widget-title, .sidebar .widget .widgettitle, .sidebar .widget .widget_title {
		margin-left: 0;
		padding-left: 0;
	}
	.frontpage-posts.frontpage-5 {
		.row {
			> div {
				margin-top: 25px;
				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
	.vc_custom_1440835325581 {
		> div {
			margin-bottom: 35px;
		}
	}
	#menu-footer-menu,
	.vc_custom_1440835720804 {
		text-align: center;
	}
	.widget.widget-related-products .product-wrapper .product .caption .meta .action-bottom, 
	.widget.widget-products.style2 .product-wrapper .product .caption .meta .action-bottom {
		padding: 15px 20px;
	}
	.feature-box {
		overflow: hidden;
	}
	.product-meta {
		padding: 0 20px;
	}
	.woocommerce-shipping-fields,
	.order-review {
		margin-bottom: 30px;
	}
	.table-responsive > .table > thead > tr > th, 
	.table-responsive > .table > thead > tr > td, 
	.table-responsive > .table > tbody > tr > th, 
	.table-responsive > .table > tbody > tr > td, 
	.table-responsive > .table > tfoot > tr > th, 
	.table-responsive > .table > tfoot > tr > td {
		white-space: normal;
	}
	th.product-thumbnail {
		display: none;
	}
	.product-info .caroufredsel_wrapper, .product-info .caroufredsel_wrapper .yith_magnifier_gallery {
		height: 475px !important;
	}
	.wpo-social-share {
		margin: 0 0 30px;
	}
	.vc_tta-container .vc_tta-style-modern {
		border: none;
		padding: 0;
	}
	.vc_tta-container .vc_tta-style-modern .vc_tta-panels-container .vc_tta-panels .vc_tta-panel-body {
		padding: 20px;
	}
	.vc_tta-container .vc_tta-style-modern.vc_tta-tabs-position-left::after,
	.vc_tta-container .vc_tta-tabs-position-left::after {
		content: none;
	}
	.responsiveHeight {
		height: 447px;
		.inner {
			max-height: 447px;
			.iosSlider .slider .item .post .entry-content .entry-title {
				font-size: 24px;
			}
		}
	}
	.wpo-header.wpo-header-v5 .header-bottom .breaking-news .row {
		margin-top: -15px;
		> div {
			margin-top: 15px;
		}
	}
	.widget_wpo_breaking_post_widget .widget-title {
		display: block;
	}
	.tab-v5 .nav-tabs > li > a {
		font-size: 13px;
	}
	.woocommerce .summary.entry-summary {
		padding-top: 30px;
	}
	.woocommerce {
		.tab-content {
			.table-responsive > .table > thead > tr > th, 
			.table-responsive > .table > thead > tr > td, 
			.table-responsive > .table > tbody > tr > th, 
			.table-responsive > .table > tbody > tr > td, 
			.table-responsive > .table > tfoot > tr > th, 
			.table-responsive > .table > tfoot > tr > td {
				border-top: none;
			}
		}
	}
	.twitter-row {
	    .latest-twitter {
	        &:before {
	            content: none;
	        }
	        &:after {
	        	content: "";
	        	position: absolute;
	        	top: 0;
	        	@include rtl-left(100%);
	        	background-color: $white;
	        	width: 100%;
	        	height: 100%;
	        }
	    }
	}
	.wpo-footer.footer-v1 .row > div:first-child {
		@include rtl-padding-left(30px);
	}
	.row .vc_custom_1443689495377 {
		border-right: none !important;
		margin-right: 0 !important;
		padding-right: 15px !important;
	}
	.widget.frontpage-8 .header-gridpost {
		@include rtl-margin-right(0);
		@include rtl-padding-right(0);
	}
	.row .vc_custom_1443690316414 {
		border-left: none !important;
		padding-left: 15px !important;
	}
	.wpo-footer.footer-v3 {
		.textwidget {
			padding-top: 20px;
			text-align: center;
		}
	}
	.wpo-header.wpo-header-v2 {
		.logo-in-theme {
			margin: 20px 0 !important;
		}
	}
	#related-post {
		.row {
			margin-top: -25px;
			> div {
				margin-top: 25px;
			}
		}
	}
	.product-grid.style-fashion .caption {
    	margin-top: -70px;
	}
	.product-grid.style-fashion .button-action > div {
	    opacity: 1;
	    right: 10px;
	}
	.product-grid.style-fashion .meta .rating {
	    opacity: 0;
	}
	.product-grid.style-fashion .meta .action-bottom {
	    margin-bottom: 20px;
	    opacity: 1;
	    visibility: visible;
	}
	.widget-products-carousel .product-grid.style-fashion .caption {
		margin-top: 0;
	}
	.widget.widget-related-products .product-wrapper .product .caption, .widget.widget-products.style2 .product-wrapper .product .caption {
		padding-bottom: 20px;
	}
	.row .vc_custom_1442485431286 {
		margin-bottom: 0 !important;
	}
	.vc_custom_1440834871871 .wpb_wrapper {
		text-align: center;
		.widget-social-links {
			display: inline-block;
		}
	}
	.footer-v3 .widget-social-links {
		float: none;
		margin-bottom: 20px;
	}
	.widget.wpo-grid-posts.slide-show .widget-content .post .entry-content,
	.widget.wpo-grid-posts.slide-show .widget-content .blog-grid-2 .row > div .post .entry-content {
		padding: 30px 30px 10px;
	}
	.frontpage-posts .frontpage-4 .post {
		margin-top: 30px;
	}
	.frontpage-posts .frontpage-4 .main-posts {
		margin-top: -30px;
	}
}


@media screen and (max-width: 639px) {
	.container {
		width: 440px;
	}
	.rev-btn, .rev-btn:visited {
		padding: 5px 10px !important;
	}
	.logo-in-theme {
		margin-bottom: 20px;
		margin-top: 20px !important;
	}
	.wpo-header .header-bottom .breaking-news .breaking-owl-carousel .owl-controls .owl-buttons {
		display: none;
	}
	.wpb_wrapper .flexslider .slides > li .flex-caption {
		padding: 0 30% 5px 20px;
	}
	.newsletter-v3 .newsletter {
		width: 100%;
	}
	.footer-v1 .vc_custom_1440818167048 {
		padding-top: 90px !important;
	}
	blockquote {
		padding-left: 30px;
	}
	.blockquote.blockquote-brd .blockquote-in {
		margin-left: 10px;
	}
	.blockquote.blockquote-right .blockquote-in {
		margin-right: 10px;
	}
	.product-info .caroufredsel_wrapper, .product-info .caroufredsel_wrapper .yith_magnifier_gallery {
		height: 337px !important;
	}
	.table {
		font-size: 14px;
	}
	.responsiveHeight {
		height: 387px;
		.inner {
			max-height: 387px;
			.iosSlider .slider .item .post .entry-content .entry-title {
				font-size: 24px;
			}
		}
	}
	.widget.wpo-grid-list .widget-content .post-thumb {
		margin-bottom: 15px;
	}
	.woocommerce-lost-password .form-row.form-row-first {
		width: 60%;
	}
	.posts-timeline > li {
		float: none;
		width: 100%;
	}
	.style-2 .entry-timeline:nth-child(2n+1) {
		@include rtl-padding-right(0);
	}
	.style-2 .entry-timeline:nth-child(2n) {
		@include rtl-padding-left(0);
	}
	.widget.wpo-grid-posts.slide-show .widget-content .post .entry-content .entry-description {
		display: none;
	}
	.widget.wpo-grid-posts.slide-show .widget-content .post .entry-content .entry-title {
		font-size: 24px;
	}
	.responsiveHeight .inner .iosSlider .slider .item .post .entry-content .entry-title {
		font-size: 20px;
	}
	.widget.wpo-grid-list .widget-content .display-grid .post {
		width: 100%;
	}
}


@media screen and (max-width: 479px) {
	.container {
		width: 280px;
		padding-left: 0;
		padding-right: 0;
	}
	.frontpage-9 .post .entry-content {
		padding: 0 20px 10px;
		.entry-description {
			display: none;
		}
	}
	.frontpage-3.style-4 .main-posts .post {
		padding-left: 20px;
	}
	.widget-area-5 .widget .widget-title,
	.widget-area-5 .widget .widget-content {
		padding: 0 20px;
	}
	.widget-area-5 .widget .widget-title {
		margin-bottom: 20px;
	}
	.wpb_wrapper .flexslider .slides > li .flex-caption .post-title {
		font-size: 14px;
		font-weight: 700;
	}
	.frontpage-posts .main-posts .entry-content,
	.wpo-grid-posts.style-1 .entry-content,
	.wpo-sidebar .widget.widget_wpo_tabs_widget .tab-content {
		padding: 15px 20px;
	}
	.frontpage-posts .secondary-posts .wrap-media,
	.wpo-grid-posts .posts-list {
		padding: 20px;
	}
	.row .vc_custom_1440744877623 {
		margin-top: 5px !important;
	}
	.posts-list article:last-child {
		padding-bottom: 0;
		margin-bottom: 0;
	}
	.wpb_wrapper .flexslider .flex-direction-nav a {
		height: 28px;
		line-height: 28px;
		width: 28px;
	}
	.wpo-header-v4,
	.wpo-header-v5 {
		.logo-in-theme {
			margin: 0 !important;
		}
	}
	.row-offcanvas-left .sidebar-offcanvas {
		left: -100%;
	}
	.sidebar-offcanvas {
		width: 100%;
	}
	.row-offcanvas-left.active {
		left: 100%;
	}
	.wpo-header-v5 .header-top {
		padding: 30px 0 !important;
	}
	.wpb_flickr_widget .flickr_badge_image {
		width: 46px !important;
		height: 46px !important;
	}
	.wpo-footer ul.menu > li {
		margin: 5px 5px 0;
	}
	.widget .widget-title.widget-title-v7, .widget .widgettitle.widget-title-v7, .widget .wpb_heading.widget-title-v7,
	.widget .widget-title.widget-title-v8, .widget .widgettitle.widget-title-v8, .widget .wpb_heading.widget-title-v8 {
		font-size: 16px;
		padding-right: 65px;
	}
	.widget.widget-products .carousel-controls {
		top: -70px;
	}
	.pricing {
		margin-bottom: 20px !important;
	}
	.wpo-sidebar .widget .widget-title, .wpo-sidebar .widget .widgettitle, .wpo-sidebar .widget .wpb_heading {
		padding: 15px 20px;
		margin: 0 -20px 20px;
	}
	.wpo-sidebar .widget {
		padding: 0 20px 20px;
	}
	.nav > li > a {
		padding: 10px 20px;
	}
	.logo-in-theme {
		margin: 0 !important;
		padding: 0 !important;
	}
	#wpo-filter {
		.row {
			> div {
				float: none !important;
				&:first-child {
					margin-bottom: 20px;
				}
			}
		}
	}
	.wpo-pagination {
		float: none !important;
	}
	.wpo-pagination ul.pagination {
		margin: 0;		
	}
	.woocommerce .woocommerce-result-count {
		float: none !important;
		margin: 0 0 30px;
		padding-top: 10px;
		text-align: center;
	}
	#single-product.product-info {
		.row {
			margin-left: -5px;
			margin-right: -5px;
			> div {
				padding-left: 5px;
				padding-right: 5px;
			}
		}
	}
	.product-info .caroufredsel_wrapper, .product-info .caroufredsel_wrapper .yith_magnifier_gallery {
		height: 232px !important;
	}
	.product-info .yith_magnifier_gallery li {
		margin: 0 0 15px;
	}
	.bo-social-icons [class^="bo-social-"] {
		margin-left: 3px;
		margin-right: 3px;
	}
	.product-info .price {
		font-size: 30px;
	}
	.tab-v5 .nav-tabs {
		padding: 0 20px;
	}
	.tab-v5 .nav-tabs > li > a {
		font-size: 12px;
	}
	.tab-v5 .nav-tabs > li {
		margin: 0 0 0 20px;
	}
	.tab-v5 > .tab-content {
		padding: 15px 20px 0;
	}
	table > thead > tr > th, table > thead > tr > td, table > tbody > tr > th, 
	table > tbody > tr > td, table > tfoot > tr > th, table > tfoot > tr > td, 
	.table > thead > tr > th, .table > thead > tr > td, 
	.table > tbody > tr > th, .table > tbody > tr > td, 
	.table > tfoot > tr > th, .table > tfoot > tr > td {
		padding: 5px;
	}
	.table {
		font-size: 12px;
	}
	.woocommerce table.cart input.btn-primary {
		padding: 7px 20px;
	}
	table.cart {
		td.actions {
			.pull-left,
			.pull-right {
				float: none !important;
			}
			.coupon {
				margin-bottom: 20px;
			}
		}
	}
	.order-review {
		padding: 0 20px;
	}
	.responsiveHeight {
		height: 282px;
		.inner {
			max-height: 282px;
			.iosSlider .slider .item .post .entry-content .entry-title {
				font-size: 14px;
			}
			.iosSlider .slider .item .post .entry-content {
				height: 165px;
			}
			.carousel-control.left {
				left: 0;
				margin-left: 0;
			}
			.carousel-control.right {
				right: 0;
				margin-right: 0;
			}
		}
	}
	.wpo-topbar {
		display: none;
	}
	.wpb_column > .wpb_wrapper > *:last-child {
		margin-bottom: 0 !important;
	}
	.vc_custom_1438929951741 {
		.space-padding-top-20 {
			padding-top: 0 !important;
		}
	}
	.widget_wpo_breaking_post_widget .widget-title {
		display: none;
	}
	.widget.wpo-grid-list .widget-content .display-grid .post {
		width: 100%;
	}
	#wpo-loadmore-posts {
		margin-bottom: 40px;
	}
	.wpb_column > .wpb_wrapper {
		.wpo-video-box,
		.wpo-testimonial {
			margin-bottom: 30px !important;
		}
	}
	.wpo-footer.footer-v3 .wpb_column > .wpb_wrapper {
		.wpb_single_image {
			text-align: center;
		}
	}
	.container-fuild .vc_custom_1440834871871 {
		padding-top: 30px !important;
	}
	.footer-v3 .widget-social-links {
		float: none;
		text-align: center;
		li {
			display: inline-block;
			float: none;
		}
	}
	.woocommerce-lost-password .form-row.form-row-first {
		width: 100%;
		@include rtl-padding-right(0);
	}
	.woocommerce-lost-password .form-row input.button {
		margin-top: 10px;
		width: 100%;
	}
	.widget .widget-title.widget-title-v4, .widget .widgettitle.widget-title-v4, .widget .wpb_heading.widget-title-v4 {
		font-size: 18px;
	}
	.page .page-title {
		margin: 0;
	}
	.blog-page {
		margin-bottom: 30px;
		.posts-list article {
			margin-bottom: 30px;
			&:last-child {
				margin-bottom: 30px;
			}
		}
	}
	.product-info .product_title {
		font-size: 18px;
	}
	.responsiveHeight .inner .iosSlider .slider .item .post .entry-content .entry-meta-2 {
		display: none;
	}
	.widget.wpo-grid-posts.slide-show .widget-content .post .entry-content .entry-title,
	.widget.wpo-grid-posts.slide-show .widget-content .blog-grid-2 .row > div .post .entry-content .entry-title,
	.widget.wpo-grid-posts.slide-show .widget-content .blog-grid-2 .row > div.col-md-4 .post .entry-content .entry-title {
		font-size: 14px;
	}
	.widget.wpo-grid-posts.slide-show .widget-content .post .entry-content, 
	.widget.wpo-grid-posts.slide-show .widget-content .blog-grid-2 .row > div .post .entry-content {
		padding: 20px 20px 5px;
	}
	.widget .widget-title, .widget .widgettitle, .widget .wpb_heading {
		font-size: 1.5rem;
	}
	.widget.tab-categories-posts .tab-title .nav-tabs > li {
		margin: 4px 0 0 10px;
	}
	.widget.tab-categories-posts .tab-title .nav-tabs > li > a {
		font-size: 10px;
	}
	
}