.font-size-lg{
  font-size: $font-size-lg;
}
.font-size-md{
  font-size: $font-size-md;
}
.font-size-sm{
  font-size: $font-size-sm;
}
.font-size-xs{
  font-size: $font-size-xs;
}

.position-relative{
   position: relative;
   z-index: 9;
}
.position-static{
   position: static!important;
}
.padding-special-right{
   @include rtl-padding-right(2px);
}
.padding-special-left{
   @include rtl-padding-left(2px);
}
.border-col-right{
   border: 1px solid #DDD;
   @include rtl-border-left(0);
}

.social{
   margin-top: 10px;
   padding: 0;
   li{
      float: left;
      list-style: none; 
      margin-left: 15px;

      a{
         color: $text-color;
          padding: $theme-padding / 2;
         &:hover{
            color: $theme-color;
         }
      }
      &:first-child{
          a{
              @include rtl-padding-left(0);
          }
      }
   }
   &.v2{
      display: inline-block;
      li{
         text-align: center;
         i{
            @include size(65px, 65px);
            font-size: 26px;
            line-height: 65px;
            color: $white;
            text-align: center;
            border: 1px solid rgba(255, 255, 255, 0.6);
            @include border-radius(50%);
         } 
      }    
   }
   &.v3{
      li i{
         color: #999999;
         border-color: #999999;
      }
   }
}

.return-top{
   position: fixed;
   right: 50px;
   bottom: 50px;
   z-index: 99;
   &:hover{
      cursor: pointer;
   }
}  


/**
 * jPreloader
 */
 #jpreLoader{
  display: block;
  width: 100%;
  top: 50%!important;
 }
.js-preloader {
  position: relative;
   .wpo-page{
      opacity: 0;
   }
}
#jpreContent {
 // display: none;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  top: 0; 
  height: 100%;
  #jprecontent-inner{
   @include size(260px, 260px);
   border: 1px solid #D0D0D0;
   @include border-radius(50%);
   padding-top: 30px;
   position: absolute;
   left: 50%;
   margin-left: -130px;
   top: 250px;
   @media(max-width: $screen-sm-max){
    top: 200px;
   }
    .site-logo{
      position: absolute;
      top: 80px;
      left: 0;
      @include size(100%, 100%);
    }
  }  
}

.js-preloader.preloader-done{
   .wpo-page{
      opacity: 1;
   }   
   #jpreContent{
      display: none;
   }
}

#jpreOverlay {
  background-color: transparent;
  height: auto !important;
  top: 0 !important;
  position: absolute !important;
}
#jpreSlide {
  width: 100%;
  text-align: center;
  top: 0!important; 
  margin-top: 0!important;
  bottom: auto!important;
  position: relative!important;
  #jpreContent{
    display: block;
  }
}

 #jpreOverlay {
  background-color: #ffffff;
  height: 100% !important;
  position: fixed !important;
}

#jprePercentage {
  display: block !important;
  text-align: center;
}
#jpreBar {
   position: fixed!important;
  top: 0!important;
  height: 5px!important;
  background: $theme-color!important;
  z-index: 2;
  background-color: #000000;
}

#jprePercentage {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 80px;
  @media(max-width: $screen-sm-max){
    margin-top: 60px;
  }
  font-size: 18px;
  color: $theme-color;
}

.social-links{
  display: inline-block;
  > li{
    display: inline-block;
    text-align: center;
    list-style: none;
    float: left;
    margin-left: 50px!important;
    a{
      font-size: 18px;
      font-weight: 400;
    }
    &:last-child{
      margin-left: 0;
    }
  }
}