// @import "animation";

.wpb-container{
    margin-bottom: $visual-container-marigin-bottom;
    background: $box-container-bg;
    position: relative;
    > .wpb-inner > .row{
        //padding: $visual-container-padding;
        .row{
            padding: 0;
        }
    }
    .container .container{
        width: 100%;
        padding: 0;
    }
   .icon-row{
        padding-top: 28px;
        position: absolute;
        top: -43px;
        margin-left: -35.5px;
        z-index: 99;
        left: 50%;
        color: $white;
        font-size: 18px;
        text-align: center;
        @include size(70px, 70px);
        i,em{
            position: relative;
            z-index: 99;
        }
        &:before{
            content: ''; 
            position: absolute; 
            width: 58px; 
            height: 58px; 
            @include size(58px, 58px);
            left:6px;
            top:24px; 
            background: $theme-color;
            margin: 3px 0 0 30px;
           /* Rotate */
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
           /* Rotate Origin */
            -webkit-transform-origin: 0 100%;
            -moz-transform-origin: 0 100%;
            -ms-transform-origin: 0 100%;
            -o-transform-origin: 0 100%;
            transform-origin: 0 100%;
        }
    }
    &.parallax{
     
    }
    &.no-padding, &.nopadding{
        > .wpb-inner > .row{
            padding-top: 0;
            padding-bottom: 0;
        }    
    }
    &.col-nopadding{
         .row{
            margin-left: 0;
            margin-right: 0;
            div[class*="col-"]{
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
    &.border-col{
        > .wpb-inner > .row {
            padding: 0;
            border-bottom: 1px solid $border-color;
            > .wpb_column > div{
                border-left: 1px solid $border-color;
                padding: 50px 15%;
                @media(max-width: $screen-sm-max){
                    padding: 30px 15px;
                }
            }    
        }
    }
}
   
.wpb_column{
    &.bg-center{
        .wpb_wrapper{
            background-position: center center!important;
        }
    }
}

 $border-accordion: #DCDCDC !default;
.wpb_accordion{
    .wpb_accordion_wrapper .ui-state-default .ui-icon {
        // background: url('#{$image-theme-path}toggle_open.png') no-repeat center center $nocolor!important;
        width: 10px!important;
        height: 10px!important;
        top: 1.2em !important;
        background-image: none !important;
        &:before {
            content: "";
            width: 2px;
            height: 100%;
            background-color: $theme-color;
            position: absolute;
            top: 0;
            left: 50%;
            margin-left: -1px;
        }
        &:after {
            content: "";
            width: 100%;
            height: 2px;
            background-color: $theme-color;
            position: absolute;
            top: 50%;
            left: 0;
            margin-top: -1px;
        }
    }
    .wpb_accordion_wrapper .ui-state-active .ui-icon{
        // background: url('#{$image-theme-path}toggle_open.png') no-repeat center center $nocolor!important;
        width: 10px!important;
        height: 10px!important;
        &:before {
            content: none;
        }
    }
    .wpb_accordion_wrapper .ui-state-active .ui-icon{
        // background: url('#{$image-theme-path}toggle_close.png') no-repeat center center $nocolor!important;
        width: 10px!important;
        height: 10px!important;
    }
     .wpb_accordion_header{
        background: none!important;
        border-bottom: 1px solid $border-accordion;
        a{
            font-weight: 700;
            text-transform: uppercase;
            padding: 10px 0!important;
            font-size: 14px;
        }
    }
    &.style-1{
        .wpb_accordion_content{
            padding: 1em 0!important;
        }
    }
    &.style-2{
        .wpb_accordion_section{
            border: 1px solid $border-accordion;
            margin-top: 5px;
            .wpb_accordion_header{ 
                border: none;
                padding: 0 30px;
                .ui-accordion-header-icon{
                    top: 1.2em;
                }
                &.ui-state-active{
                    border-top: 3px solid $theme-color;
                }
            }
            .wpb_accordion_content {
                padding: 0 30px 30px;
            }
        }
    }
}


.vc_tta-container {
    .vc_tta-style-classic {
        .vc_tta-tabs-container {
            margin-bottom: 0 !important;
            .vc_tta-tabs-list {
                .vc_tta-tab {
                    > a {
                        background-color: $white;
                        color: $link-color;
                        border-color: $border-color;
                        border-left: none;
                        border-bottom: none;
                        font-size: 15px;
                        position: relative;
                    }
                    &:first-child {
                        > a {
                            border-left: 1px solid $border-color;
                        }
                    }
                    &.vc_active,
                    &:hover {
                        > a {
                            &:before {
                                content: "";
                                width: 100%;
                                height: 4px !important;
                                background-color: $theme-color;
                                position: absolute;
                                left: 0;
                                top: -1px !important;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        .vc_tta-panels-container {
            .vc_tta-panels {
                background-color: $white !important;
                border: 1px solid $border-color !important;
            }
        }
    }
    .vc_tta-style-modern {
        padding: 25px 30px;
        border: 1px solid $border-color;
        .vc_tta-panels-container {
            .vc_tta-panels {
                background-color: $white !important;
                border: none !important;
                .vc_tta-panel-body {
                    padding: 20px 0 10px;
                }
            }
        }
        .vc_tta-tabs-container {
            margin-bottom: 0 !important;
            .vc_tta-tabs-list {
                .vc_tta-tab {
                    margin-left: 30px;
                    > a {
                        background-color: $white;
                        color: $link-color;
                        border: none;
                        font-size: 15px;
                        position: relative;
                        padding: 0 0 8px;
                    }
                    &:first-child {
                        margin-left: 0;
                    }
                    &.vc_active,
                    &:hover {
                        > a {
                            &:before {
                                content: "";
                                width: 100%;
                                height: 3px !important;
                                background-color: $theme-color;
                                position: absolute;
                                left: 0;
                                top: auto !important;
                                bottom: -1px !important;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
        &.vc_tta-tabs-position-left {
            padding: 0;
            position: relative;
            &:after {
                content: "";
                width: 1px;
                height: 100%;
                position: absolute;
                top: 0;
                left: 31.6667%;
                background-color: $border-color;
            }
            .vc_tta-tabs-container {
                width: 31.6667%;
                text-align: center;
                overflow: visible;
                .vc_tta-tabs-list {
                    margin: 0;
                    overflow: visible;
                    .vc_tta-tab {
                        margin: 0;
                        padding: 0;
                        border-bottom: 1px solid $border-color;
                        > a {
                            padding: 15px 20px;
                            text-align: center;
                        }
                        &.vc_active,
                        &:hover {
                            > a {
                                &:before {
                                    left: -1px !important;
                                    top: 0 !important;
                                    height: 100% !important;
                                    width: 3px;
                                    bottom: auto !important;
                                }
                            }
                        }
                    }
                }
            }
            .vc_tta-panels-container {
                .vc_tta-panel-body {
                    padding: 20px;
                }
            }            
        }
    }
    .vc_tta-tabs-position-left {
        padding: 0;
        position: relative;
        &:after {
            content: "";
            width: 1px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 31.6667%;
            background-color: $border-color;
        }
        .vc_tta-tabs-container {
            width: 31.6667%;
            text-align: center;
            overflow: visible;
            .vc_tta-tabs-list {
                margin: 0;
                overflow: visible;
                .vc_tta-tab {
                    margin: 0;
                    padding: 0;
                    border-bottom: 1px solid $border-color;
                    > a {
                        padding: 15px 20px;
                        text-align: center;
                    }
                    &.vc_active,
                    &:hover {
                        > a {
                            &:before {
                                left: -1px !important;
                                top: 0 !important;
                                height: 100% !important;
                                width: 3px;
                                bottom: auto !important;
                            }
                        }
                    }
                }
            }
        }
    }
}

.vc_pagination.vc_pagination-style-outline .vc_pagination-trigger {
    border-width: 1px !important;
    border-color: $theme-color !important;
}
.vc_pagination-color-white.vc_pagination-style-outline .vc_active .vc_pagination-trigger {
    background-color: $theme-color !important;
}
.btn {
    i {
        line-height: inherit;
        &.pull-right {
            margin-left: 15px;
        }
        &.pull-left {
            margin-right: 15px;
        }
    }
}
/**
* Widget Styles
*/   


//colors
$post_timeline_color: #ddd;
$post_timeline_gallery_color: #eaebed;
 

.widget-content .blog-v1{
    &.format-quote{
        .entry-data, .entry-category , .author-avatar{
            display: block;
        }
    }

}


.hentry-box{
    background: none repeat scroll 0 0 #fff;
}
.posts-timeline {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    .hentry {
        position: relative;
    }
    &:before {
        background: $post_timeline_color;
        content: "";
        left: 50%;
        top: 10px;
        bottom: 0;
        position: absolute;
        width: 2px;
        margin-left: -1px;
        margin-top: -10px;
        height: 9999px;
    }
    li {
        &:nth-child(1) {
            animation-delay: 0.1s;
        }
        &:nth-child(2) {
            animation-delay: 0.2s;
        }
        &:nth-child(3) {
            animation-delay: 0.3s;
        }
        &:nth-child(4) {
            animation-delay: 0.4s;
        }
    }
    > li {
        display: block;
        width: 50%;
        position: relative;
        padding-top: 100px;
        @media(max-width: $screen-sm-max){
            float: left;
            clear: left;
        }
        &:nth-child(odd) {
            float: left;
            clear: left;
            padding-right: 20px;
            .hentry {
                .entry-created {
                    right: 0;
                    left: auto;
                    &:after{
                        border-left-color: $theme-color;
                        left: 100%;
                    }
                    span:before{
                        right: -42px;
                    }
                }
               
            }
        }
        &:nth-child(even) {
            float: right;
            clear: right;
            padding-left: 20px;
            .hentry {
                .entry-created {
                    left: 0;
                    right: auto;
                    &:after{
                        border-right-color: $theme-color;
                        right: 100%;
                    }
                    span:before{
                        left: -42px;
                    }
                }
            }
        }
        &:nth-child(1) {
            padding-top: 60px;
        }
        &:nth-child(2) {
            padding-top: 60px;
        }
        &:nth-child(2n) {
            margin-top: 80px;
        }
        .hentry {
            .entry-created {
                display: block;
            }
            .entry-date {
                position: absolute;
                top: -40px;
            }
        }
    }
}

.style-2{
    .posts-timeline{
        &:before{
            background: $border-color !important;
        }
        &:after{
            content: "";
            top: 0;
            left: 50%;
            margin-left: -7px;
            position: absolute;
            @include size(14px, 14px);
            z-index: 9;
            @include border-radius(50%); 
            background: $border-color; 
        }
    }
    .entry-timeline{
        padding-top: 30px!important;
        &:nth-child(odd) {
            float: left;
            clear: left;
            padding-right: 35px;
            .hentry {
                &:after{
                    right: -42px;
                }
                &:before{
                    right: -42px;
                }
            }
        }
        &:nth-child(even) {
            float: right;
            clear: right;
            padding-left: 35px;
            .hentry {
                &:after{
                    left: -42px;
                }
                &:before{
                    left: -42px;
                }
            }
        }
        &:nth-child(1) {
            padding-top: 30px;
        }
        &:nth-child(2) {
            padding-top: 30px;
        }
        &:nth-child(2n) {
            margin-top: 40px;
        }
    } 
    .posts-timeline{
        .hentry{
            &:after{
                content: "";
                top: 30px;
                right: -27px;
                position: absolute;
                @include size(14px, 14px);
                z-index: 9;
                @include border-radius(50%); 
                background: $white;
                border: 2px solid $theme-color;
            }
            &:before{
                content: "";
                top: 37px;
                position: absolute;
                @include size(42px, 2px);
                background: $border-color;
                z-index: 1;
            }
        }
        .entry-created-2{
          display: inline-block!important;
          visibility: visible!important;  
          padding-top: 15px !important;
          span{
            display: block;
            line-height: 1;
            &.month{
                font-size: 14px;
                font-weight: 400;
                text-align: center;
                color: $white;
                text-transform: uppercase;
            }
            &.day{
                font-size: 30px;
                font-weight: 700;
                text-align: center;
                color: $white;
            }
          }
        }
    }
}

 /* News styles */
.frontpage-posts{
    .entry-thumb {
        overflow: hidden;
    }
    .entry-title {
        padding-top: 0;
    }
    .main-posts {
        .entry-thumb {
            position: relative;
            margin-bottom: 0;            
            .post-icon {
                border-radius: 2px;
                position: absolute;
                bottom: 10px;
                right: 10px;
                background-color: $white;
                font-size: 12px;
                padding: 0 8px;
                line-height: 28px;
                display: block;
                color: $text-color-bb;
            }
        }
        .entry-content {
            padding: 25px 30px;
            background-color: $white;
        }
        .post-single-v4 {
            .entry-thumb {
                margin-bottom: 15px;
            }
        }
    }
    .secondary-posts{
        .wrap-media {
            background-color: $white;
            padding: 30px;
        }
        .media{
            position:relative;
            &:first-child{
                margin-top:0;
            }
            margin: 40px 0 ;
            &:after{
                content: " ";
                width: 1px; 
                width: 100%;
                position:absolute;
                bottom:-20px;
                background: $gray-lighter ;
                height: 1px;
            }
            &:last-child{
                margin-bottom: 0;
                &:after {
                    content: none;
                }
            }
            .entry-title{
                font-size: 12px;
                margin-bottom: 3px;
            }
            .media-left{
                @include rtl-padding-right(10px);
            }
        }    
        .entry-thumb{
            width: 60px;
            margin-bottom: 0;
        }
     }
}
.frontpage-3{
    .main-posts .post{
        .entry-title{
            padding-top: 10px;
            font-size: 24px;
            font-weight: 900;
        }
        .entry-thumb {
            margin-bottom: 15px;
        }
        .entry-content {
            background-color: transparent;
            padding: 0;
        }   
    }
    .post{
        margin-bottom: 40px!important;
        &:last-child{
            margin-bottom: 0 !important;
        }
        .entry-date span{
            font-size: 13px;
        }
    }

    &.style-1{
        .main-posts .post{
            .entry-thumb{
                display: none;
            }
            .entry-title{
                padding-top: 0;
            }
        }
        .entry-description{
            display: none;
        }
        .entry-date span{
            font-size: 10px;
            text-transform: uppercase;
        }
    }
    &.style-2{
        .main-posts{
            .entry-title{
                position: relative;
                font-size: 18px;
                text-transform: uppercase;
                padding: 0 0 20px;
                margin: 0 0 20px;
                font-weight: 800;
                line-height: 1.3;
                padding-top: 20px;
                &:after{
                   content: "";
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    @include size(30px, 2px);
                    background: $theme-color;
                    z-index: 1;
                }
            }    
        } 
        .secondary-posts .post {
            &:last-child{
                border: none;
                padding-bottom: 0;
                margin-bottom: 0;
            }
        }   
    }
    &.style-3 {
        .main-posts {
            .post {
                border-bottom: none;
            }
            .entry-title {
                @include font-size(font-size, $entry-title-font-size);
                font-weight: $entry-title-font-weight;
                padding-bottom: 0;
                line-height: $entry-title-line-height;
                text-transform: $entry-title-transform;
                margin-bottom: 0;
                &:after {
                    display: none;
                }
            }
            .entry-description,
            .entry-content-inner {
                display: none;
            }
        }
    }
    &.style-4 {
        .main-posts {
            .post {
                border-left: 1px solid $border-color;
                padding-left: 30px;
                margin-bottom: 30px !important;
                .entry-thumb {
                    display: none;
                }
                .entry-content {
                    .entry-meta-2 {
                        .post-icon {
                            display: none;
                        }
                    }
                    .entry-description {
                        display: none;
                    }
                    .entry-title {
                        font-size: 13px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}
.frontpage-4 {
    .post {
        .post-body {
            .entry-category {
                text-transform: uppercase;
                margin-bottom: 5px;
                a {
                    color: $theme-color;
                    font-size: 11px;
                    font-family: $font-family-sans-serif;
                }
            }
        }
    }
}
.frontpage-7 {
    background-color: $dark-area-color;
    .entry-thumb {
        margin-bottom: 0;
    }
    .entry-content {
        padding: 25px 30px 30px;
        .entry-title {
            font-size: 18px;
            a {
                color: $white;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}
.frontpage-9{
     .post{
        position: relative;
        .entry-content{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 20px 30px 10px;
            background: -moz-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(19,19,19,0.7) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0)), color-stop(100%,rgba(19,19,19,0.7))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(76,76,76,0) 0%,rgba(19,19,19,0.7) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(76,76,76,0) 0%,rgba(19,19,19,0.7) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(76,76,76,0) 0%,rgba(19,19,19,0.7) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(76,76,76,0) 0%,rgba(19,19,19,0.7) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c4c4c', endColorstr='#b3131313',GradientType=0 ); /* IE6-9 */
            color: $white;
            .entry-title{
                font-size:18px;
                margin-bottom: 8px;
                padding-top: 0;
                a {
                    color: $white;
                    &:hover {
                        color: $theme-color;
                    }
                }
            }
            .entry-description {
                font-weight: 300;
            }
            .entry-meta-2 {
                margin-bottom: 5px;
                a:hover {
                    color: $white;
                }
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
     }
}
.frontpage-posts-14{
     .main-posts.large{
        .post-body{
            padding: 45px;
        }
        .entry-title{
            margin: 0;
            padding: 0;
            &:before, &:after{
                content: none!important;
            }
            a{
                font-size: 30px;
            }
        }
     }
}

 /**INFOR BOX */
.wpo-inforbox{
    @media(max-width: $screen-sm-max){
        min-height: 100px;
    }
       & > div{
        float: left;
         @media(max-width: 600px){
            width: 100%;
            float: none;
            display: block;
            &.inforbox-right{
                display: none;
            }
         }
        .inforbox-inner{
            padding: 70px 0 0;
            position: relative;
        }
    }
    .subheading{
        padding: 0;
    }
    .inforbox-left{
        .inforbox-inner{
            @include rtl-float-right();
        }
        .subheading{
            @include rtl-text-align-left();
        }
    }
    .inforbox-right{
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
    }
    &.inforbox-dark{
        background:#000;
        * {
            color:#FFF;
        }
        .inforbox-left{
            background: $nocolor;
        }
    }
    &.inforbox-align-right{
        background-position:center left;
        & > div{
            float: right;
        }
        .inforbox-left{
            .inforbox-inner{
                @include rtl-float-left();
            }
        }
        .inforbox-right{
            left: 0;
            right: auto;
        }
    }
    &.full-width{
        .inforbox-left{
            padding-left: 215px;
            padding-right: 80px;
            @media(max-width: $screen-md-max){
                padding-left: 15px;
                padding-right: 15px;
            }
        }
        &.inforbox-align-right{
             .inforbox-left{
                padding-left: 80px;
                padding-right: 160px;
                @media(max-width: $screen-md-max){
                    padding-left: 15px;
                     padding-right: 15px;
                }
            }
        }
    }
    &.style-1{
        .heading {
            &:after{
                width: 30px;
                background: $black;
            }
            .font-size-sm{
                font-weight: 500;
                letter-spacing: 0;
                text-transform: none;
                color: $black;
                line-height: 24px;
                display: block;
            }
        } 
        .information{
            *{
                font-size: 14px;
                line-height: 26px;
            }
        }   
    }
 }

 .wpo-inforbox-v2{
    position: relative;
    .inforbox-icon{
        position: absolute;
        top: 40%;
        left: -30px;
    }
    .icons{
        height: 50px;
        width: 50px;
    }
    h4{  color:#FFFFFF;  }
    &.bg-danger .icons{ background: darken( $brand-danger,2%); }
    &.bg-info .icons{ background: darken( $brand-info,2%); }
    &.bg-primary .icons{ background: darken( $brand-primary,2%); }
    &.bg-warning .icons{ background: darken( $brand-warning,2%); }
    &.bg-success .icons{ background: darken( $brand-success,2%); }
    &.bg-nostyle{ background:#FFF;
        .icons{
            background:#FFF;
            color: $black;
        }
        h4{
            color:$black;
        }
    }
 }

 .style-1{  
    .widget_mc4wp_widget{
        margin-bottom: 0;
        form{
            .description{
                float: left;
                width: 35%;
                .title{
                    display: block!important;
                    visibility: visible!important;
                    font-weight: 800;
                    text-transform: uppercase;
                    font-size: 18px;
                    color: $black;
                }
            }
            .content-form{
                float: left;
                width: 65%;
                position: relative;
                .input-form{
                    padding-right: 130px;
                    input{
                        @include border-radius(3px);
                    }
                }
                .button-submit{
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 99;
                    input:hover{
                        background: $white!important;
                    }
                }
            }
        }
    }
 }
 .style-2{  
    .widget_mc4wp_widget{
        .description{
            .content{
                display: none;
            }
            .content-long{
                display: block!important;
                visibility: visible!important;
                line-height: 24px;
                padding-bottom: 20px;
            }
        }
        .content-form{
            input#mc4wp_email{
                border: none;
                background: #3B3248;
                height: 40px;
                @include border-radius(3px);
            }
            .button-submit{
                margin-top: 10px;
                input{
                    width: 100%;
                }
            }
        }
    }
 }

 .style-4{  
    .widget_mc4wp_widget{
        .description{
            .content{
                display: none;
            }
            .content-long{
                display: block!important;
                visibility: visible!important;
                line-height: 24px;
                padding-bottom: 20px;
            }
        }
        .content-form{
            position: relative;
            input#mc4wp_email{
                border: none;
                background: #2A2A36;
                height: 40px;
            }
            .button-submit{
                @include size(auto, 40px);
                background: $theme-color;
                position: absolute;
                right: 0;
                top: 0;
                z-index: 1;
                &:after{
                    content: "\f105";
                    position: absolute;
                    font-family: "FontAwesome";
                    left: 50%;
                    margin-left: -3px;
                    top: 8px;
                    z-index: 9;
                    color: $white;
                    font-size: 16px;
                }
                input{
                    @include size(100%, 100%);
                    position: relative;
                    text-indent: -999px;
                    border-radius: 0!important;
                    &:hover{
                        background: none;
                    }
                }
            }
        }
    }
 }

.newsletter-coming-soon{
    .widget_title{
        color: $white;
        text-transform: none;
        font-size: 24px;
        font-weight: 300;
        &:after, &:before{
            content: none;
        }
    }
    .description{
        display: none;
    }
    .content-form{
        position: relative;
        height: 55px;
        background: $white;
        @include border-radius(4px);
        overflow: hidden;
        margin: 0 15%;
        @media(max-width: $screen-sm-max){
            padding: 0 10px;
            margin: 0;
        }
        input.form-control{
            border: none;
            height: 55px;
        }
        .button-submit{
             position: absolute;
            right: 0;
            top: 0;
            z-index: 99;
            margin: 5px;
        }
    }
}


.vc_progress_bar{
    .vc_single_bar{
        background: none!important;
        position: relative;
        padding-bottom: 5px;
        @include box-shadow(none!important); 
        margin-bottom: 18px!important;
        overflow: hidden;
        &:after{
            content: "";
            height: 5px;
            left: 0;
            bottom: 0; 
            background: #DCDCDA;
            width: 100%;
            position: absolute;
            z-index: 1;
        }  
        .vc_label{
            padding: 0!important;
            color: $black;
            font-size: 12px;
            font-weight: 800;
            text-transform: uppercase;
            .vc_label_units{
                font-size: 14px;
                font-weight: 800;
                color: $theme-color;
                @include rtl-float-right();
            }
        }  
        .vc_bar{
            background: none!important;
            &:after{
                content: "";
                height: 5px;
                left: 0;
                bottom: 0;
                background: $theme-color;
                position: absolute;
                width: 100%;
                z-index: 99;
            }
        }
    }
    &.light-style{
        .vc_label{
            color: $white;
        }
    }
    &.style-v2{
        .vc_single_bar{
            margin-bottom: 30px!important;
            .vc_label{
                font-size: 14px;
                font-weight: 800;
                min-height: 30px;
                .vc_label_units{
                    font-size: 14px;
                    font-weight: 700;
                    color: $black;
                    float: right;
                    margin: 0;
                }
            }
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
 }

 $border-tabs: $border-color !default;
 .vc_toggle{
    border: 1px solid  $border-tabs;
    .vc_toggle_title{
        padding: 12px 45px 12px 30px;
        h4{
            font-size: 14px;
            text-transform: uppercase;
        }
    }
    .vc_toggle_icon{
        // background: url('#{$image-theme-path}toggle_open.png') no-repeat center center $nocolor!important;
        width: 10px!important;
        height: 10px!important;
        border: none!important;
        background: none !important;
        &:before {
            content: "";
            width: 2px !important;
            height: 100% !important;
            background: $theme-color !important;
            position: absolute;
            top: 0 !important;
            left: 50% !important;
            margin-left: -1px !important;
            visibility: visible !important;
            transform: translate(0,0) !important;
            border: none !important;
        }
        &:after {
            content: "";
            width: 100% !important;
            height: 2px !important;
            background: $theme-color !important;
            position: absolute;
            top: 50% !important;
            left: 0 !important;
            margin-top: -1px !important;
            visibility: visible !important;
            transform: translate(0,0) !important;
        }
    }
    &.vc_toggle_active .vc_toggle_icon{
        // background: url('#{$image-theme-path}toggle_close.png') no-repeat center center $nocolor!important;
        width: 10px!important;
        height: 10px!important;
        &:before{
            content: none;
        } 
    }
    .vc_toggle_icon{
        right: 30px;
        left: auto!important;
        color: $theme-color;
    }
    .vc_toggle_content{
        font-size: 16px;
        font-weight: 300;
    }
    &.vc_toggle_active{
        border-top: 2px solid $theme-color;
    }
    &.style-2{
        border: none!important;
        margin-bottom: 0;
        .vc_toggle_title{
            border-bottom: 1px solid $border-tabs;
            padding: 10px 0!important;
        }
        .vc_toggle_content{
            padding: 0!important;
            margin-bottom: 0!important;
        }
    }
 }

.wpb_tabs{
    .wpb_tabs_nav{
        width: 100%;
        margin-bottom: 25px!important;
        > li{
            margin: 0!important;
            a {
                border: 1px solid $border-tabs;
                border-left: none;
                padding: 1em 1.5em !important;
                font-size: 15px;
                position: relative;
            }
            &:first-child {
                a {
                    border-left: 1px solid $border-tabs;
                }
            }
            &.ui-tabs-active,
            &:hover {
                background-color: transparent !important;
                a {
                    &:after {
                        content: "";
                        height: 3px;
                        width: 100%;
                        background-color: $theme-color;
                        top: 0;
                        left: 0;
                        position: absolute;
                    }
                }
            }
        }
    }
    .wpb_tab{
        background: none!important;
        padding: 0!important;
    }
    &.style-1{
        .wpb_tabs_nav{
            > li{
                background: none!important;
                border-top: 1px solid  $border-tabs!important;
                border-left: 1px solid $border-tabs!important;
                border-bottom: 0!important;
                position: relative;
                &:last-child{
                    border-right: 1px solid  $border-tabs!important;
                }
                a{
                    padding: 10px 25px;
                    &:after{
                        @include size(100%, 3px);
                        background: $theme-color;
                        top: -1px;
                        left: 0;
                        position: absolute;
                        content: "";
                        @include opacity(0); 
                    }
                   &:hover, &:focus, &:active{
                        &:after{
                            @include opacity(1);
                        }
                    }
                }
                &:hover, &:focus, &:active, &.ui-tabs-active{
                    a:after{
                        @include opacity(1);
                    }
                }
            }
        }
    }
     &.style-2 {
        .wpb_tabs_nav{
            > li{
                background: none!important;
                border: none;
                position: relative;
                a{
                    padding: 10px 25px!important;
                    position: relative;
                    &:after{
                        @include size(100%, 3px);
                        background: $theme-color;
                        bottom: -1px;
                        left: 0;
                        position: absolute;
                        content: "";
                        @include opacity(0); 
                    }
                   &:hover, &:focus, &:active{
                        &:after{
                            @include opacity(1);
                        }
                    }
                }
                &:hover, &:focus, &:active, &.ui-tabs-active{
                    a:after{
                        @include opacity(1);
                    }
                }
            }
        }
    }
    &.style-3{
        .wpb_tabs_nav li{
            white-space: normal;
            padding: 60px 60px;
            border-left: 1px solid #DDD;
            text-align: center;
            background: none!important;
            @media(max-width: $screen-md-max){
                padding: 30px 10px;
            }
            @media(max-width: $screen-sm-max){
                width: 50%!important;
            }
            &:hover{
                cursor: pointer;
            }
            a{
                position: relative;
                margin-bottom: 15px;
                i{
                    display: block; 
                    width: 100%;
                    text-align: center;
                    font-size: 48px;
                    margin-bottom: 15px;
                }
                &:after{
                    content: "";
                    @include size(30px, 2px);
                    background: $theme-color;
                    bottom: 0;
                    left: 50%;
                    margin-left: -15px;
                    position: absolute;
                    z-index: 1;

                }
            }
            &:first-child{
                border: none;
            }
            &.ui-state-active, &:hover, &:active, &:focus{
                position: relative;
                border-bottom: none!important;
                &:after{
                    content: "";
                    position: absolute;
                    width: 100%;
                    bottom: -1px;
                    left: 0;
                    display: block!important;
                    border-bottom: 2px solid $theme-color;
                }
            }
        }
        .wpb_tab{
            margin: 60px 0 30px;
        }
    }
    &.style-4{
        .wpb_wrapper{
            text-align: center;
            ul.nav-tabs {
                display: inline-block;
                width: auto;
                > li{
                    a{
                        padding: 0.5em 1.5em;
                    }
                    &.ui-state-active{
                        background: none!important;
                    }
                    &:hover, &:focus, &:active{
                        background: none!important;
                    }
                }
            }
        }
    }
    &.tabs-border{
        .wpb_tabs_nav{
            margin: 0!important;
        }
        .ui-tabs-panel{
            padding: 20px!important;
            border: 1px solid $border-tabs;
        }
    }
}

.wpb_tour{
    overflow: hidden;
    .wpb_tabs_nav{
        border-bottom: 0;
        position: relative;
        &:after{
            content: "";
            @include size(1px, 1000px);
            background: $border-tabs;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;
        }
        > li{
            background: none!important;
            border-top: 1px solid $border-tabs;
            border-left: 1px solid $border-tabs;
            border-bottom: 0;
            padding: 0;
            margin: 0!important;
            &:last-child{
                border-bottom: 1px solid $border-tabs!important;;
            }
            a{
                text-align: center;
                position: relative;
                padding: 15px 10px!important;
                font-size: 15px;
                &:after{
                    @include size(3px, 100%);
                    background: $theme-color;
                    top: 0;
                    left: -1px;
                    position: absolute;
                    content: "";
                    @include opacity(0); 
                }
            }
            &:hover, &:focus, &:active, &.ui-tabs-active{
                border-bottom: 0;
                border-top: 1px solid $border-tabs;
                a:after{
                    @include opacity(1); 
                }
            }
        }
    }
    &.tabs-border{
        .wpb_tabs_nav{
            margin: 0!important;
        }
        .ui-tabs-panel{
            padding: 20px!important;
            border: 1px solid $border-tabs;
        }
        .panel_wapper{
            border: 1px solid $border-tabs;
            border-left: 0;
            padding: 20px;
            width: 68.33333333%;
            float: left;
            .ui-tabs-panel{
                width: 100%!important;
            }
            .wpb_tour_next_prev_nav {
                margin: 0 30px!important;
                padding: 0;
            }
        }
        .wpb_tour_next_prev_nav {
            border: 1px solid $border-tabs;
            border-left: 0;
            padding: 20px;
            font-size: 100%;
            span {
                padding-top: 0;
            }
        }
    }
}

.wpb_flickr_widget{
    .flickr_badge_image{
        margin: 0 10px 10px 0 !important;
        width: 57px!important;
        height: 57px !important;
        overflow: hidden;
        float: left;
        img{
            transition: all 0.35s;
        }
        a{
            &:hover{
                img{
                    @include scale(1.2);
                }
            }
        }
    }
    .flickr_stream_wrap {
        display: none;
    }
}

.vc_icon_element{
    margin-bottom: 10px!important;
}

.vc_pie_chart{
    .vc_pie_chart_value{
        font-size: 24px;
        text-transform: uppercase;
        font-weight: 800;
        color: $theme-color;
        border-width: 3px;
    }
    .wpb_pie_chart_heading{
        text-transform: uppercase;
    }
    &[data-pie-color="btn-success"] .vc_pie_chart_back{
        border-color: #dbdbdb!important;
        border-width: 3px;
    }
}

.widget-brand-logo{
    &.border-style
    .owl-item{
        border-right: 1px solid #E4E4E4;
        &:last-child{
            border: none;
        }
    }    
}

.wpo-banner{
    position: relative;
    @media(max-width: $screen-xs-max){
        margin-bottom: 20px;
    }

    &.light-hide-effect{
        &:before{
            @include transition(all .2s linear);
            background:#000000;
            opacity: 0.4;
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;right:0;
            display:block;
        }
        &:hover:before{
            opacity: 0.2
        }
        color:#FFFFFF;
        small, h3 { color:#FFFFFF }
        .banner-body{
           
        }
    }
 
    &.content_position_right{
        .banner-body{
            right: 60px;
            width: auto;
        }

        .heading {
            text-align:left;
            > small{
                padding: 0;
                text-align:left;
            }
        }
    }
    &.content_position_left{
        .banner-body{
            left: 60px;
             width: auto;
             text-align:left;
        }
        .heading {
            text-align: left;
            > small{
                padding: 0;
                text-align:left;
            }
        }
    }

    h3{
        font-size: 50px;
    }
    .banner-body{
        position:absolute;
        top:50%;
        width: 100%;
        margin: -55px 0 0;
    }
}

.wpo-portfolio{
    &.hidden-filter{
        #filters{
            display: none;
        }
    }
    &.style-special{
        #filters{
            position: absolute;
            @include rtl-right(100px);
            top: -200px;
            @media(max-width: $screen-sm-max){
                right: 30px;
            }
            ul {
                border-color: rgba(255, 255, 255, 0.1);
                > li a{
                    color: $white;
                }
            }    
        }
    }
}

.wpo-coming-soon{
    .coming-soon-time{
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        padding: 60px 0;
        .pts-countdown{
            display: inline-block;
            .countdown-times{
                margin-top: 0;
                > div{
                    background: url(#{$image-theme-path}bg-time.png) no-repeat $nocolor;
                    @include border-radius(50%);
                    @include size(200px, 200px);
                    text-align: center;
                    padding-top: 50px;
                    float: left;
                    color: $white;
                    margin: 0 20px;
                    font-size: 12px;
                    font-weight: 800;
                    font-family: $font-family-second;
                    text-transform: none!important;
                    @media(max-width: $screen-sm-max){
                        @include size(100px, 100px);
                        background-size: contain;
                        padding-top: 15px;
                        b{
                            font-size: 24px!important;
                        }
                    }
                     @media(max-width: $screen-xs-max){
                        @include size(80px, 80px);
                        background-size: contain;
                        padding-top: 10px;
                        font-size: 8px;
                        b{
                            font-size: 18px!important;
                            margin-bottom: 0;
                            padding-bottom: 0;
                        }
                    }
                    b{ 
                        font-size: 48px;
                        display: block;
                        margin-bottom: 10px;
                        padding-bottom: 15px;
                        line-height: 1;
                        position: relative;
                        font-weight: 800;
                        &:after{
                            content: "";
                            @include size(30px, 2px);
                            background: $white;
                            left: 50%;
                            bottom: 0;
                            margin-left: -15px;
                            position: absolute;
                            z-index: 1;
                        }
                    }
                    &:first-child{
                        margin-left: 0;
                    }
                }
            }   
        }
    }
    &.countdown-v2{
        border-top: 2px solid #DFDEDC;
        border-bottom: 2px solid #DFDEDC;
        .pts-countdown{
            display: inline-block;
            .countdown-times{
                margin-top: 0;
                > div{
                    background: url(#{$image-theme-path}bg-time-2.png) no-repeat $nocolor;
                    @include border-radius(50%);
                    @include size(200px, 200px);
                    @media(max-width: $screen-sm-max){
                        @include size(100px, 100px);
                        background-size: contain;
                        padding-top: 15px;
                        b{
                            font-size: 24px!important;
                        }
                    }
                     @media(max-width: $screen-xs-max){
                        @include size(80px, 80px);
                        background-size: contain;
                        padding-top: 10px;
                        font-size: 8px;
                        b{
                            font-size: 18px!important;
                            margin-bottom: 10px;
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }            
    }
}

.wpo-event-of-date{
    .date-heading{
        background: #332C3E;
        color: $white;
        font-size: 24px;
        font-weight: 800;
        text-align: center;
        padding: 15px 0;
    }
    .events-timeline{
        position: relative;
        overflow: hidden;
        &:before{
            background: #F9F9F9 none repeat scroll 0 0;
            bottom: 0;
            content: "";
            height: 9999px;
            left: 16.6667%;
            margin-left: -1px;
            position: absolute;
            top: 30px;
            width: 2px;
        }
    }
    .tribe-events-item{
        margin-top: 30px;
        .event-content{
            padding-left: 25px;
            .content-inner{
                background: #F9F9F9;
                padding: 25px 30px;
                .event-title{
                    h2{
                        margin: 0;
                        position: relative;
                        padding-bottom: 15px;
                        &:after{
                            content: "";
                            @include size(30px, 2px);
                            background: $theme-color;
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            z-index: 1; 
                        }
                    }
                    a{
                        text-transform: uppercase;
                        font-size: 20px;
                        &:hover{
                            color: $theme-color;
                        }
                    }
                }
            }    
        }
        .event-date{
            float: right;
            background: $theme-color;
            padding: 3px 10px;
            position: relative;
            font-size: 12px;
            font-weight: 800;
            text-transform: uppercase;
            color: $white;
            margin-bottom: 10px;
            position: relative;
            &:after{
                content: "";
                position: absolute;
                border: 4px solid $nocolor;
                border-left-color: $theme-color;
                left: 100%;
                top: 50%;
                z-index: 1;
                margin-top: -4px;
            }
            &:before{
                content: "";
                position: absolute;
                @include size(14px, 14px);
                border: 2px solid #DEDDE5;
                @include border-radius(50%);
                top: 50%;
                z-index: 1;
                margin-top: -7px;
                right: -32px;
                background: $theme-color;
            }
        }
        .event_room{
            font-size: 12px;
            color: #aaaaaa;
            font-weight: 800;
            text-transform: uppercase;
            margin-bottom: 2px;
        }
        .speaker{
            float: right;
            .item{
                @include size(30px, auto);
                float: left;
                margin-right: 10px;
                &:last-child{
                    margin-right: 0;
                }
                img{
                    width: 100%;height: auto;
                }
            }
        }
    }
}

.frontpage-6 {
    background-color: $dark-area-color;
    padding: $block-module-margin-bottom;
    .widget-title {
        text-align: left;
        font-size: 13px;
        font-weight: 700;
        font-family: $font-family-sans-serif;
        padding: 0;
        letter-spacing: 1px;
        margin-left: -50px;
        border-top: none;
        margin-bottom: 20px;
        span {
            background-color: $brand-danger;
            color: $white;
            display: inline-block;
            padding: 8px 15px;
            &:after {
                display: none;
            }
        }
    }
    .posts-grid {
        .posts-grid {
            .post {
                border-bottom: 1px solid rgba(255,255,255,.1);
                margin-bottom: 15px;
                padding-bottom: 15px;
                .entry-thumb {
                    display: none;
                }
                .entry-content {
                    background: transparent;
                    font-size: 14px;
                    position: relative;
                    padding: 0;
                    .entry-meta-2 {
                        margin-bottom: 5px;
                    }
                    .entry-title {
                        margin-bottom: 0;
                        font-size: 14px;
                        a {
                            color: $white;
                            &:hover {
                                color: $theme-color;
                            }
                        }
                    }
                    .entry-description {
                        display: none;
                    }
                }
            }
            &:last-child {
                .post {
                    border-bottom: none;
                    margin-bottom: 0;
                    padding-bottom: 0;
                }
            }
        }                
    }    
}


/* Style widget for only Widget Area 5 */
.widget-area-5 {
    .widget {
        border: 1px solid $border-color;
        .widget-title {
            border-top: none;
            border-bottom: 1px solid $border-color;
            padding: 0 30px;
            font-size: 13px;
            color: $theme-color;
            letter-spacing: 1px;
            overflow: visible;
            span {
                padding: 15px 0;
                display: inline-block;
                &:before {
                    content: "";
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    left: 0;
                    top: -1px;
                    background-color: $theme-color;
                }
            }
        }
        .widgettitle {
            border-top: none;
            border-bottom: 1px solid $border-color;
            padding: 15px 30px;
            font-size: 13px;
            color: $theme-color;
            letter-spacing: 1px;
            overflow: visible;
        }
        > ul {
            padding: 0 30px;
            > li {
                margin-bottom: 15px;
                padding-bottom: 15px;
                &:last-child {
                    border-bottom: none !important;
                    padding-bottom: 15px;
                    margin-bottom: 10px;
                }
            }
        }
        .widget-content {
            padding: 0 30px;
            .posts-list {
                padding: 0;
                background-color: transparent;
                article {
                    border-bottom: 1px solid $border-color;
                    padding-bottom: 20px;
                    margin-bottom: 20px;
                    .media {
                        padding: 0;
                        .media-left {
                            padding-right: 10px;
                            img {
                                padding: 0;
                                border: none;
                                width: 60px;
                            }
                        }
                        .media-body {
                            h4 {
                                font-size: 12px;
                                margin-bottom: 7px !important;
                                font-family: $font-family-serif;
                                font-weight: 400;
                                margin-top: -4px !important;
                                a {
                                    &:hover {
                                        color: $theme-color;
                                    }
                                }
                            }
                            .entry-date {
                                margin-bottom: 0;
                            }
                        }
                    }
                    &:last-child {
                        border-bottom: none;
                        margin-bottom: 10px;
                    }
                }
            }            
        }
        &.widget_sp_image {
            border: 15px solid $navbar-default-bg;
        }
        &.widget_tag_cloud {
            .tagcloud {
                padding: 0 15px 10px;
            }
            a {
                padding: 0;
                background: none;
                color: $text-color;
                line-height: 1;
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }
}



/* Style widget for only Light Area */
.light-area {
    .widget {
        .widget-title {
            border-top: none;
            padding-top: 0;
        }
    }
}


.wpo-footer.footer-v1 .row > div.twitter-block-left {
    position: relative;
}

.wpo-footer.footer-v1 .row.twitter-row > div {
    &:before {
        content: none;
    }
}
.wpo-wrapper {
    overflow-x: hidden;
}


/* Widget title styles*/
.widget {
    &.widget-title-s1 {
        .widget-title {
            border-top: 3px solid $link-color;
        }        
    }
    &.widget-title-s3 {
        .widget-title,
        .widgettitle,
        .widget_title {
            border-top: none;
            padding-top: 0;
            font-size: 24px;
            font-family: $font-family-second;
            margin-bottom: 45px;
        }
    }
}


.wpo-footer.footer-v2 .row > div.flickr-content {
    &:after {
        content: "";
        width: 500%;
        left: 100%;
        top: 0;
        height: 100%;
        background-color: $color-8;
        position: absolute;
    }
    &:before {
        @include before-left(5px,5px,5px,#2d3a47,50%);
        margin-top: -3px;
        height: 0;
        background-color: transparent;
    }
} 


/* Style widget for only Sidebar */
.sidebar {
    .widget {
        margin-bottom: 40px;
        .widget-title,
        .widgettitle,
        .widget_title {
            padding-top: 25px;
            font-size: 14px;
            margin-bottom: 20px;
            margin-left: -30px;
            padding-left: 30px;
            font-family: $font-family-second;
        }
        .posts-list {
            padding: 0;
            background-color: transparent;
            article {
                border-bottom: none;
                padding-bottom: 0;
                margin-bottom: 10px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

/* Style widget for only Col-a */
.col-a {
    position: relative;
    &:after {
        content: "";
        width: 1px;
        height: 56px;
        position: absolute;
        right: -1px;
        top: 0;
        background-color: $white;
    }
}

.wpb_revslider_element.wpb_content_element:hover .tp-rightarrow {
  transform: matrix(1, 0, 0, 1, -50, -20) !important;
  -ms-transform: matrix(1, 0, 0, 1, -50, -20) !important;
  -webkit-transform: matrix(1, 0, 0, 1, -50, -20) !important;
}