/* block */
.#{$block-selector} {
    margin-bottom: $block-module-margin-bottom;
    border: 0px solid $block-module-border-color;
    position: relative;
    padding: $block-module-padding;
    .#{$block-heading-selector}{
        color: $block-module-heading-color;
        font-weight: $block-module-heading-font-weight;
        margin: $block-module-heading-margin;
        text-transform: $block-module-heading-transform;
        @include font-size(font-size, $block-module-heading-font-size);
        font-family: $font-family-sans-serif;
        position: relative;
        overflow: hidden;
        letter-spacing: 2px;
        border-top: 1px solid $border-color;
        padding-top: 12px;
        > span{
            position: relative;
            > span{ 
                display: inline-block;
                position: relative;
                padding: 5px 15px;
                &:after, &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    height: 100%;
                    width: 1px;
                    background: $theme-color;
                    @include rotate(-45deg);
                }
                &:after{
                    left: 100%;
                }
                &:before{
                    right: 100%;
                }
            }
        }

        &.widget-desc{
             display: block;
             font-size:$widget-desc-font-size;
             color: $widget-desc-text-color  
        }
        
        // Widget Title V2
        &.widget-title-v2 {
            border-top: none;
            padding-top: 0;
        }
        &.widget-title-v3 {
            border-top: none;
            padding-top: 0px;
            overflow: visible;
            margin-bottom: 15px;
            font-size: 13px;
            span {
                padding: 15px 0 5px;
                display: inline-block;
                position: relative;
                color: $theme-color;
                &:before {
                    content: "";
                    width: 100%;
                    height: 3px;
                    position: absolute;
                    left: 0;
                    top: -3px;
                    background-color: $theme-color;
                }
            }
        }
        &.widget-title-v4 {
            border-top: none;
            font-family: $font-family-second;
            font-size: 24px;
            padding: 0 0 18px;
            border-bottom: none;
        }
        &.widget-title-v5 {
            padding-top: 25px;
            font-size: 14px;
            margin-bottom: 20px;
            margin-left: -30px;
            padding-left: 30px;
            font-family: $font-family-second;
        }
        &.widget-title-v6 {
            font-family: $font-family-second;
            font-size: 24px;
            border-top: none;
            padding: 0;
            margin-bottom: 40px;
        }
        &.widget-title-v7 {
            font-family: $font-family-second;
            font-size: 24px;
            border-top: none;
            border-bottom: 1px solid $border-color;
            padding: 0 0 15px;
            margin-bottom: 30px;
        }
        &.widget-title-v8 {
            font-family: $font-family-second;
            font-size: 24px;
            border-top: none;
            border-bottom: 1px solid rgba($white,.2);
            padding: 0 0 15px;
            margin-bottom: 30px;
            color: $white;
        }
        // Align center
        &.separator_align_center{
            text-align: center;
            &:after{
                left: 50%;
                margin-left: -50px;
            }
        }
        // Align right
        &.separator_align_right{
            @include rtl-text-align-right();
            &:after{
                left: auto;
                right: 0;
                margin: 0;
            }
        } 
        // Align left
        &.separator_align_left{
            @include rtl-text-align-left();
            &:after{
                left: 0;
                margin: 0;
            }
        }
        
    }
    .#{$block-content-selector} {
        @include border-radius ($block-module-content-radius);
        @include clearfix();
    }
    .#{$block-heading-reversed-selector}{
        @include rtl-margin-right(75px);
    }


    /* block styles */
    &.nopadding{
        .#{$block-content-selector}{
            padding:0;
            margin: 0;
        }
    }
    &.heading-full{
        .#{$block-heading-selector}{
            position: relative;
            &:before{
                content: "";
                width: 100%;
                height: 2px;
                background: #ECECEC;
                left: 0;
                bottom: 0;
                position: absolute;
                z-index: 9;
            }
            &:after{
                height: 2px;
            }
            span:after{
                bottom: 2px;
            }
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}
.heading-small {
     .#{$block-heading-selector}{
        font-size: 20px;
        font-weight: 500;
        color: $black;
        text-transform: none;
        text-align: left;
        margin-bottom: 20px;
        &:after{
            margin: 0;
            left: 0;
            width: 30px;
            background: $black;
            height: 2px;
        }
     }
}

.rtl {
    .separator_align_right{
        text-align: left!important;
         &:after, h2:before, h3:before, h4:before{
            left: 0!important;
            right: auto!important;
            margin: 0!important;
        }
    }
    .separator_align_left{
        text-align: right!important;
         &:after, h2:before, h3:before, h4:before{
            left: auto!important;
            right: 0!important;
            margin: 0!important;
        }
    }
} 
 


// Contextual variations
.#{$block-prefix}-theme {
  @include block-variant($panel-default-border, $white, $theme-color, $panel-default-border);
}
.#{$block-prefix}-default {
  @include block-variant($panel-default-border, $panel-default-text, $panel-default-heading-bg, $panel-default-border);
}
.#{$block-prefix}-primary {
  @include block-variant($panel-primary-border, $panel-primary-text, $panel-primary-heading-bg, $panel-primary-border);
}
.#{$block-prefix}-success {
  @include block-variant($panel-success-border, $panel-success-text, $panel-success-heading-bg, $panel-success-border);
}
.#{$block-prefix}-info {
  @include block-variant($panel-info-border, $panel-info-text, $panel-info-heading-bg, $panel-info-border);
}
.#{$block-prefix}-warning {
  @include block-variant($panel-warning-border, $panel-warning-text, $panel-warning-heading-bg, $panel-warning-border);
}
.#{$block-prefix}-danger {
  @include block-variant($panel-danger-border, $panel-danger-text, $panel-danger-heading-bg, $panel-danger-border);
}

.#{$block-prefix}-highlighted {
    margin: $block-sidebar-hightlight-margin;
    .#{$block-heading-selector}{
        margin: $block-sidebar-heading-hightlight-margin;
        color: $block-sidebar-heading-hightlight-color;
        padding: $block-sidebar-heading-hightlight-padding;
        @include rtl-padding-right(0);
        background: $block-sidebar-heading-hightlight-bg;
        font-weight: $block-sidebar-heading-hightlight-font-weight;
        font-size: $block-sidebar-heading-hightlight-font-size;
        font-family: $font-family-second;
        border: none!important;
        text-transform: uppercase;
        position: relative;
        padding: 0 15px; 
        &:after{
            content: "";
            position: absolute;
            top: 50%;
            height: 1px;
            width: 1000px;
            background: $border-color;
        }
    } 
    .#{$block-content-selector} {
        padding: $block-sidebar-hightlight-content-padding;
        background: $block-sidebar-hightlight-content-bg;
        > div {
            background: $block-sidebar-hightlight-content-bg;
            > ul > li{
                border: none;
                > a{
                    padding: $block-sidebar-list-hightlight-padding;
                    border-top: $block-sidebar-hightlight-border;
                    color: $block-sidebar-hightlight-content-color;
                    margin: 0;
                    &:hover{
                       border-top: $block-sidebar-hightlight-border; 
                    }
                }
                &:first-child a{
                    border-top: none;
                }
            }
        }
    }      
}

/* block inline style */
.#{$block-prefix}-inline{
    .icon{
        @include font-size(font-size, 35px);
    }
    .explain{
        @include font-size(font-size, 11px);
    }
    .#{$block-content-selector}{
        color: $white;
        position: relative;
        text-transform: $block-module-heading-transform;
        font-weight: $headings-font-weight;
        @include font-size(font-size,$block-module-heading-font-size);
    }
    .input-group{
        width: 98%
    }
}

// Sidebar
.#{$app-prefix}-sidebar {
    .#{$block-selector} {
        border: $block-sidebar-module-border;
        padding: $block-sidebar-box-padding;
        margin: $block-sidebar-box-margin;
        background: $block-sidebar-box-background;
        .#{$block-heading-selector}{
            padding: $block-sidebar-heading-padding;
            margin: $block-sidebar-heading-margin;
            font-size: $block-sidebar-heading-font-size;
            color: $block-sidebar-heading-color;
            line-height: $block-sidebar-heading-line-height;
            font-weight: $block-sidebar-heading-font-weight;
            font-family: $font-family-sans-serif;
            border-top: none;
            border-bottom: 1px solid $border-color;
            overflow: visible;
            span {
                position: relative;
                &:before {
                    content: "";
                    background-color: $theme-color;
                    height: 3px;
                    width: 100%;
                    left: 0;
                    top: -18px;
                    position: absolute;
                }
            }
        
        }
        &.widget_wpo_tabs_widget {
            border: none;
            padding: 0;
            .tab-content {
                border: 1px solid $border-color;
                padding: 25px 30px;
            }
        }
    }
}
 
/* block style in footer */
.#{$app-prefix}-footer{
    .#{$block-selector} {
        border:none;
        padding: 0;
        background: $nocolor;
        margin: $footer-column-margin;
        .#{$block-heading-selector}{
            color: $footer-heading-color;
            text-transform: $footer-heading-transform;
            margin: $footer-heading-margin;
            font-weight: 700;
            padding: $footer-heading-padding;
            @include font-size(font-size, $footer-heading-font-size);
            @include rtl-text-align-left();
            border: none;
            position: relative;   
            &:after{
                display: none
            }
            span{
                padding: 0;
            }
            span:before, span:after{
                content: none;
            }
        }
        .#{$block-content-selector}{
            border:none;
            padding: 0
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.wpo-topbar, .header-bottom{
    .widget{
        margin: 0;
    }
}