/* widget styles */

/*------------------------------------*\
	 Widget
\*------------------------------------*/
.widget{
	 label{  
		  font-weight: $font-weight-base;
	 }
	 // widget image
	 .widget_sp_image-image-link{
		  display: block;
		  overflow: hidden;
		  position: relative;
		  img{
				@include img-responsive();
				@include transition(all 0.35s);
				@extend .filter-grayscale;
		  }
	 }
	 // widget text
	 &.widget_text{
		  img{
				margin: $theme-margin / 2 0;
				height: auto;
		  }
	 }
	 // widget post
	 .post-widget{
	    .image{
			@include size(70px, auto);
			margin: 0;
			padding-right: 10px;
			img{
				 @include size(100%, auto);
			}
	    }
	    .media-body {
	    	.entry-title {
	    		padding-top: 0;
	    		margin-top: -3px;
	    		font-size: 12px;
	    		font-weight: 400;
	    		margin-bottom: 10px;
	    		line-height: 18px;
	    	}
	    }
	 }
	 // widget archive
	 &.widget_archive{
		  @include lists-style();
		  > ul > li{
				border-bottom: 1px solid $border-color;
				padding-bottom: 5px;
				margin-bottom: 5px;
				width: 100%;
				clear: both;
				text-align: right;
				overflow: hidden;
				a{
					 text-align: left;
					 font-weight: 400;
					 color: 777777;
					 display: inline-block;
					 float: left;
					 position: relative;
					 padding-left: 25px;
					 &:after{
						  content: "\f07c";
						  font-family: "FontAwesome";
						  position: absolute;
						  top: 2px;
						  left: 0;
						  color: #777777;
					 }
					 &:hover{
						  color: $theme-color;
					 }
				}
				&:last-child{
					 border-bottom: 2px solid $border-color!important;
					 padding-bottom: 5px;
				}
		  }
	 }
	 // widget categories
	 &.widget_categories{
		  ul{
				padding: 0;
				list-style: none;
				> li {
					 margin-bottom: 10px;
					 overflow: hidden;
					 border-bottom: 1px solid $border-color;
					 padding-bottom: 5px;
					 margin-bottom: 5px;
					 width: 100%;
					 a{
						  text-align: left;
						  font-weight: 400;
						  color: 777777;
						  display: inline-block;
						  float: left;
						  position: relative;
						  padding-left: 25px;
						  &:after{
								content: "\f07c";
								font-family: "FontAwesome";
								position: absolute;
								top: 2px;
								left: 0;
								color: #777777;
						  }
						  &:hover{
								color: $theme-color;
						  }
					 }
					 .count{
						  float: right;
						  padding: 0 5px;
						  background-color: #F4F4F4;
						  position: relative;
						  z-index: 9;
						  font-weight: 300;
						  font-size: 14px;
						  color: #d1d1d1;
					 }
					 ul {
					 	padding-left: 30px;
					 	li:first-child{
					 		padding-top: 10px;
					 	}
					 	li:last-child{
					 		border: none;
					 	}
					 }
				}
		  }
	 }
	 // widget page
	 &.widget_pages{
		  @include lists-style();
	 }
	 // widget meta
	 &.widget_meta{
		  @include lists-style();
	 }
	 // widget nav menu
	 &.widget_nav_menu{
		  @include lists-style();
	 }
	 &.widget_rss{
		  @include lists-style();
		  ul li{
				background: none;
				a{
					 padding: 0;
				}
		  }
	 }
	 // widget recent entries
	 &.widget_recent_entries{
		  @include lists-style();
		  ul li{
				background: none;
		  }
	 }
	 // widget recent comments
	 &.widget_recent_comments{
		  @include lists-style();
		  ul li{
				background: $navbar-default-bg;
				padding: 15px 20px;
				margin-top: 20px;
				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					padding-bottom: 15px;
				}
				a:hover {
					color: $theme-color;
				}
		  }
	 }
	 // widget rss
	 &.widget_rss{
		  @include lists-style();
		  ul li{
				background: none;
				a{
					 padding: 0;
				}
				&:before{
					 display: none;
				}
		  }
	 }
	 &.widget_tag_cloud{
		  .tagcloud{
				> a{
					 display: inline-block;
					 color: $text-color-bb;
					 line-height: 1;
					 font-size: 12px;
					 font-style: italic;
					 &:hover {
					 	color: $theme-color;
					 }
				}
		  }
	 }
	 // widget featured video
	 &.widget_wpo_featured_video_widget{
		  .widget-video-name{
				line-height: $widget-video-name-line-height;
		  }
	 }
	 &.widget_wpo_tabs_widget{
		  .nav-tabs{
				li{
					 margin-bottom: 0px;
				}
		  }
	 }
	 &.widget_wpo_recent_comment{
		  article{
				margin-bottom: 15px;
		  }
		  .avatar-comment-widget{
				 @include rtl-margin-right(10px);
				@include rtl-float-left();
		  }
		  .content-comment-widget{
				font-size: 14px;
		  }
	 }
	 &.widget_recent_entries{
		  ul > li{
				border-bottom: 1px solid rgba(0, 0, 0, 0.1);
				padding-bottom: 20px;
				margin-bottom: 20px;
				&:last-child{
					border-bottom: 1px solid rgba(0, 0, 0, 0.1);
					padding-bottom: 20px;
				}
				a{
					 &:hover{
						  color: $theme-color;
					 }
				}
				.post-date{
					 font-weight: 400!important;
					 font-size: 10px;
					 text-transform: uppercase;
				}
				a{
					 font-weight: 400!important;
					 display: block;
				}
		  }
	}
	&.widget_pages {
		ul {
			li {
				border-bottom: 1px solid $border-color;
				padding: 10px 0;
				ul.children {
					@include rtl-padding-left(15px);
					li {
						&:first-child {
							padding-top: 10px;
						}
					}
				}
			}
		}
	}
	&.widget_calendar {
		table {
			margin-bottom: 0;
			caption {
				padding-top: 0;
			}
		}
		table > thead > tr > th, .table > thead > tr > th {
			border-bottom-width: 1px;
		}
		table > thead > tr > th, table > thead > tr > td, 
		table > tbody > tr > th, table > tbody > tr > td, 
		table > tfoot > tr > th, table > tfoot > tr > td {
			padding: 5px;
		}
	}

	&.wpo-video-box {
		.entry-thumb {
			margin-bottom: 0;
		}
		.wpo-video-content {
			background-color: $dark-area-color;
			padding: 25px 30px 30px;
			.entry-title {
				padding: 0;
				color: $white;
				margin-bottom: 10px;
				font-size: 18px;
			}
		}
	}
	&.wpo-testimonial {
		.wpo-testimonial-bg {
			position: absolute;
			@include rtl-right(0);
			bottom: 0;
			width: 217px;
			height: 217px;
			z-index: 2;
		}
		.widget-content {
			position: relative;
			z-index: 1;
			background-color: $white;
			padding: 25px 15px 125px;
			margin: 0;
			.item {
				position: relative;
				z-index: 3;
				.testimonials-body {
					position: relative;
					z-index: 3;
					p {
						font-size: 24px;
						font-style: italic;
						font-weight: 300;
						line-height: 38px;
					}
				}
				.testimonials-name {
					font-weight: 400;
					text-transform: uppercase;
					color: $theme-color;
					letter-spacing: 1px;
				}
			}
		}
	}

	 &.blog-type{
	 	img.avatar{
	 		width: 40px;
		}
		.author-avatar{
			bottom: -20px;
			right: 44%;
		}
	}
	// Widget Top Author
	&.top-author-widget {
		background-color: $navbar-default-bg;
		padding: 0 20px;
		text-align: center;
		.widget-title.widget-title-v3 span:before {
			top: 0;
		}
		.widget-content {
			.content-user {
				margin-bottom: 30px;
				padding-bottom: 20px;
				position: relative;
				&:after {
					content: "";
					background-color: $color-16;
					position: absolute;
					bottom: -1px;
					left: 50%;
					margin-left: -15px;
					height: 3px;
					width: 30px;
				}
				.avatar-user {
					margin-bottom: 20px;
					img {
						width: 100px;
						border-radius: 50%;
					}
				}
				.info-user {
					.name-user {
						font-size: 14px;
						margin-bottom: 5px;
						a:hover {
							color: $theme-color;
						}
					}
					.roles-user {
						font-size: 11px;
						font-style: italic;
						font-weight: 300;
						color: $entry-meta-color;
						.count-user {
							color: $theme-color;
						}
					}
				}
			}
		}
		&.style2 {
			background-color: $white;
			.widget-content .content-user .info-user .roles-user .count-user {
				color: $black;
			}
		}
	}

	// Widget Grid Posts
	&.wpo-grid-list {
		.header-gridpost {
			position: relative;
			overflow: hidden;
			border-top: 1px solid $border-color;
			margin-bottom: 25px;
			.title-widget {
				float: left;
				.widget-title {
					border-top: none;
					margin: 0;
				}
			}
			.button-gridlist {
				float: right;
				overflow: hidden;				
				span {
					display: block;
					float: left;
					line-height: 36px;
					margin-right: 10px;
					font-size: 12px;
				}
				.class-button {
					float: left;
					border-left: 1px solid $border-color;
					a {
						display: block;
						float: left;
						width: 35px;
						height: 35px;
						text-align: center;
						line-height: 35px;
						font-size: 14px;
						border-right: 1px solid $border-color;
						border-bottom: 1px solid $border-color;
						color: $border-color;
						&:hover {
							color: $theme-color;
						}
						&.active {
							color: $link-color;
						}
					}
				}
			}
		}
		.widget-content {
			.post-thumb {
				overflow: hidden;
			}
			.display-grid {
				overflow: hidden;
				margin: 0 -15px;
				.post {
					width: 50%;
					float: left;
					padding: 0 15px;
					.post-container {
						.row {
							> div {
								width: 100%;
								.post-thumb {
									margin-bottom: 15px;
								}
							}
						}
					}
				}				
			}
		}
		.button-loadmore {
			text-align: center;
			a {
				i {
					@include rtl-margin-right(10px);
					font-size: 14px;
					@include transition(.3s);
				}
				&:hover,
				&:active,
				&.active {
					color: $white;
					border-color: $theme-color;
					background-color: $theme-color;
					i {
						@include rotate(360deg);
					}
				}
			}
		}
		&.style2 {
			.header-gridpost {
				border-top: none;
				border-bottom: 1px solid $border-color;
				position: relative;
				@include rtl-margin-right(-30px);
				@include rtl-padding-right(30px);
				&:after {
					content:"";
					position: absolute;
					left: 100%;
					height: 1px;
					width: 30px;
					background-color: $border-color;
					bottom: 0;
				}
				.button-gridlist {
					.class-button {
						a {
							border-top: 1px solid $border-color;
						}
					}
				}
			}
			.blog-post-detail {
				background-color: $navbar-default-bg;
				position: relative;
				@include transition(.3s);
				.entry-detail {
					padding: 15px 20px 25px 20px;
					@include transition(.3s);
					background-color: $navbar-default-bg;
					position: relative;
				}
				.entry-content-footer {
					position: absolute;
					bottom: 0px;
					@include rtl-left(0);
					width: 100%;
					background-color: $color-8;
					padding: 10px 20px;
					font-size: 11px;
					@include opacity(0);
					@include transition(.3s);
					.author-avatar {
						display: table-cell;
						@include rtl-padding-right(8px);
						img {
							width: 30px;
							height: 30px;
							border-radius: 50%;
						}
					}
					.author-link {
						display: table-cell;
					}
					a {
						color: $white;
						&:hover {
							color: $theme-color;
						}
					}
					.comment-count {
						color: $white;
						line-height: 30px;
						i {
							@include rtl-padding-right(5px);
							display: table-cell;
							font-size: 13px;
						}
						a {
							font-style: italic;
							display: table-cell;
						}
					}
				}
				&:hover {
					padding-bottom: 30px;
					.entry-content-footer {
						@include opacity(1);
						display: block;
					}
					.entry-detail {
						margin-top: -30px;
					}
				}
				.entry-thumb {
					margin-bottom: 0;
					overflow: hidden;
				} 
				.entry-data{
					background: none!important;
					position: static!important;
					float: left;
					width: 100%;
					margin: 0 0 20px;
					.entry-meta {
						text-align: center;
						margin-top: -30px;
						.entry-date {
							color: $white;
							background-color: $link-color;
							font-style: normal;
							text-align: center;
							line-height: 18px;
							padding: 8px 0;
							margin: 0;
							&:after {
								display: none;
							}
							span {
								color: $white;
								&.date,
								&.month {
									font-size: 11px;
								}
							}
						}
						.post-icon {
							display:block;
							background-color: $theme-color;
							color: $white;
							font-size: 14px;
							padding: 10px 0;
						}
					}
				}
				.left{
					position: relative;
					padding: 0 15px 0 0 !important;
				}
				.right{
					padding: 0 0 0 5px !important;
					.entry-category {
						font-size: 10px;
						text-transform: uppercase;
						font-family: $font-family-second;
						a {
							color: $text-color-bb;
							&:hover {
								color: $theme-color;
							}
						}
					}
				}
				.entry-date{
					text-align: right;
					color: $white;
					position: relative;
					display: table;
					width: 100%;
					margin-bottom: 5px;
					span{
						display: block;
						padding: 0;
						&.date{
							font-size: 120%;
							font-weight: 700;
						}
						&.month{
							font-size: 12px;
							font-weight: 700;
							text-transform: uppercase;
						}
					}
				}
				.entry-title{
		    		margin: 0;
		    		padding: 5px 0 0;   		
		    		a{
		    			color: $black;
		    			line-height: 1.5;
		    			text-transform: none;
		    			font-size: 14px;
		    			font-weight: 400;
		    			&:hover{
		    				color: $theme-color;
		    			}
		    		}
		    	}
			}
			.display-list {
				.blog-post-detail {
					.left{
						width: 15%;
					}
					.right {
						width: 85%;
					}
				}
			}
		}
		.button-loadmore {
			a {
				display: block;
			}
		}
	}

	// FrontPage 8
	&.frontpage-8 {
		.header-gridpost {
			position: relative;
			overflow: hidden;
			border-bottom: 1px solid $border-color;
			margin-bottom: 25px;
			@include rtl-margin-right(-30px);
			@include rtl-padding-right(30px);
			.title-widget {
				float: left;
				.widget-title {
					border-top: none;
					margin: 0;
				}
			}
			.button-gridlist {
				float: right;
				overflow: hidden;				
				span {
					display: block;
					float: left;
					line-height: 36px;
					margin-right: 10px;
					font-size: 12px;
				}
				.class-button {
					float: left;
					border-left: 1px solid $border-color;
					a {
						display: block;
						float: left;
						width: 35px;
						height: 35px;
						text-align: center;
						line-height: 35px;
						font-size: 14px;
						border-right: 1px solid $border-color;
						border-bottom: 1px solid $border-color;
						border-top: 1px solid $border-color;
						color: $border-color;
						&:hover {
							color: $theme-color;
						}
						&.active {
							color: $link-color;
						}
					}
				}
			}
		}
		.widget-content {
			.display-list {
				.row {
					> div {
						width: 100%;
						.nice-style.v2 .left {
							width: 15%;
						}
						.nice-style.v2 .right {
							width: 85%;
						}
					}
				}
			}
		}
		.button-loadmore {
			text-align: center;
			a {
				i {
					@include rtl-margin-right(10px);
					font-size: 14px;
					@include transition(.3s);
				}
				&:hover {
					color: $white;
					border-color: $theme-color;
					background-color: $theme-color;
					i {
						@include rotate(360deg);
					}
				}
			}
		}
	}

	// Blog Grid SlideShow
	&.wpo-grid-posts.slide-show {
		overflow: hidden;
		.widget-content {
			.carousel-controls {
				position: absolute;
				@include rtl-right(35px);
				top: 54.7%;
				display: block !important;
				z-index: 10;
				overflow: hidden;
				.carousel-control {
					position: static;
					border-radius: 3px !important;
					color: $white;
					background-color: $dark-area-color;
					border: none;
					display: block !important;
					float: left;
					@include rtl-margin-left(1px);
					width: 38px;
					height: 38px;
					line-height: 38px;
					font-size: 14px;
					span {
						display: block;
						&:before {
							@extend %fa;
						}
					}
					&.left {
						span:before {
							content: "\f104";
						}
					}
					&.right {
						span:before {
							content: "\f105";
						}
					}
					&:hover {
						background-color: $theme-color;
					}
				}
			}
			.owl-controls {
				display: none;
				.owl-buttons {
					display: none;
				}
			}
			.post {
				margin-bottom: 2px !important;
				position: relative;
				&:hover {
					.entry-thumb {
						img {
							@include scale(1.2);
						}
					}
				}
				> div {
					position: relative;
				}
				.entry-thumb {
					margin-bottom: 0;
				}
				.entry-content {
					position: absolute;
					@include rtl-left(0);
					bottom: 0;
					width: 100%;
					padding: 80px 50% 40px 50px;
					color: $white;
					// background: url('../images/bg/gra-bg-big.png') repeat-x 0 bottom;
					background: -moz-linear-gradient(top, rgba(76,76,76,0) 0%, rgba(19,19,19,0.7) 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(76,76,76,0)), color-stop(100%,rgba(19,19,19,0.7))); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top, rgba(76,76,76,0) 0%,rgba(19,19,19,0.7) 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top, rgba(76,76,76,0) 0%,rgba(19,19,19,0.7) 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top, rgba(76,76,76,0) 0%,rgba(19,19,19,0.7) 100%); /* IE10+ */
					background: linear-gradient(to bottom, rgba(76,76,76,0) 0%,rgba(19,19,19,0.7) 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#004c4c4c', endColorstr='#b3131313',GradientType=0 ); /* IE6-9 */
					.entry-title {
						font-weight: 900;
						font-size: 30px;
						line-height: 1.4;
						a {
							color: $white;
							&:hover {
								color: $theme-color;
							}
						}
					}
					.entry-category {
						margin-bottom: 10px;
						a {
							display: inline-block;
							text-transform: uppercase;
							color: $white;
							background-color: $theme-color;
							border-radius: 3px;
							font-style: normal;
							font-weight: 400;
							font-family: $font-family-sans-serif;
							padding: 1px 10px;
							letter-spacing: 1px;
						}
					}
				}
			}
			.blog-grid-1 {
				.row {
					margin-left: 0;
					margin-right: 0;
					> div {
						padding-left: 1px;
						padding-right: 1px;
					}
				}
			}
			.blog-grid-2 {
				.row {
					margin-left: -1px;
					margin-right: -1px;
					> div {
						padding-left: 1px;
						padding-right: 1px;
						.post {
							.entry-content {
								padding: 80px 30% 30px 51px;
								// background: url('../images/bg/gra-bg-medium.png') repeat-x 0 bottom;
								.entry-title {
									font-size: 24px;
									font-weight: 400;
									padding-top: 0;
								}
							}
						}
						&.col-md-4 {
							.post {
								.entry-content {
									padding: 30px 10% 15px 31px;
									// background: url('../images/bg/gra-bg.png') repeat-x 0 bottom;
									.entry-title {
										font-size: 18px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
	 
}
// Widget Social Link
.widget-social-links {
	&.style-1 {
		.social {
			overflow: hidden;
			margin: -10px -5px 0;
			li {
				margin: 10px 5px 0;
				a {
					width: 36px;
					height: 36px;
					color: $white;
					border: 2px solid rgba($white,.2);
					border-radius: 50%;
					padding:0;
					line-height: 32px;
					display: block;
					text-align: center;
					font-size: 15px;
					&:hover {
						border-color: $white;
					}
				}
			}
		}
	}
}
.footer-v4 {
	.widget-social-links {
		margin-top: 25px;
	}
}

/*------------------------------------*\
	 Widget Sidebar
\*------------------------------------*/
.#{$app-prefix}-sidebar{
	 select,table{
		width: 100%;
	 }
	 .post-widget,
	 .comment-widget{
		  .blog-title, h6{
				margin: 0;
				line-height: $widget-sidebar-entry-title-line-height;
				font-weight: $widget-sidebar-entry-title-font-weight;
				@include font-size(font-size,$widget-sidebar-entry-title-font-size);
		  }
		  p{
				@include font-size(font-size,$widget-post-meta-font-size);
		  }
		  .post-date{
				margin: 0;
				line-height: 1;
				font-size: 11px;
				font-style: italic;
				color: $entry-meta-color;
		  }
	 }
}

.isotope-list{
	 overflow: hidden;
}

/*------------------------------------*\
	 Widget Footer
\*------------------------------------*/
.#{$app-prefix}-footer{
	.widget_text {
		p {
			margin: 0;
		}
	}
	.widget_categories {
		ul {
			overflow: hidden;
			li {
				border: none;
				margin: 0;
				padding: 5px;
				width: 50%;
				float: left;
				a {
					padding-left: 10px;
					font-size: 11px;
					color: $color-5;
					text-transform: uppercase;
					&:after {
						content: "\f105";
						top: 0;
						color: $color-5;
						font-size: 10px;
					}					
				}
				.children {
					display: none;
				}
			}
		}
	}
}    

.wpcf7{
	 .contact-footer{
		  input:not([type*="submit"]), textarea{
				background: #3B3248;
				color: #999999;
				border: none;
		  }
		  textarea{
				height: 160px;
		  }
	 }
}
.wpo-pagination{
	 text-align: center;
	 ul.pagination{
		  display: inline-block;
		  float: none!important;
		  margin-bottom: 60px;
		  > li{
				> a, > span{
					 @include size(34px, 34px);
					 color: $black;
					 font-size: 12px;
					 margin: 0 5px;
					 border: 1px solid $border-color;
					 padding: 0;
					 text-align: center;
					 line-height: 32px;
					 &.prev, &.next {
						  text-indent: -9999px;
						  position: relative;
						  overflow: hidden;
						  &:after{
								position: absolute;
								top: 0;
								right: 13px;
								font-family: FontAwesome;
								z-index: 1;
								text-indent: 99px!important;
						  }
					 }
					 &.next:after{
						  content: "\f101";
					 }
					 &.prev:after{
						  content: "\f100";
					 }
					 &:hover{
						  background: $black;
						  color: $white;
					 }
					 &.current,
					 &.active {
						  background: $black;
						  color: $white;
					 }
				}
		  }    
	 }
	 .result-count{
		  display: none;
	 }
}

.widget_wpo_socials_widget {
	.widget-title {
		margin: 0;
		padding: 0;
		border: none;
		font-weight: 400;
		line-height: 1;
	}
}

.widget_wpo_breaking_post_widget {
	.widget-title {
		margin: 0;
		padding: 0;
		border: none;
		font-weight: 400;
		line-height: 26px;
		color: $brand-danger;
		font-size: 11px;
	}
	&.widget .post-widget .media-body .entry-title {
		margin: -1px 0 0;
	}
	.carousel-controls {
		display: none;
	}
}


// Tab Categories Parent Widget
.widget {
	.widget-content {
		.post {
			.entry-content-footer {
				@include opacity(0);
				display: none;
			}
		}
	}
	&.tab-categories-posts {
		.tab-title {
			border-top: 3px solid $black;
			padding: 15px 0 20px;
			.nav-tabs > li {
				@include rtl-margin(6px,0,0,20px);
				&:first-child {
					@include rtl-margin(0px,0px,0px,0px);
				}
				> a {
					border: none;
					color: $text-color-bb;
					font-size: 11px;
					font-weight: 400;
					margin: 0;
					padding: 0;
					line-height: 1;
					&:hover {
						color: $theme-color;
					}
					&:before {
						content: none;
					}
				}
				.widget-title {
					border: none;
					margin: 0;
					padding: 0;
					line-height: 1;
					position: relative;
					overflow: visible;
					&:before {
						content: "";
						position: absolute;
						top: -18px;
						height: 3px;
						@include rtl-left(0);
						background-color: $theme-color;
						width: 100%;
					}
					a {
						color: $theme-color;
					}
				}
			}
			.view-all {
				text-transform: uppercase;
				font-size: 11px;
				color: $text-color-bb;
				display: block;
				font-family: $font-family-sans-serif;
				line-height: 1;
				margin-top: 5px;
				&:hover {
					color: $theme-color;
				}
			}
		}
		.widget-content {
			.post {
				background-color: $white;
				margin-bottom: 0;
				position: relative;
				.entry-thumb {
					margin-bottom: 0;
					.post-icon {
						width: 28px;
						height: 28px;
						line-height: 28px;
						text-align: center;
						border-radius: 3px;
						background-color: $white;
						position: absolute;
						bottom: 10px;
						@include rtl-right(10px);
						@include transition(.3s);
					}
				}
				.entry-content {
					padding: 25px 30px;
					@include transition(.3s);
					background-color: $white;
					position: relative;
					> p {
						margin-bottom: 10px;
					}
					.entry-meta-2 {
						margin-bottom: 5px;
					}
				}
				&.media {
					margin: 0;
					padding: 20px 0;
					border-top: 1px solid $border-color;
					.media-left {
						@include rtl-padding-right(10px);
						.entry-thumb {
							margin: 0;
							width: 60px;
						}
					}
					.media-body {
						.entry-title {
							font-size: 12px;
							margin-bottom: 3px;
						}
					}
					&:first-child {
						border-top: none;
					}
				}
				.entry-content-footer {
					display: block;
					position: absolute;
					bottom: 0;
					@include rtl-left(0);
					width: 100%;
					background-color: $color-8;
					padding: 10px 20px;
					font-size: 11px;
					@include opacity(0);
					@include transition(.3s);
					.author-avatar {
						display: table-cell;
						@include rtl-padding-right(8px);
						img {
							width: 30px;
							height: 30px;
							border-radius: 50%;
						}
					}
					.author-link {
						display: table-cell;
					}
					a {
						color: $white;
						&:hover {
							color: $theme-color;
						}
					}
					.comment-count {
						color: $white;
						line-height: 30px;
						i {
							@include rtl-padding-right(5px);
							display: table-cell;
							font-size: 13px;
						}
						a {
							font-style: italic;
							display: table-cell;
						}
					}
				}
				&:hover {
					.entry-content-footer {
						@include opacity(1);
						visibility: visible;
					}
					.entry-content {
						margin-top: -45px;
						padding-bottom: 70px;
					}
					.entry-thumb {
						.post-icon {
							bottom: 40px;
						}
					}
				}
			}
			.media-wrapper {
				background-color: $white;
				padding: 10px 30px;
			}
			.banner-wrapper {
				padding: 15px;
				background-color: $white;
			}
			.style5 {
				.posts-inner {
					.row {
						.col-md-3 {
							> article {
								&.post:last-child {
									padding: 0 30px 20px;
									.entry-title {
										padding-top: 25px;
										border-top: 1px solid $border-color;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.footer-v3 {
	.widget-social-links {
		@include rtl-float-right();
		.widget-content {
			.social {
				overflow: hidden;
				margin: 0;
				li {
					@include rtl-margin(0,0,0,5px);
					a {
						line-height: 46px;
						width: 46px;
						text-align: center;
						background-color: $color-6;
						border-radius: 50%;
						display: block;
						padding: 0;
						color: #575757;
						font-size: 16px;
						&:hover {
							color: $white;
						}
					}
				}
			}
		}
	}
}

// Trending Widget
.widget.trending-widget {
	.heading-title {
		border: 1px solid $border-color;
		padding: 0 20px 0 30px;
		.widget-title {
			@include rtl-float-left();
			margin: 0;
			font-size: 12px;
			border-top: none;
			overflow: visible;
			color: $theme-color;
			padding-bottom: 18px;
			padding-top: 15px;
			&:before {
				content: "";
				position: absolute;
				top: -1px;
				@include rtl-left(0);
				height: 3px;
				width: 100%;
				background-color: $theme-color;
			}
		}
		.heading-tab {
			@include rtl-float-right();
			.nav-tabs {
				border-bottom: none;
				> li {
					@include rtl-margin(0,0,0,10px);
					&:first-child {
						@include rtl-margin(0,0,0,0);
					}
					> a {
						border: none;
						margin: 0;
						padding: 10px 0;
						font-size: 14px;
						color: #ccc;
						&:before {
							content: none;
						}
					}
					&.active {
						> a {
							color: $link-color;
						}
					}
				}
			}
		}
	}
}

.tab-views.trending,
.tab-comments.trending {
	.content-post {
		position: relative;
    	z-index: 1;
    	margin-top: 10px;
    	padding: 20px;
    	.count-views {
    		display: table-cell;
    		@include rtl-padding-right(30px);
    		font-size: 18px;
    		color: $text-color-bb;
    		position: relative;
    		z-index: 1;
    		vertical-align: middle;
    		font-family: $font-family-sans-serif;
    	}
		.post-content {
			position: relative;
    		z-index: 1;
    		display: table-cell;
    		vertical-align: top;
    		.category-post {
    			font-size: 11px;
    			text-transform: uppercase;
    			font-family: $font-family-sans-serif;
    			a {
    				color: $theme-color;
    				&:hover {
    					color: $black;
    				}
    			}    			
    		}
    		.entry-title {
    			padding-top: 5px;
    			font-size: 12px;
    			margin: 0;
    		}
		}
		.value_bar_container {
			position: absolute;
			bottom: 0;
			@include rtl-left(0);
			.value_bar {
				height: 100%;
				background-color: #f8f8f8;
			}
		}
	}
}

.wpo-sidebar .widget.widget_search {
	padding-top: 25px;
}


// iosSlider
.responsiveHeight {
  height: 730px;
  padding-bottom: 0;
  position: relative;
  overflow: visible;
}

.responsiveHeight > .inner {
	width: 100%;
  	height: 100%;
  	max-height: 730px;
  	position: relative;
  	top: 0;
  	left: 0;
  	.carousel-control {
  		height: 38px;
  		border-radius: 0;
  		border: 2px solid $white;
  		background-color: $black;
  		width: 38px;
  		line-height: 34px;
  		color: $white;
  		font-size: 18px;
  		top: auto;
  		bottom: 100px;
  		&.right {
  			right: 19%;
  			margin-right: -70px;
  		}
  		&.left {
  			left: 19%;
  			margin-left: -70px;
  		}
  		&:hover {
  			background-color: $white;
  			color: $black;
  		}
  	}
}

.iosSlider {
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  .loading {
  	height: 100%;
  	width: 100%;
  	position: absolute;
  	top: 0;
  	left: 0;
  	text-align: center;
  	z-index: 11;
  	background-color: $white;
  	> i {
  		color: $theme-color;
	    font-size: 30px;
	    left: 50%;
	    margin-left: -13px;
	    position: absolute;
	    top: 30%;
  	}
  }
}

.iosSlider .slider {
  width: 100%;
  height: 100%;
}

.iosSlider .slider .item {
	width: 62%;
  	height: 100%;
  	text-align: center;
  	padding: 0;
  	float: left;
  	.post {
  		margin-bottom: 0;
  		.entry-image {
  			.mask {
  				display: block;
  				position: absolute;
  				top: 0;
  				left: 0;
  				width: 100%;
  				height: 100%;
  				z-index: 10;
  				background-color: rgba($black,.4);
  				@include opacity(1);
  			}
  		}
  		.entry-content {
  			padding: 30px 30px 0;
	  		position: absolute;
	  		bottom:0;
	  		height:211px;
	  		width:100%;
	  		left: 0;
	  		z-index: 100;
	  		background-color: $color-6;
	  		.entry-title {
	  			font-size: 36px;
	  			font-weight: 900;
	  			margin-bottom: 0;
	  			@include opacity(0);
	  			a {
	  				color: $white;
	  				&:hover {
	  					color: $theme-color;
	  				}
	  			}
	  		}
	  		.entry-categories {
	  			display: inline-block;
	  			border-radius: 3px;
	  			color: $white;
	  			text-transform: uppercase;
	  			background-color: $black;
	  			padding: 3px 10px;
	  			font-size: 10px;
	  			font-weight: 700;
	  			font-family: $font-family-second;
	  			letter-spacing: 1px;
	  			margin-bottom: 5px;
	  			&:hover {
	  				background-color: $theme-color;
	  			}
	  		}
	  	}
  	}
  	&.selected {
  		.post {
  			.entry-image {
	  			.mask {
	  				@include opacity(0);
	  			}
	  		}
  			.entry-content {
  				.entry-title {
  					@include opacity(1);
  				}
  			}
  		}
  	}
}

.iosSlider .slider .item img {
  width: 100%;
  left: 0;
  margin: 0 auto;
  position: relative;
  top: 0;
}

// Breaking News Widget
.widget_wpo_breaking_post_widget {
	.special {
		.widget-content {
			.media-body {
				display: block;
				.entry-date {
					display: table-cell;
					vertical-align: top;
					border: 2px solid $theme-color;
					color: $white;
					font-weight: 700;
					font-size: 11px;
					font-family: $font-family-second;
					font-style: normal;
					text-align: center;
					padding: 8px 13px 9px;
					text-transform: uppercase;
					.date {
						font-size: 14px;
						margin-bottom: 5px;
					}
					> span {
						display: block;
						@include rtl-padding-right(0);
						line-height: 1;
					}
				}
				.entry-title {
					display: table-cell;
					vertical-align: middle;
					@include rtl-padding-left(15px);
					a {
						color: $white;
						&:hover {
							color: $theme-color;
						}
					}
				}
			}
		}
	}
}