/* Woocommerce Product */

/*-------------------------------------------
    Price
-------------------------------------------*/
.price{
    line-height: 14px;
    color: $product-price-color;
    ins{
        text-decoration: none;
    }
    del{
        color: $del-color;
        span{
            text-decoration: line-through;
            font-weight: 400;
        }
    }
}

.name{
    @include font-size(font-size, $product-name-font-size);
    line-height: $product-name-line-height;
}

.product_meta{
    font-size: $font-size-base - 2;
    & > span{
        display: inline-block;
        width: 100%;
        span{
            color:$woo-link-color;
        }
    }
    a{
        color: $woo-link-color
    }
}
.product-block{
    .image{
        position: relative;
        a,.product-image{
            display: block;
            overflow: hidden;
            position: relative;
            text-align: $align-center;
        }
        img{
            width: percentage(1);
        }
        .image-effect{
            top: 0;
            position: absolute;
            overflow: hidden;
            @include rtl-left(0);
            @include opacity(1);
            @include translate(-100%, 0px);
            @include transition(all 0.3s);
        }
        .image-hover{
            @include transition(all 0.3s );
        }
        // hover image
        &:hover{
            .image-effect{
                @include translate(0px, 0px);
            }
            .image-hover{
                @include translate(100%, 0px);
            }
        }
        .yith-wcwl-add-to-wishlist, .yith-wcwl-add-to-wishlist{
            span{
                display: none;
            }
        }
    }
    .price{
        display: inline-block;
        text-align: left;
        @include font-size(font-size, $product-price-font-size);
        font-weight: $product-price-font-weight;
        margin-bottom: 10px;
        margin-top: 5px;
        > *{
            width: auto;
            display: inline-block;
            span{
                margin: 0 3px;
                @include inline-block();
            }
        }
        del{
            @include rtl-text-align-right;
        }
        ins{
            @include rtl-text-align-left;
        }
    }
    .category{
        text-transform: none;
        font-weight: $product-category-font-weight;
        font-style: $product-category-font-style;
        @include font-size(font-size, $product-category-font-size);
        a{
            color: $product-category-color;
            &:hover{
                color: $product-category-hover-color;
            }
        }
    }
    .caption{
        position: relative;
    }
    .clear,.added_to_cart {
        display: none !important;
    }
    .action-bottom-wrap a{
        font-size: 11px;
    }
}


/*------------------------------------*\
    Product Grid
\*------------------------------------*/
.product-grid{
    .add-links{
        margin: auto;
        vertical-align: middle;
        @include rtl-left(0);
        @include rtl-right(0);
        @include translate(0px,0px);
        @include transition(all 0.3s ease-in-out);
        a{
            @include rtl-float-left();
            text-align: $align-center;
            span{
                @include hide-text();
            }
        }
        .compare.added{
            @include font-size(font-size,1px);
            &:after{
                content: "\f00c";
                @include font-size(font-size,17px);
                font-family: $theme-font-name;
                @include inline-block();
                @include vertical-center(69px,40px);
            }
        }
        .yith-wcwl-add-to-wishlist{
            a{
                position: relative;
            }
            img{
                @include vertical-center(100%,100%);
            }
            .feedback{
                @include hide-text();
                display: none;
                background-color: transparent;
                border: 0 none;
                color: transparent;
                font: 0px/0 a;
                text-shadow: none;
            }
        }
    }
    .name{
        margin: $product-name-margin;
        font-weight: $product-name-font-weight;
        padding: $product-name-padding;
    }
    .rating{
        
    }
    .category{
        margin: $product-category-margin;
        overflow: hidden;
        @include text-overflow();
    }
     
    .price{

    }

    // hover product grid
    &:hover{
        .caption{
            bottom: 50%;
        }
        .button-groups{
            visibility: visible;
        }
        .image{
           
        }
    }

    /*-------Product grid style fashion --------- */
    &.style-fashion{
        padding: 0;
        border: none;
        margin-bottom: 30px;
        figure.image {
            margin-bottom: 0;
        }
        .button-action{
            > div{  
                position: absolute;
                top: 10px;
                right: -10px;
                @include size(35px, 35px);
                @include transition-property(all);
                @include transition-duration(0.35s);
                @include opacity(0);
                &.yith-wcwl-add-to-wishlist{
                    @include transition-delay(0.25s, 0s);
                }
                &.yith-compare{
                    @include transition-delay(0.5s, 0s);
                }
                .title{
                    display: none;
                }
                a{
                    background: rgba(255, 255, 255, 0.7); 
                    color: $black;
                    line-height: 35px;
                    text-align: center;
                    @include size(35px, auto);
                    @include transition(all 0.35s);
                    &:hover{
                        background: $theme-color;
                        color: $white;
                    }
                }
                &:last-child{
                    top: 50px;
                }
            }
        }

        .caption{
            padding: 0;
            margin: 0;
            border-bottom: 10px solid $border-color;
            @include transition(.3s);
            background-color: $white;
            padding-top: 15px;
            .meta{
                position: relative;
                text-align: right;
                .category {
                    text-transform: uppercase;
                    font-family: $font-family-second;
                    font-size: 10px;
                    font-style: normal;
                    font-weight: 700;
                    letter-spacing: 1px;
                    float: left;
                    margin: 3px 0 0;
                    a {
                        color: $text-color-bb;
                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
                .name {
                    text-align: left;
                    font-size: 14px;
                    font-weight: 400;
                    font-family: $font-family-serif;
                    border-top: 1px solid $link-color;
                    padding: 15px 0 25px;
                    a:hover {
                        color: $theme-color;
                    }
                }
            }
            .price{
                position: relative;
                line-height: 1;
                &.empty{
                    padding: 0;
                    border: none;
                    width: 0;
                }
            }
            .action-bottom {
                text-align: center;
                visibility: hidden;
                margin-bottom: -50px;
                @include opacity(0);
                @include transition(all 0.35s);
                .action-bottom-wrap{
                    overflow: hidden;
                    @include transition(all 0.35s);
                    > div{  
                        float: left;
                        @include transition(all 0.35s);
                        .icon-cart{
                            display: none;
                        }
                        .btn-primary {
                            background: $white;
                            border-width: 2px;
                            line-height: 26px;
                            color: $link-color;
                            border-radius: 3px;
                            font-weight: 700;
                            font-size: 12px;
                            font-family: $font-family-second;
                            &:hover {
                                background: $theme-color;
                                color: $white;
                                border-color: $theme-color;
                            }
                        }
                        &.quick-view {
                            float: right;
                        }
                    }
                } 
            }
        }
        &:hover{
            .caption {
                margin-top: -70px;
            }
            .button-action > div{
                @include opacity(1);
                right: 10px;
            }
            .meta{
                .rating{
                    @include opacity(0);
                }
                .action-bottom{
                    visibility: visible;
                    margin-bottom: 20px;
                    @include opacity(1);
                    .action-bottom-wrap {
                        > div {
                            .btn-primary {
                                border-color: $theme-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

.widget.widget-related-products {
    .product-grid.style-fashion .caption .action-bottom {
        display: none;
    }
}

.no-sidebar-left,
.no-sidebar-right{
    // 4 Product
    .col-lg-3,
    .col-md-3{
        .product-grid{

        }
    }
    // 6 Product
    .col-lg-2,
    .col-md-2{
        .product-grid{
            .onsale,
            .button-groups,
            .category,
            .price,
            .rating {
                @extend .hidden;
            }
        }
    }
}
.products{
    .first{
        clear: left;
    }
    /*------------------------------------*\
        Product List
    \*------------------------------------*/
    .product-list{
        border: 1px solid $border-color;
        margin-bottom: 30px;
        background: $white;
        img{
            height: auto;
        }
        .button-groups{
            @include rtl-text-align-right;
            > div, a{
                margin-top: 0;
                padding: 0;
                margin-top: 0;
                margin-bottom: $padding-large-vertical;
                display: block;
                border: none;
            }
            a{
                width: auto;
                height: auto;
                text-transform: capitalize;
                &:focus, &:active, &:hover{
                    background: $nocolor!important;
                    color: $theme-color;
                }
            }
            .yith-compare{
                margin-bottom: 0;
            }
            .button{
                display: block;
                text-transform: uppercase;
            }
            .fa,.icon{
                margin-right: 6px!important;
                @include font-size(font-size,$product-icon-font-size);
            }
            .feedback{
                @extend .hidden;
            }
            .yith-wcwl-add-to-wishlist{
                position: relative;
                .ajax-loading{
                    position: absolute;
                    top: 5px;
                    @include rtl-left(20px);
                }
            }
            .compare{
                &.added{
                    position: relative !important;
                    &:before{
                        position: absolute;
                        top: -4px;
                        content: "32";
                        display: block;
                        @include square(30px);
                        @include rtl-left(-35px);
                    }
                }
            }
        }
        .rating{
            margin-bottom: $padding-large-vertical;
            @include clearfix();
            .star-rating{
                @include rtl-float-right;
            }
        }

        .price{
            margin-bottom: 20px;
            @include rtl-text-align-right;
            ins{
                @include rtl-text-align-right;
            }
            > *{
                width: inherit;
            }
        }
        .description{
            text-align: justify;
        }
        .product-assets{
            .name{
                display: none;
            }
            @include rtl-margin(20px, 20px, 0, 0);
            text-align: right;
            a{
                background: $white !important;
                text-align: center;
                color: $black;
                font-size: 12px;
                border-radius: 3px;
                font-family: $font-family-second;
                display: inline-block !important;
                line-height: 26px;
                padding: 5px 20px;
                font-weight: 700;
                border: 2px solid $theme-color;
                &:hover, &:focus, &:active{
                    background: $theme-color !important;
                    color: $white;

                }
            }
            .btn-cart, .btn-cart a{
                background: none;
                &:after, &:before{
                    content: none!important;
                }    
            }
        }  
    }
}

.product-meta {
	.name,
	.quick-view {
		a:hover {
			color: $theme-color;
		}
	}
}

/*------------------------------------*\
    Product Info
\*------------------------------------*/
.product-info{
    padding-bottom: 30px;
    font-weight: 400;
    .product_title{
        @include font-size(font-size,$single-product-title-font-size);
        line-height: $single-product-title-line-height;
        font-weight: $single-product-title-font-weight;
        margin: $single-product-title-margin;
        text-transform: $single-product-title-transform;
        font-family: $font-family-second;
    }
    .product_meta{
        font-size: 14px;
        font-weight: 400;
        span{
            color: $text-color;
            margin-bottom: 10px;
        }
        a{
            color: $theme-color;
            &:hover{
                color: $black;
            }
        }
    }
    .woocommerce-main-image{
        margin-bottom: 5px;
        width: percentage(1);
        display: block;
    }
     
    .single-product-description{
        margin-bottom: 22px;
    }
    .caroufredsel_wrapper, .caroufredsel_wrapper .yith_magnifier_gallery{
        height: 620px !important;
        width: 100%;
    }
    .caroufredsel_wrapper{       
        ul {
            max-width: 100%;
            li{
                a, img{
                    max-width: 100%;
                }
            }  
        }    
    }
    .yith_magnifier_gallery{
        li{
            margin-top: 0;
            width: 100%!important;
            margin: 0 0 30px;
            text-align: left;
            border: 1px solid $border-color;
            a{
                display: inline;
                img{
                    height: auto;
                    @include opacity(0.6);
                    @include transition(opacity 0.35s);
                    &:hover{
                        @include opacity(1);
                    }
                }
            }
            &:last-child{
                @include rtl-margin-right(0);
            }
        }
    }
    .out-of-stock{
        display: none;
    }
    .label{
        color: $black;
        display: table-cell;
        padding: 0;
        vertical-align: middle;
        font-size: $font-size-base;
        @include rtl-text-align-right();
    }
    .addthis{
        @include rtl-clear-left();
        overflow: hidden;
        padding: $theme-padding 0;
        min-height: 60px;
        border-top: 1px solid $border-color;
        margin-top: 10px;
    }
    .woocommerce-product-rating{
        @include clearfix();
        margin-bottom: $theme-margin;
        > *{
            @include rtl-float-left();
        }
        .star-rating{
            margin-top:  $theme-margin / 4;
            @include rtl-margin-right(10px);
        }
    }
    .cart{
        margin-bottom: 20px;
        .cart-number{
            padding: 0 0 $theme-padding 0;
            @include clearfix();
            > *{
                @include rtl-float-left;
            }
        }
        .quantity, .qty{
            padding: 0;
            text-align: center;
            color: $black;
            font-weight: 400;
            margin-bottom: 10px;
            input{
                width: 100px;
                @include border-radius(3px);
            }
        }
        .button{
            background-color: $white;
            color: $black;
            border-radius: 3px;
            line-height: 26px;
            font-size: 12px;
            font-family: $font-family-second;
            font-weight: 700;
            border: 2px solid $theme-color;
            padding: 5px 20px;
            .fa,[class^="icon-"], [class*=" icon-"]{
                @extend .hidden;
            }
            &:hover {
            	background-color: $theme-color;
            	color: $white;
            }
        }
        .add-cart{
            margin-left: 10px;
            button{
                @include transition(all 0.35s);
                text-transform: uppercase;
                @include font-size(font-size, 11px);
                position: relative;
                height: 38px;
                line-height: 36px;
                padding: 0 35px;
                display: block;
                font-weight: $headings-font-weight;
                @include border-radius(4px);
                
                border: 1px solid $black;
                background: $black;
                color: $white;
                &:active, &:focus, &:hover{
                    border-color: $theme-color;
                    background: $theme-color;  
                    color: $white; 
                    text-decoration: none;
                }
            }
        }
    }
    .table-product-group{
        width: 100%;
        clear: both;
        td{
            vertical-align: middle;
        }
        .add_cart{
            margin-left: 0;
        }
        .price{
            padding: 5px;
        }
        .cart-number{
            padding: 0;
        }
        .label label{
            font-weight: 300;
        }
        .price{
            display: inline-block!important;
            border: none;
            line-height: 50px;
            del{
                float: right;
                margin-top: 5px;
            }
            ins{
                float: left;
                margin-right: 5px;
            }
        }
    }

    .button-action{
        color: #aaaaaa;
        font-weight: 900;
        text-transform: uppercase;
        @include font-size(font-size, 11px);
        position: relative;
        height: 38px;
        line-height: 36px;
        padding: 0 35px;
        display: inline-block;
        font-weight: $headings-font-weight;
        @include border-radius(4px);
      
        border: 1px solid $border-color;
        &:focus, &:hover{
            border-color: $theme-color;
            background: $theme-color;  
            color: $white; 
            text-decoration: none;
        }
    }
    
    .yith-wcwl-add-to-wishlist{
        @include rtl-float-left();
        margin-left: 10px!important;
        > *{
            display: none;
            line-height: 0;
        }
        .fa,
        .icon{
            display: none;
        }
        a{
         
        }
        .ajax-loading{
            margin: 0;
            position: absolute;
            top: 10px;
            @include rtl-left(-10px);
        }
        .feedback{
            @include hide-text();
        }
    }

    .compare{
         margin-left: 10px;
        float: left;
       
    }

    .clear{
        display: none;
    }
    .price{
        display: table;
        color: $single-new-price-color;
        font-weight: $single-new-price-font-weight;
        @include font-size(font-size, $single-new-price-font-size);
        padding: 5px 0 10px;
        line-height: 30px;
        > *{
            display: table-cell;
            vertical-align: middle;
        }
        del{
            padding-top: 3px;
            line-height: 20px;
            span{
                font-size: 14px;
                font-weight: 800;
                color: $black;
                @include rtl-margin-right(10px);
            }
        }
    }
    .onsale{
        @include rtl-left(auto);
        @include rtl-right(30px);
    }
    .yith_magnifier_zoom_wrap{
        z-index: 9;
    }
    .single_add_to_cart_button {
        background: none;
        border-radius: 5px;
        border: 2px solid $theme-color !important;
        color: $black;
        font-size: 12px;
        font-family: $font-family-second;
        font-weight: 700;
        @extend %transition;
        &:hover {
            background: $theme-color;
            color: $white;
        }
    }
}


/*------------------------------------*\
    Product Category and Subcategories
\*------------------------------------*/
.product-category{
    .product-category-content{
        position: relative;
        overflow: hidden;
        min-height: $product-category-content-height;
        margin: $product-category-content-margin;
    }
    .product-category-image{
        display: block;
        img{
            @include img-responsive();
        }
    }
    .product-category-title{
        text-transform: none;
        position: absolute;
        text-align: center;
        bottom: 0;
        @include rtl-left(0);
        width: 100%;
        font-weight: $product-category-title-font-weight;
        @include font-size(font-size,$product-category-title-font-size);
        color: $product-category-title-color;
        margin: $product-category-title-margin;
        padding: $product-category-title-padding;
        background: rgba($product-category-title-bg, .3);
        .count{
            background: transparent;
            color: $product-category-title-color;
        }
    }
}


/*------------------------------------*\
    Quickview
\*------------------------------------*/
#wpo_modal_quickview{
    iframe{
        width: 100%;
        min-height: 600px;
    }
    @include box-shadow(0 10px 25px rgba($black, 0.1));
    @include border-radius(4px);
    @include size(auto,auto);
    border: 0;

    .modal-body{
        border: 0px solid #efefef;
        background: #efefef;
        padding: 5px;
        > div{
            background: $white;
        }
    }
    .modal-dialog{
        overflow: hidden;
        del{
            .amount{
                color: $text-color;
            }
        }
    }
    .modal-content{
        border: 0;
    }
    .modal-header{
        border: 0;
        padding: 0;
        min-height: inherit;
    }
    
    .product-info{
        padding: 0;
        margin: 0;
        .summary{
            @include rtl-margin-right($quickview-product-content-margin);
        }
        .product-title{
            padding-top: 0;
            margin-top: 0;
            @include font-size(font-size,$quickview-product-title-font-size);
        }
        .qty{
            position: relative;
            @include rtl-left(1px);
        }
        .product_meta{
            @include clearfix();
            margin: 0;
            > div{
                margin-top: 10px;
            }
        }
    }
    .close{
        position: relative;
        z-index: 1;
        top: 0px;
        border: 0;
        color: darken(#EFEFEF, 30%);
        margin: 10px 0 10px;
        padding: 0;
        display: table;
        text-align: center;
        @include square(30px);
        @include rtl-right(15px);
        @include transition(0.1s color linear);
        .fa,.icon{
            @include font-size(font-size,20px);
            display: table-cell;
            vertical-align: middle;
            margin: 0 8px;
            @include rtl-float-left;
        }
        &:hover{
            .fa,.icon{
                color: $black;
            }
        }
    }
    #quickview-carousel{
        overflow: hidden;
        &:hover{
            .left{
                @include rtl-left(15px);
            }
            .right{
                @include rtl-right(15px);
            }
        }
    }
    .carousel-indicators{
        li{
            border-color: $theme-color;
        }
        .active{
            background: $theme-color;
            border-color: $theme-color;
        }
    }
    .carousel-control{
        line-height: 60px;
        top: 0px;
        margin: 57% auto;
        font-weight: normal;
        color: lighten($text-color, 5%);
        border: 0px;
        @include size(30px,60px);
        @include font-size(font-size,40px);
        @include transition(all 0.45s ease);
        &.left{
            @include rtl-left(-30px);
        }
        &.right{
            @include rtl-right(-30px);
        }
        &:hover{
            color: $theme-color;
        }
    }
}

.modal-content {
    .cart {
        a.btn.added_to_cart.wc-forward {
            &:hover {
                color: $theme-color;
            }
        }
    }
}