.widget{
    // widget products
    &.widget-products{
        .tabs-container{
            overflow: hidden;
        }
        .carousel-controls {
            position: absolute;
            @include rtl-right(0);
            top: -75px;
        }
        .carousel-control{
            @include rtl-left(auto);
            &.prev{
                @include rtl-right(29px);
            }
            &.next{
                @include rtl-right(0px);
            }
        }
        &.widget-related-products {
            .carousel-controls {
                top: -60px;
            }
        }
    }
    // widget layered nav
    &.widget_layered_nav{
        @include lists-style();
        font-size: $layered-nav-font-size;
        .count{
            @include rtl-float-right();
        }
    }
    // Related
    &.widget-related-products,
    &.widget-products.style2 {
        .product-wrapper {
            .product {
                overflow: hidden;
                position: relative;
                &:hover {
                    .caption {
                        background: $white;
                        margin-top: 0;
                        .meta {
                            // padding-right: 51px;
                            .action-bottom {
                                right: 0;
                                .action-bottom-wrap {
                                    > div {
                                        .btn-primary {
                                            border-color: inherit;
                                        }
                                    }
                                }
                            }
                        }
                    }                    
                }
                .image {
                    float: left;
                    margin: 0;
                    width: 45%;
                }
                .caption {
                    overflow: hidden;
                    border-bottom: none;
                    width: 55%;
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    @extend %transition;
                    .meta {
                        text-align: left;
                        position: relative;
                        .category {
                            float: none;
                            margin: 0 0 5px;
                            padding: 0 0 0 20px;
                        }
                        .name {
                            padding: 15px 20px 0;
                            line-height: 22px;
                        }
                        .price {
                            margin-bottom: 20px;
                            padding: 0 0 0 20px;
                        }
                        .action-bottom {
                            position: absolute;
                            right: -50px;
                            top: 0;
                            width: 51px;
                            height: 100%;
                            margin: 0;
                            background: $white;
                            padding: 0 0 0 10px;
                            .action-bottom-wrap {
                                > div {
                                    width: 40px;
                                    height: 40px;
                                    margin: 0 0 5px;
                                    @include rtl-float-right();
                                    .btn-primary {
                                        display: block;
                                        padding: 0;
                                        line-height: 36px;
                                        text-align: center;
                                        margin: 0;
                                        font-size: 0;
                                        position: relative;
                                        &:before {
                                            @extend %fa;
                                            font-size: 14px;
                                            position: absolute;
                                            top: 0;
                                            left: 0;
                                            width: 100%;
                                            height: 100%;
                                            line-height: 36px;
                                        }
                                        &:hover {
                                            background: $white;
                                            color: $link-color;
                                            border-color: $theme-color;
                                        }
                                    }
                                    &.add-button {
                                        .btn-primary {
                                            &:before {
                                                content: "\f07a";
                                            }
                                        }
                                    }
                                    &.quick-view {
                                        .btn-primary {
                                            &:before {
                                                content: "\f06e";
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.widget-products.style2 {
        .carousel-controls .carousel-control {
            color: $white;
            line-height: 25px;
            border-color: rgba($white,.1);
            &:hover {
                color: $theme-color;
                border-color: $theme-color;
            }
        }
        .product-wrapper {
            .product {
                .caption {
                    padding-top: 20px;
                    .meta {
                        .action-bottom {
                            padding: 0 10px;
                            width: 61px;
                            top: -10px;
                            display: none;
                        }
                    }
                }
                &:hover {
                    .caption {
                        .meta {
                            // padding-right: 61px;
                        }
                    }
                }
            }
        }
    }
    &.widget-products-carousel{
        position: relative;
    }
    &.widget-related-products {
        margin-bottom: 60px !important;
    }
}

/*------------------------------------*\
    Widget Price Filter
\*------------------------------------*/
.widget_price_filter {
	.price_slider {
		@include rtl-margin(0, 10px, 30px ,0);
	}
	.price_slider_amount {
		@include rtl-text-align-right();
		line-height: 2.4em;
        @include font-size(font-size,$font-size-base);
		.button {
			@include rtl-float-left();
		}
	}
	.ui-slider {
		position: relative;
		@include rtl-text-align-left();
	}
	.ui-slider .ui-slider-handle {
		z-index: 2;
		position:absolute;
        outline:none;
        top: -3px;
		@include size(10px,10px);
		@include border-radius(20px);
		cursor: pointer;
		@include gradient-vertical($start-color: darken($theme-color, 5%), $end-color: lighten($theme-color, 10%), $start-percent: 0%, $end-percent: 100%);
	}
	.ui-slider .ui-slider-range {
		position:absolute;
		z-index: 1;
        @include font-size(font-size,$font-size-base);
		display:block;
		border: 0;
		@include box-shadow(0,0,0,1px,rgba($black,0.5));
		@include border-radius(1em);
	}
	.price_slider_wrapper .ui-widget-content {
		@include border-radius(1em);
		background: darken($border-color, 10%);
	}
	.ui-slider-horizontal {
		height: 5px;
	}
	.ui-slider-horizontal .ui-slider-range {
		top: 0;
		height: 100%;
		background: $border-color;
	}
	.ui-slider-horizontal .ui-slider-range-min {
		@include rtl-left(-1px);
	}
	.ui-slider-horizontal .ui-slider-range-max {
		@include rtl-right(-1px);
	}
}

/*------------------------------------*\
    Product List Widget
\*------------------------------------*/
.product_list_widget{
    padding: 0;
    .widget-product{
        margin: $widget-product-list-margin;
        padding: $widget-product-list-padding;
        border-bottom: 1px solid $border-color;
        &:first-child{
            padding-top: 0;
        }
        &:last-child{
            border: 0;
            padding-bottom: 0;
        }
        .review{
            @include rtl-clear-left();
        }
        .price{
            del{
                color: $widget-product-list-price-old-color;
            }    
        }
        .image{
            display: block;
            @include rtl-margin-right(15px);
            @include square($widget-product-list-size);
            @include rtl-padding-right(0);
        }
        .rating{
            margin-bottom: $theme-margin - 15;
        }
        .star-rating{
            margin: 0;
        }
        .name{
            @include font-size(font-size, $widget-product-list-font-size);
            font-weight: $widget-product-list-font-weight;
            margin-top: 0;
            text-transform: $widget-product-list-text-transform;
        }
    }
}

/*------------------------------------*\
    Product Special Widget
\*------------------------------------*/
.product_special_widget{
    .widget-product{
        margin: $widget-product-special-margin;
        position: relative;   
        border-bottom: 1px solid $white;
        &:first-child{
            padding: 0;
            .image{ 
                max-width: 60%;
                position: relative;
                margin: 0;
                @include rtl-margin-right(10px);
                .first-order{
                    @include size(32px, 32px);
                    position: absolute;  
                    bottom: 0; 
                    left: 0;
                    background: $theme-color;
                    padding: 5px 11px;
                    z-index: 99;
                    color: $white;
                    font-weight: 900; 
                } 
            }
            .media-body{
                max-width: 40%;
                float: none;
                padding: 0;
            }
        }
        .media-body{ 
             padding: $widget-product-special-padding;
        } 
        .order{
            width: 32px;
            background: #DADADA;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            color: #6A6A6A;
            font-weight: 900;
            padding:0 10px;
            span{
                position: relative;
                top: 50%;
                margin-top: -10px;
                display: block;
            }
        }
        .review{
            @include rtl-clear-left();
        }
        .rating{
            margin-bottom: $theme-margin - 5;
        }
        .star-rating{
            margin: 0;
        }
        .name{
            @include font-size(font-size, $widget-product-special-font-size);
            font-weight: 400;
        }
        .price{
            @include rtl-text-align-left();
            > * {
                color: $black;
            }
        }
        &.last{
            background: #F5F5F5;
        }
    }
}

/*------------------------------------*\
    Widget Sidebar
\*------------------------------------*/
.#{$app-prefix}-sidebar{
    .product_list_widget{
        .image{
            @include rtl-margin-right(10px);
            @include size($block-sidebar-widget-product-list-size, auto);
        }
    }
    .widget{
        &.widget_categories{
            .product-categories{
                background: $block-sidebar-hightlight-content-bg;
                padding: 0;
                li{
                    border-bottom: $block-sidebar-hightlight-border;
                    padding: 16px 0 16px 30px;
                    @include rtl-padding-left(30px);
                    font-weight: 300;
                    text-transform: uppercase;
                    background: url(#{$image-theme-skin}list-style.png) no-repeat 15px 25px $nocolor;
                    @include rtl-background-position-percent(25px, 8%);
                    list-style: none;
                    font-size: $block-sidebar-hightlight-font-size;
                    color: $block-sidebar-hightlight-content-color;
                    &:last-child{
                        border: none;
                    }
                    .count{
                        color: $block-sidebar-hightlight-content-color;
                    }
                    a{
                        color: $block-sidebar-hightlight-content-color;
                        &:hover{
                            color: $theme-color;
                        }
                    }
                }
            }
        }
    }
    &.wpo-sidebar-right {
        .widget {
            &.widget_product_categories {
                .product-categories {
                    padding: 0;
                    margin: 0;
                    > li {
                        border: none;
                        font-size: 12px;
                        margin: 10px 0 0;
                        .children {
                            padding-left: 20px;
                            > li {
                                margin: 10px 0 0;
                            }
                        }
                    }
                    a {
                        &:hover {
                            color: $theme-color;
                        }
                    }
                    > .list-group-item {
                        > a {
                            text-transform: uppercase;
                        }
                    }
                }
            }
            &.widget_price_filter {
                form {
                    .price_slider_amount {
                        overflow: hidden;
                        .button {
                            background-color: transparent;
                            border: 2px solid $theme-color;
                            text-transform: uppercase;
                            font-family: $font-family-second;
                            font-size: 12px;
                            color: $link-color;
                            padding: 5px 15px;
                            border-radius: 3px;
                            @extend %transition;
                            &:hover {
                                background-color: $theme-color;
                                color: $white;
                            }
                        }
                        .price_label {
                            line-height: 36px;
                        }
                    }
                }
            }
        }
    }
}

// best deals
.widget_deals_products{
    overflow: hidden;
    .widget-title{
        margin: 0;
    }
}

.woo-deals{
    .caption{
        border: 1px solid $border-color;
        border-top: none;
        padding: 5px 20px 20px!important;
    }
    .carousel-inner{
        overflow:visible;
    }
    .product-block {
        margin: 0;
        border:none;
        .price > *{
            color: $black;
        }
        .name{
            margin: 0;
            min-height: 0;
            font-weight: 400;
        }
    }
    .description{
        margin-bottom: $theme-padding/2;
        font-size: 13px;
    }
    .pts-countdown{
        padding: $deals-times-padding;
        font-family: $deals-times-font-family;
        font-size: $deals-times-font-size;
    }
    .deals-information{
        padding-bottom: 15px;
        border-bottom: 1px solid $border-color;
        > *{
            padding-top: 15px;
        }
    }
    .rating > *{
        float: left;
    }
    .countdown-times{
        overflow: hidden;
        @include translate(0px, 0px);
        @include  transition(all 0.4s ease);
        > div{
            float: left;
            text-align: center;
            margin-right: 5%;
            width: 20%;
            > b{
                display: block;
                font-size: 14px;
                font-weight: 900;
                color: $theme-color;
            } 
            &:last-child{
                padding-right: 0;
                float: right;
            }
        }
    }
    .cart{
        left: 0;
        position: absolute;
        right: 0;
        @include opacity(0);
        @include translate(0px, 60px);
        @include  transition(all 0.4s ease);
        visibility: hidden;
        .add_to_cart_button{
            &.added{
                display: none;
            }
            color: #000000;
            background: #fff;
            font-weight: 900;
            &:hover,&:active,&:focus{
                color: #fff;
                background: $theme-color;
            }
        }
        .wc-forward{
            margin: 0 auto;
        }
    }
    &:hover{
        .cart{
            @include translate(0px, 30px);
            visibility: visible;
            @include opacity(1);
        }
    }
}

.widget.product-bottom{
    display: table;
    height: auto;
    width: 100%;
}

/*
**  wpo category list
*/
.wpo-category-list{
    #wpo-accordion-categories{
        .category-title {
            border-bottom: $block-sidebar-hightlight-border;
            padding: $block-sidebar-list-hightlight-padding;
             @include rtl-padding-right(20px);
            @include rtl-padding-left(30px);
            width: 100%;
            background: url(#{$image-theme-skin}list-style.png) no-repeat 15px 25px $nocolor;
            a{
                font-weight: $block-sidebar-hightlight-font-weight;
                text-transform: $block-sidebar-hightlight-transform;
                font-size: $block-sidebar-hightlight-font-size;
                color: $block-sidebar-hightlight-content-color;
                &:hover{
                    color: $theme-color;
                }
            }
            a.dropdown{
                float: right;
                margin-left: 10px;
            }
            .total-product{
                display: inline-block;
            }
        }
        .panel-collapse{
            .category-title{
                padding-top: 0;
                padding-bottom: 0;
                border: none;
                background-position: 12px 12px;
                a{
                    font-size: $block-sidebar-hightlight-font-size - 1;
                }
            }    
        }
    }
}

.vertical-menu{
    .product-block{
        .name a{
            font-size: $product-name-font-size!important;
            line-height: $product-name-line-height!important;
            color:  $product-name-color!important;
            font-weight: $product-name-font-weight!important;
            text-transform: none!important;
            &:hover{
                color: $theme-color;
            }
        } 
    }
}    
.woocommerce .widget.product-bottom{
    background: $white;
    padding: 20px 0 60px;
    .wpo-pagination ul.pagination {
        margin-bottom: 0;
        margin-top: 15px;
    }
    .woocommerce-result-count {
        padding-top: 10px;
    }
}


.widget.widget-products.widget-related-products {
    .widget-title {
        border-top: none;
        padding-top: 0;
    }
    .background {
        position: relative;
        padding: 25px 30px 0px;
        .mask {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($black,.8);
        }
        .widget-title {
            color: $white;
            border-bottom: 1px solid rgba($white,.2);
            padding-bottom: 20px;
            margin-bottom: 20px;
        }
        .carousel-controls {
            top: -65px;
            .carousel-control {
                color: $white;
                border-color: rgba($white,.2);
                &:hover {
                    border-color: $white;
                }            
            }
        }        
        .product-wrapper .product .caption {
            padding-top: 20px;
        }
        .product-wrapper .product:hover .caption .meta .action-bottom {
            right: 15px;
        }
    }    
}