/**
 * Shopping Cart Page
 */

table.cart{
    img{
        width: 80px; 
    }
} 

.cart{
   table.group_table{
      tr{
         border-top: 1px solid #ccc;
         td{
            text-align: left;
            line-height: 1;
            border: none;
            width: 100%;
            display: block!important;
            vertical-align: middle;
            height: auto;
            margin: 0 0 10px;
            padding: 0;
            &:first-child{
               padding-top: 15px;
            }
            .quantity{
               margin: 0;
            }
         }
      }    
   }
} 
  
/* Checkout page  */
.woocommerce-info{
	padding: 8px 20px;
	margin-bottom: 10px;
	border: 1px solid transparent;
	border-radius: $alert-border-radius;
	@include alert-variant( #f5f5f5, #f5f5f5, $alert-info-text);
	a{
		color:$theme-color;
	}
}

.woocommerce-cart{
   .wc-proceed-to-checkout{
      margin-top: 30px;
   }
}
.woocommerce-account{
  #rememberme{
    margin: 12px 10px 0 0;
  }
}
.order-review{
	border: 10px solid #f5f5f5;
    box-sizing: border-box;
    margin-top: 8px;
    padding: 40px 32px 22px;
}
.woocommerce-checkout-payment{
	padding-top:$padding-large-vertical;
}
.payment_methods{
	font-size:$font-size-small;
	input{
		padding-top:4px;
		@include rtl-float-left();
	}
	label{
		font-weight: normal;

		@include rtl-margin-left( 20px );	
		a, img{
			display: block;
		}
	}
}

.woocommerce{
  #breadcrumb{
    color: $text-color-bb;
    font-weight: 300;
    a {
      color: $text-color-bb;
      font-weight: 300;
      &:hover{
        color: $theme-color;
      }
    }
  }
  &.single-product {
    #breadcrumb {
      margin-bottom: 30px;
    }
  }
  .woocommerce-result-count{
    padding-top: 30px;
  }
  .login {
    .form-row {
      margin-top: 17px;
      &.form-row-wide {
        margin-top: 0px;
      }
      .button {
        margin-right: 15px;
        background-color: $white;
        font-size: 12px;
        font-family: $font-family-second;
        font-weight: 700;
        border: 2px solid $theme-color;
        color: $black;
        border-radius: 3px;
        padding: 5px 20px;
        line-height: 26px;
        &:hover {
          background-color: $theme-color;
          color: $white;
        }
      }
      label.inline {
        display: inline-block;
        #rememberme {
          margin-top: 4px;
        }
      }
    }
   }
}

.woocommerce.post-type-archive-product,
.woocommerce.single-product {
  background: #1d2a37;
  .wpo-wrapper {
    background-color: $white;
    width: 1400px;
    margin: 0 auto;
  }
}

.woocommerce-lost-password {
  .form-row {
    &.form-row-first {
      @include rtl-padding-right(30px);
    }
    input.button {
      margin-top: 30px;
    }
  }
}
.checkout_coupon {
  overflow: hidden;
  input.button {
    border-radius: 3px;
    border: 2px solid $theme-color;
    color: $link-color;
    background: $white;
    font-weight: 700;
    font-family: $font-family-second;
    font-size: 12px;
    padding: 7px 28px;
  }
}