// Container
// -------------------------
$container-bg                                   : transparent !default;
$container-padding-top                          : 0px !default;
$container-padding-bottom                       : 0px !default; 
$container-border                               : 0px !default;

// Content
// -------------------------
$content-bg                                     : transparent !default;
$content-padding                                : ($grid-gutter-width + 10) 0 !default;

// Box Modules
// -------------------------
$block-module-margin-bottom                     : 30px !default;
$block-module-padding                           : 0 !default;
$block-module-border-color                      : $nocolor  !default; 
$block-module-heading-border                    : 0px !default;
$block-module-heading-transform                 : uppercase !default;
$block-module-heading-line-height               : normal !default;
$block-module-heading-bg                        : $nocolor !default;
$block-module-heading-padding                   : 0 0 20px !default;
$block-module-heading-margin                    : 0 0 25px !default;
$block-module-heading-font-size                 : 18px !default;
$block-module-heading-font-weight               : 700 !default;
$block-module-heading-color                     : $link-color !default;
$block-module-heading-show-separator            : none !default;
$block-module-heading-image-position            : 0 0 !default;
$block-module-content-bg                        : $white !default;
$block-module-content-border                    : 1px solid $border-color !default;
$block-module-content-padding                   : 20px !default;
$block-module-content-margin                    : 1px !default;
$block-module-content-radius                    : 0px !default;

$block-module-highlighted-bg                    : $theme-color !default;
$block-module-highlighted-border                : solid 2px $theme-color !default;

$block-module-footer-heading-color              : $white !default;

$block-product-padding                          : 0 !default;
$block-heading-letter-spacing                   : 0 !default;

// Sidebar
// -------------------------
$block-sidebar-module-border                    : 1px solid $border-color !default;
$block-sidebar-box-padding                      : 0 30px 25px !default; 
$block-sidebar-box-margin                       : 0 0 35px !default;

$block-sidebar-list-padding-vertical            : 13px 0px 13px 13px !default;
$block-sidebar-list-border-color                : $border-color !default;

$block-sidebar-hightlight-margin 				   : 0 0 20px !default;
$block-sidebar-heading-hightlight-bg            : $nocolor !default;
$block-sidebar-heading-hightlight-padding       : 0 !default;
$block-sidebar-heading-hightlight-margin    	   : 0 !default;
$block-sidebar-heading-hightlight-color         : $black !default;
$block-sidebar-heading-hightlight-margin-bottom : 0px !default;
$block-sidebar-heading-hightlight-font-size     : 14px !default;
$block-sidebar-heading-hightlight-font-weight   : 900 !default;
$block-sidebar-hightlight-content-bg			   : $nocolor !default;
$block-sidebar-hightlight-content-color			: #666666 !default; 
$block-sidebar-hightlight-content-padding		   : 0 !default;
$block-sidebar-hightlight-border   				   : 1px solid rgba(0, 0, 0, 0.1) !default;
$block-sidebar-hightlight-font-size 			   : 12px !default;	
$block-sidebar-hightlight-transform 			   : uppercase !default;
$block-sidebar-hightlight-font-weight			   : 300 !default;						
$block-sidebar-link-hightlight-color            : $white !default;
$block-sidebar-link-hightlight-hover-color      : $theme-color !default;
$block-sidebar-list-hightlight-border-color     : #393939 !default;
$block-sidebar-list-hightlight-font-size        : 10px !default;
$block-sidebar-list-hightlight-padding          : 17px 15px !default;
$block-sidebar-list-hightlight-image            : url('#{$image-theme-path}dot.jpg') 0 22px no-repeat !default;
$block-sidebar-list-image                       : url('#{$image-theme-path}dot.jpg') 0 22px no-repeat !default;

$block-sidebar-heading-padding                  : 15px 30px   !default;
$block-sidebar-heading-margin                   : 0 -30px 25px !default;
$block-sidebar-heading-font-size                : 13px !default;
$block-sidebar-heading-color                    : $theme-color !default; 
$block-sidebar-heading-line-height              : 20px !default;
$block-sidebar-heading-font-weight				: 700 !default;
$block-sidebar-box-background					: $white !default;
	
$block-sidebar-widget-border                    : 1px solid lighten($border-color, 3%) !default;

/********* LAYOUT **************/

//Header
// -------------------------
$header-height                                  : 80px !default;
$header-bg                                      : transparent !default;
$header-font-size                               : $font-size-base !default;
$header-border                                  : 0 !default;
$header-color                                   : $black !default;
$header-link-color                              : $black !default;
$header-link-hover-color                        : $theme-color !default;
$header-icon-color                              : $black !default;
$header-icon-font-size                          : 13px !default;
$header-list-font-size                          : 12px !default;
$header-padding-top                             : 20px !default;
$header-padding-bottom                          : 5px !default;
$header-content-align                           : center !default;
$header-margin-bottom                           : 0 !default;

// logo
$logo-padding                                    : 0 30px !default;

// Topbar
// -------------------------
$topbar-bg                                      : #222222 !default;
$topbar-link-color                              : $light-gray !default;
$topbar-link-hover-color                        : $theme-color !default;
$topbar-color                                   : $light-gray !default;
$topbar-border                                  : 0 !default;
$topbar-font-size                               : 12px !default;
$topbar-icon-color                              : $gray-light !default;
$topbar-icon-font-size                          : 13px !default;
$topbar-text-transform                          : none !default;
$topbar-padding-top                             : 0 !default;
$topbar-padding-bottom                          : 0 !default;

// Footer
// -------------------------  
$footer-bg                                      : #181818 !default;
$footer-color                                   : $color-1 !default;
$footer-transform                               : none !default;
$footer-font-size                               : 13px !default; 
$footer-border                                  : 1px solid rgba($white,.1) !default;
$footer-padding-top                             : 60px !default;
$footer-padding-bottom                          : 0px !default;
$footer-text-hightlight                         : $white !default;
$footer-link-font-size							: 13px !default;
$footer-column-margin                           : 0 0 25px 0 !default;
$footer-link-color                              : #666666 !default;
$footer-link-hover-color                        : $theme-color !default;
$footer-icon-color                              : darken($white, 20%) !default;
$footer-icon-font-size                          : 13px !default;
$footer-heading-font-size                       : 13px !default;
$footer-heading-color                           : $white !default;
$footer-heading-margin                          : 0 0 15px !default;
$footer-heading-padding                         : 0 0 0px !default;
$footer-heading-display                         : none !default;
$footer-heading-transform                       : uppercase !default;
$footer-list-transform                          : none !default;
$footer-list-font-size                          : 13px !default; 
$footer-list-margin                             : 0 0 10px !default;
$footer-list-light-height                       : 2.5 !default;  

$footer-newsletter-padding                      : 25px !default;
$footer-newsletter-bg                           : $theme-color !default;
$footer-newsletter-color                        : #484848 !default;
$footer-newsletter-heading-font-size            : 18px !default;

$footer-top-bg 									: $white !default;
$footer-top-color  								: $black !default;
$footer-top-padding-top							: 12px !default; 
$footer-top-padding-bottom						: 12px !default;
$footer-top-font-size							: 12px !default;
$footer-top-letter-spacing						: 2px !default;
$footer-top-border-color 						: rgba(0, 0, 0, 0.1);
// Copyright
// -------------------------
$copyright-bg                                   : #181818 !default;
$copyright-color                                : $color-1 !default;
$copyright-link-color                           : $theme-color !default;
$copyright-padding-top                          : 30px !default;
$copyright-padding-bottom                       : 30px !default;
$copyright-font-size							: 13px !default;
$copyright-font-weight							: 400 !default;

$del-font-size									: 12px !default;
$del-color										: #999999;