// Color
// -------------------------
$green           : #57bf6d !default;
$white           : #fff !default;
$black           : #000 !default;
$nocolor         : transparent !default;
$yellow          : #e9c931 !default;
$yellow-dark     : #f2cb2e !default;
$red             : #e42234 !default;
$red-dark        : #ce4f3e !default;
$orange          : #fbaf3f !default;
$blue            : #33aebd !default;
$dark            : #121B1F !default;
$cyan            : #01a3d4 !default;
$turquoise       : #9c619c !default;
$brown-light	 : #eb5454 !default; //color primary skin fashion (skin default)
$color-1		 : #666666 !default;
$color-2		 : #b1b1b1 !default;
$color-3	     : #909cad !default;
$color-4	     : #FCFCFC !default;
$color-5	     : #aaaaaa !default;
$color-6	     : #303030 !default;
$color-7	     : #222e39 !default;
$color-8	     : #2d3a47 !default;
$color-9	     : #2966b9 !default;
$color-10	     : #82a8e6 !default;
$color-11		 : #34495e !default;
$color-12        : #a5acb8 !default;
$color-13        : #42586e !default;
$color-14        : #878787 !default;
$color-15		 : #d82731 !default;
$color-16		 : #eaeaea !default;
//Color header cd
$cd-topbar-bg	 : #3B424C !default;

$light-gray 	: $brown-light !default;
$font-weight-base	: 1.2em !default; 
// Align
// -------------------------
$align-center    : center !important;
$align-left      : left !important;
$align-right     : right !important;
 

//Font
//--------------------------

$theme-font-base          : '../fonts/' !default;


$font-family-second		: 'Ubuntu', sans-serif !default;  

//Font slide 
$font-slide-primary		: "Raleway" !default;
$font-family-third		: 'Lato', sans-serif !default;
$font-family-forth		: 'Montserrat', sans-serif !default;

// Text transform
// -------------------------
$text-none       : none !important;
$text-uppercase  : uppercase !important;
$text-capitalize : capitalize !important;
$text-lowercase  : lowercase !important;
$text-inherit    : inherit !important;


// Theme Margin, Padding
// -------------------------
$theme-margin    : 20px !default;
$theme-padding   : 20px !default;