.heading.heading-v10,
.heading.heading-v11,
.heading.heading-v12,
.heading.heading-v13,
.heading.heading-v14{
   small.des{
      font-size: 18px;
      font-weight: 300;
      color: $black;
      width: 60%;
      @media(max-width: $screen-sm-max){
         width: 95%;
      }
   }
   &.light-style:after{
      background: $white;
   }
}

.wpo-footer a{
   &:hover, &:active, &:focus{
      color: $theme-color;
   }
}

.navbar-mega .navbar-nav > li .dropdown-menu li a:hover{
   color: $theme-color;
}

.navbar-mega .navbar-nav > li > a{
   &:hover, &:focus{
      color: $theme-color;
   }
} 

.#{$app-prefix}-footer{
   .#{$block-selector} {
      .#{$block-heading-selector}{
         font-weight: 600;
         padding: 0;
         &:after{
            content: none;
         }
      }   
   }
}      