/*
Theme Name: Notiz
Theme URI: http://bit.ly/opalwp
Author: the WPOpal team
Author URI: http://bit.ly/opalwp
Description: The Notiz Magazine theme for WordPress by <a href="http://bit.ly/opalwp">OpalTeam</a> is a fully responsive theme that looks great on any device. That's the best for any kind of online shoping sites. <a href="http://bit.ly/opalwp">Follow us on Themeforest to receive newest updates</a>
Version: 1.1.2 Release 20-Jan-2016
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: light, gray, white, fluid-layout, responsive-layout, custom-background, custom-header, custom-menu, editor-style, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: Octopus

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

.wp-caption{}

.wp-caption-text{}

.sticky{}

.gallery-caption{}

.bypostauthor{}

.alignright{}

.alignleft{}

.aligncenter{}

.screen-reader-text{}

.size-thumbnail {
	max-width: 100%;
	height: auto;
}